{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員投票指南:議員配合款-總覽</title>
    <meta property="og:title" content="議員投票指南:議員配合款-總覽"/>
    <meta itemprop="name" content="議員投票指南:議員配合款-總覽"/>
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
{% endblock title %}

{% block right %}
    <div>
        <div class="text-center">
            <h2>議員配合款</h2>
            <p>是什麼？
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ref_description"><font>詳細說明 <i class="fa fa-angle-down"></i></font></button>
            </p>
        </div>
        <div id="ref_description" class="collapse">
            <div class="description">
                <b>說明</b>：議員配合款是由地方政府制定，分配一定款項。如果地方有需求的話，可以找議員來陳情，「建議」政府撥款。<u>由議員提案，縣市政府核定預算，議員雖無決定權，但同時身兼建議預算、審查預算的角色。</u>「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是議員配合款，各縣市處理狀況不一。<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-condensed table-striped sortable" >
                <thead>
                    <tr style="background-color: #E1D0D0";>
                        <th>協會</th>
                        <th>筆數</th>
                        <th>通過預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in associations %}
                    <tr>
                        <td style="text-align:center; vertical-align:middle;">
                            <a href="{% url "suggestions:county_overview" %}?keyword={{obj.label}}">{{obj.label}}</a>
                            {% if forloop.counter == 1 %}
                            <a id="{{obj.label}}" class="btn btn-default btn-sm pull-right association_btn" href="#{{obj.label}}_anchor">
                            <i class="fa fa-envelope-open-o fa-fw"></i></a>
                            {% else %}
                            <a id="{{obj.label}}" class="btn btn-default btn-sm pull-right association_btn" href="#{{obj.label}}_anchor">
                            <i class="fa fa-envelope-o fa-fw"></i></a>
                            {% endif %}
                        </td>
                        <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                        <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            {% for association in associations %}
            <a class="anchor" id="{{association.label}}_anchor"></a>
            <div id="{{association.label}}_detail" class="panel panel-default">
                <div class="panel-heading">{{association.label}}</div>
                <div class="panel-body">
                    全台共花費：<span class="price">{{association.sum}}</span>
                </div>
                <table class="table table-bordered table-condensed table-striped sortable" >
                    <thead>
                        <tr style="background-color: #E1D0D0";>
                            <th>縣市</th>
                            <th>筆數</th>
                            <th>通過預算</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in association.detail %}
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <a href="{% url "suggestions:county_overview" %}">{{obj.county}}</a>
                            </td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script src="{% static "js/stacktable.min.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready( function() {
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index, ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
            $('.panel:nth-of-type(1) ~ .panel').hide();
            $('.association_btn').on('click', function(){
                $('.association_btn i').removeClass('fa-envelope-open-o').addClass('fa-envelope-o');
                $(this).children('i').removeClass('fa-envelope-o').addClass('fa-envelope-open-o');
                $('.panel').hide();
                $('#'+$(this).attr('id')+'_detail').show();
            });
        });
    </script>
{% endblock script %}
