{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員配合款-得標廠商:{{bid_by}}</title>
    <meta property="og:title" content="議員配合款-{{bid_by}}"/>
    <meta itemprop="name" content="議員配合款-{{bid_by}}">
    <link href="{% static 'css/g0v.css' %}" rel="stylesheet">
{% endblock %}

{% block css_file %}
<style>
    body, html {
      background-color: #f5f5f5;
    }
</style>
{% endblock css_file %}

{% block social_meta %}
    <meta property="og:description" content="議員配合款為縣市政府預算，單筆預算十萬元以上須公開招標，十萬元以下則不用公開招標‵，得標廠商即取得該筆預算的廠商"/>
    <meta itemprop="description" content="議員配合款為縣市政府預算，單筆預算十萬元以上須公開招標，十萬元以下則不用公開招標‵，得標廠商即取得該筆預算的廠商"/>
{% endblock social_meta %}

{% block right %}
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
    <div class="page-header">
        <h2>
            {{bid_by}}
            <small><a href="http://company.g0v.ronny.tw/index/search?q={{bid_by}}" target="_blank"><u>董事與股東</u></a></small>
        </h2>
        <p> 得標案中，提案議員的分布</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div id="councilors_pie" align="center"></div>
        </div>
        <div class="col-sm-4">
            <table class="table table-bordered table-condensed sortable table-striped" >
                <thead>
                  <tr style="background-color: #E1D0D0;">
                        <th style="width: 20%">議員</th>
                        <th style="width: 25%">政黨</th>
                        <th style="width: 5%">提案次數</th>
                        <th style="width: 30%">通過預算</th>
                        <th style="width: 20%">每筆平均預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for councilor in councilors %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">
                                <a href="{% url 'councilors:suggestor' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">
                                {% include "common/name_color_by_party.html" %}
                                </a>
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                {{councilor.party}}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {{councilor.count}}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if councilor.sum == None %}
                                    【來源檔案無資料】
                                {% else %}
                                    <p class="price">{{councilor.sum}}</p>
                                {% endif %}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if councilor.sum != None %}
                                    <p class="price">{{councilor.sum|divide:councilor.count}}</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h4><center>{{bid_by}}的得標案中，提案議員的政黨分布</center></h4>
            <div id="party_pie" align="center"></div>
        </div>
        <div class="col-sm-4">
            <table class="table table-bordered table-condensed sortable table-striped" >
                <thead>
                    <tr style="background-color: #E1D0D0;">
                        <th style="width: 40%">提案議員的政黨</th>
                        <th style="width: 10%">提案次數</th>
                        <th style="width: 30%">通過預算</th>
                        <th style="width: 20%">每筆平均預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in parties %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">
                                {{obj.party}}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {{obj.count}}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if obj.sum == None %}
                                    【來源檔案無資料】
                                {% else %}
                                    <p class="price">{{obj.sum}}</p>
                                {% endif %}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if obj.sum != None %}
                                    <p class="price">{{obj.sum|divide:obj.count}}</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<hr>
<div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% include "suggestions/d3/party_pie.html" %}
    {% include "suggestions/d3/councilors_pie.html" %}
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
            relax_councilors();
            relax_party();
        });
    </script>
{% endblock script %}
