{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員配合款-各縣市總覽</title>
    <meta property="og:title" content="議員配合款-各縣市總覽"/>
    <meta itemprop="name" content="議員配合款-各縣市總覽"/>
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="議員配合款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是議員配合款。"/>
    <meta itemprop="description" content="議員配合款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是議員配合款。"/>
{% endblock social_meta %}

{% block right %}
    <div>
        <div class="text-center">
            <h2>議員配合款</h2>
            <p>配合款是什麼？直接來看個幾筆吧！
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ref_description"><font>詳細說明 <i class="fa fa-angle-down"></i></font></button>
            </p>
        </div>
        <div id="ref_description" class="collapse">
            <div class="description">
                議員配合款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是議員配合款，各縣市處理狀況不一。
            </div>
        </div>
        <br>
    </div>
    <div class="text-center">
        {% include "suggestions/suggestion_search.html" with placeholder_text="例:按摩椅 協會 國小" %}
    </div>
    <div class="well well-sm">
        全台 {{suggestions.paginator.count}} 個搜尋結果，這是第{{suggestions.number}}頁（共{{ suggestions.paginator.num_pages }}頁）
    </div>
    {% include "common/suggestions.html" with include_councilors=True %}
    {% include "common/pagination.html" with items=suggestions %}
    <div class="row">
        {% regroup counties by county as county_list %}
        {% for county in county_list %}
            {% with county=county.grouper %}
            <div class="col-sm-12">
                <hr>
                <a id="{{county}}" href="#{{county}}" class="anchor"><i class="fa fa-link"></i></a>
            </div>
            <div id="years_bar_{{county}}" class="col-sm-6" style="margin-left: 0px;" align="center"></div>
            <div class="pull-right">
                資料來源
                <a href="{{county|suggestions_offical_link}}" target="_blank">{{county}}主計處</a></li><br>
                    <br>
                </ul>
            </div>
            {% endwith %}
            <div class="col-sm-6">
                <table class="table table-bordered table-condensed table-striped sortable" >
                    <thead>
                        <tr style="background-color: #E1D0D0";>
                            <th>縣市</th>
                            <th>年度</th>
                            <th>小額採購<a rel="tooltip" title="十萬以下之政府採購，可逕洽廠商無須公開招標，詳可見「中央機關未達公告金額採購招標辦法」第五條"><i class="fa fa-question-circle"></i></a>案數</th>
                            <th>案數</th>
                            <th>通過預算</th>
                            <th>每筆平均</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in county.list %}
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">{{obj.county}}</td>
                            <td style="text-align:center; vertical-align:middle;">{{obj.suggest_year}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.small_purchase}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum|divide:obj.count}}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'suggestions:each_year' county=county.grouper %}"><i class="fa fa-handshake-o fa-fw"></i> 錢是怎麼分配給每位議員的？</a>
                    <a class="list-group-item" href="{% url 'suggestions:positions' county=county.grouper order_by='sum' option='all' %}"><i class="fa fa-map-signs fa-fw"></i> 錢是怎麼分配在各地的？</a>
                    <a class="list-group-item" href="{% url 'suggestions:lists' county=county.grouper %}"><i class="fa fa-list fa-fw"></i> 一筆一筆看</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script src="{% static "js/stacktable.min.js" %}" type="text/javascript"></script>
    {% regroup counties by county as county_list %}
        {% for county in county_list %}
            {% include "suggestions/d3/years_bar.html" with county=county.grouper data=county.list %}
        {% endfor %}
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('table').cardtable();
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 1});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
