{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:工程建議款-各縣市總覽</title>
    <meta property="og:title" content="議員投票指南:工程建議款-各縣市總覽"/>
    <meta itemprop="name" content="議員投票指南:工程建議款-各縣市總覽">
{% endblock %}

{% block right %}
    <div class="page-header">
        <h2 class="text-center">議員工程建議款</h2>
        <p class="text-center">是什麼？直接來看個幾筆吧！
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ref_description"><font>詳細說明 <i class="fa fa-angle-down"></i></font></button>
            <div id="ref_description" class="collapse">
                <div class="description">
                    <b>說明</b>：工程建議款是由地方政府制定，分配一定款項。如果地方有需求的話，可以找議員來陳情，「建議」政府撥款進行建設。<u>由議員提案地方工程內容，縣市政府核定預算金額，議員雖無決定權，但同時身兼建議預算、審查預算的角色。</u>「議員配合款」、「小型工程建議款」、「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是工程建議款，各縣市處理狀況不一。<br>
                </div>
            </div>
        </p>
    </div>
    {% include "common/suggestions.html" %}
    <div class="row-fluid">
        <hr>
        <div class="text-center">
            {% include "common/counties_button.html" with namespace='suggestions:county_overview' id=True %}
        </div>
        {% regroup counties by county as county_list %}
            {% for county in county_list %}
                {% with county=county.grouper %}
                <div class="span12">
                    <a id="{{county}}" href="#{{county}}"><i class="fa fa-link"></i></a>
                </div>
                <div id="years_bar_{{county}}" class="span6" style="margin-left: 0px;" align="center"></div>
                <div class="pull-right">
                    資料來源
                    <a href="{{county|suggestions_offical_link}}" target="_blank">{{county}}主計處</a></li><br>
                        <br>
                    </ul>
                </div>
                {% endwith %}
                <div class="span6">
                    <table class="table table-bordered table-condensed table-striped sortable" >
                        <thead>
                            <tr style="font-weight:bold;background-color: #E1D0D0";>
                                <th>縣市</th>
                                <th>年度</th>
                                <th>案數</th>
                                <th>小額採購<a rel="tooltip" title="十萬以下之政府採購，可逕洽廠商無須公開招標，詳可見「中央機關未達公告金額採購招標辦法」第五條"><i class="fa fa-question-circle"></i></a>案數</th>
                                <th>通過預算</th>
                                <th>每筆平均</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in county.list %}
                            <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                                <td style="text-align:center; vertical-align:middle;">{{obj.county}}</td>
                                <td style="text-align:center; vertical-align:middle;">{{obj.suggest_year}}</td>
                                <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                                <td style="text-align:right; vertical-align:middle;">{{obj.small_purchase}}</td>
                                <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                                <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum|divide:obj.count}}</p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p><a href="{% url 'suggestions:each_year' county=county.grouper %}" rel="tooltip" title="錢是怎麼分配給每位議員的"><i class="fa fa-handshake-o"> 錢是怎麼分配給每位議員的？</i></a></p>
                    <p><a href="{% url 'suggestions:positions' county=county.grouper order_by='sum' option='all' %}" rel="tooltip" title="錢是怎麼分配在各地的"><i class="fa fa-map-signs"> 錢是怎麼分配在各地的？</i></a></p>
                    <p><a href="{% url 'suggestions:lists' county=county.grouper %}" rel="tooltip" title="一筆一筆看"><i class="fa fa-list"> 一筆一筆看</i></a></p>
                </div>
                <hr>
        {% endfor %}
    </div>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% regroup counties by county as county_list %}
        {% for county in county_list %}
            {% include "suggestions/d3/years_bar.html" with county=county.grouper data=county.list %}
        {% endfor %}
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
