{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員配合款-{{suggestion.county}}-{{suggestion.suggestion}}</title>
    <meta property="og:title" content="議員配合款-{{suggestion.county}}-{{suggestion.suggestion}}"/>
    <meta itemprop="name" content="議員配合款-{{suggestion.county}}-{{suggestion.suggestion}}">
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
    <style>
      #map, #pano {
        float: right;
        height: 400px;
        width: 45%;
      }
    </style>
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="花費：{{suggestion.approved_expense}}元；地點：{{suggestion.position}}"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{suggestion.county}}.png"/>
    <meta itemprop="description" content="花費：{{suggestion.approved_expense}}元；地點：{{suggestion.position}}"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{suggestion.county}}.png"/>
{% endblock social_meta %}

{% block right %}
    <br>
    <div class="col-sm-4" style="margin-left: 0px;">
    {% include "common/suggestion.html" with obj=suggestion include_councilors=True %}
    </div>
    <div class="col-sm-8">
        <div id="pano"></div>
        <div id="map"></div>
    </div>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
      function geocodeAddress(address, fn) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            fn({lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()});
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      function initialize() {
        var address = '{{address}}';
        geocodeAddress(address, function(place){
          var map = new google.maps.Map(document.getElementById('map'), {
            center: place,
            zoom: 17
          });
          var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: place,
              pov: {
                pitch: 10
              }
            });
          map.setStreetView(panorama);
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLqASWdh57qsuwbou7XBlHxnEAbuNBCIo&callback=initialize">
    </script>
    <script>
        $(document).ready( function() {
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 1});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
