{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{county}}-議員配合款總覽</title>
    <meta property="og:title" content="議員投票指南:{{county}}-議員配合款總覽"/>
    <meta itemprop="name" content="議員投票指南:{{county}}-議員配合款總覽">
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
{% endblock title %}

{% block right %}
    <div class="jumbotron row" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{county}} - 議員配合款</h2>
    </div>
    <div class="text-center">
        {% include "common/constituency_search.html" with placeholder_text="例:按摩椅 協會 國小" %}
    </div>
    <div class="well well-sm">
        {{ suggestions.paginator.count }}個搜尋結果，這是第{{ suggestions.number }}頁（共{{ suggestions.paginator.num_pages }}頁）
    </div>
    {% include "common/suggestions.html" with include_councilors=True %}
    {% include "common/pagination.html" with items=suggestions %}
    <hr>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    {% include "common/county_district_js.html" %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script src="{% static "js/stacktable.min.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready( function() {
            $('table').cardtable();
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 1});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
