{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員建議或配合款-{{county}}-總覽</title>
    <meta property="og:title" content="議員建議或配合款-{{county}}-總覽"/>
    <meta itemprop="name" content="議員建議或配合款-{{county}}-總覽">
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
{% endblock title %}

{% block css_file %}
<style>
    body, html {
      background-color: #f5f5f5;
    }
</style>
{% endblock css_file %}

{% block social_meta %}
    <meta property="og:description" content="議員建議或配合款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
    <meta itemprop="description" content="議員建議或配合款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
{% endblock social_meta %}

{% block right %}
<input class="inv" id="page" type="text">
<div class="preload abs"></div>
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
    <div class="jumbotron" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>
            {{county}} - 議員建議或配合款
            <h4>

                資料來源：<a href="{{county|suggestions_offical_link}}" target="_blank">{{county}}主計處「議員所提地方建設建議事項」</a>
            </h4>
        </h2>
        {% if county == '宜蘭縣' or county == '彰化縣' %}
        <h3>
            <i class="fa fa-warning text-danger"> {{county}}政府不提供議員姓名</i>
        </h3>
        {% endif %}
    </div>
    <div class="text-center">
        {% include "common/suggestions_search.html" with placeholder_text="例:按摩椅 協會 國小" %}
    </div>
    <div class="well well-sm">
        {{ suggestions.paginator.count }}個搜尋結果，這是第{{ suggestions.number }}頁（共{{ suggestions.paginator.num_pages }}頁）
    </div>
    {% include "common/suggestions.html" with include_councilors=True %}
    {% include "common/pagination.html" with items=suggestions %}
    </div>
</div>
<hr>
<div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    {% include "common/county_district_js.html" %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script src="{% static "js/stacktable.min.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready( function() {
            $('table').cardtable();
            $("[rel='tooltip']").tooltip();
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 1});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
