{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員投票指南:工程建議款</title>
    <meta property="og:title" content="議員投票指南:工程建議款"/>
    <meta itemprop="name" content="議員投票指南:工程建議款">
{% endblock %}

{% block right %}
    <div class="page-header">
        <p class="lead text-center">
        </p>
    <div class="description">
    <b>說明</b>：工程建議款是由地方政府制定，分配一定款項。如果地方有需求的話，可以找議員來陳情，「建議」政府撥款進行建設。<u>由議員提案地方工程內容，縣市政府核定預算金額，議員雖無決定權，但同時身兼建議預算、審查預算的角色。</u>「議員配合款」、「小型工程建議款」、「議員建議款」、「基層建設配合款」、「議員所提地方建設建議事項」指的都是工程建議款，各縣市處理狀況不一。<br>
    </div>
    <div class="row-fluid">
        <div class="span8">
        <h4><center>提案次數與金額 - 依政黨區分</center></h4>
            <div id="party_pie" align="center">
            </div>
        </div>
        <div class="span4">
            <table class="table table-bordered table-condensed sortable zebra" >
                <thead>
                    <tr style="font-weight:bold;background-color: #E1D0D0;">
                        <th>政黨</th>
                        <th>提案次數</th>
                        <th>通過預算</th>
                        <th>每筆平均預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in parties %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">{{obj.party}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum|divide:obj.count}}</p></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span8">
         <h4><center>提案次數與金額 - 依各縣市各年度區分</center></h4>
            <div id="county_pie" align="center">
            </div>
        </div>
        <div class="span4">
            <table class="table table-bordered table-condensed sortable zebra" >
                <thead>
                    <tr style="font-weight:bold;background-color: #E1D0D0";>
                        <th>縣市</th>
                        <th>提案次數</th>
                        <th>通過預算</th>
                        <th>每筆平均預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in counties %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">{{obj.county}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum|divide:obj.count}}</p></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <h7><center>提案次數與金額 - 依議員區分</center></h7><br>
        <div class="text-center">（點擊議員連結可檢視每件提案工程得標廠商）</div>
        <div class="span12">
            <table class="table table-bordered table-condensed sortable zebra" >
                <thead>
                    <tr style="font-weight:bold;background-color: #E1D0D0;">
                        <th>姓名</th>
                        <th>提案次數</th>
                        <th>通過預算</th>
                        <th>每筆平均預算</th>
                        <th>縣市</th>
                        <th>政黨</th>
                        <th>職稱</th>
                        <th>行政區</th>
                        <th>在職情形</th>
                    </tr>
                </thead>
                <tbody>
                    {% for councilor in councilors %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">
                                <a href="{% url 'councilors:suggestor' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">
                                {% include "common/name_color_by_party.html" %}
                                </a>
                            </td>
                            <td style="text-align:center; vertical-align:middle;">{{councilor.count}}</td>
                            <td style="text-align:center; vertical-align:middle;">{% if councilor.sum %}<p class="price">{{councilor.sum}}</p>{% else %}0{% endif %}</td>
                            <td style="text-align:center; vertical-align:middle;">{% if councilor.sum %}<p class="price">{{councilor.sum|divide:councilor.count}}</p>{% else %}0{% endif %}</td>
                            <td style="text-align:center; vertical-align:middle;">{{councilor.county}}</td>
                            <td style="text-align:center; vertical-align:middle;">{{councilor.party}}</td>
                            <td style="text-align:center; vertical-align:middle;">{{councilor.title}}</td>
                            <td style="text-align:center; vertical-align:middle;"><abbr title="{{ councilor.district }}">{{ councilor.district|truncatechars:10 }}</abbr></td>
                            <td style="text-align:center; vertical-align:middle;">{% if not councilor.in_office %}已去職{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% include "suggestions/d3/party_pie.html" %}
    {% include "suggestions/d3/county_pie.html" %}
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
            relax_party();
            relax_county();
        });
    </script>
{% endblock script %}
