{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:工程建議款</title>
    <meta property="og:title" content="議員投票指南:工程建議款"/>
    <meta itemprop="name" content="議員投票指南:工程建議款">
{% endblock %}

{% block right %}
    <div class="hero-unit row" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{county}} - 議員工程建議款</h2>
    </div>
    <div class="row-fluid">
        {% regroup years by suggestion__suggest_year as year_list %}
            {% for year in year_list %}
                <div id="year_bar_{{year.grouper}}" class="span4" style="padding-top: 40px; margin-top: -40px; margin-left: 0px;" align="center"></div>
        {% empty %}
        <p class="alert alert-error">{{county}}沒有公布議員姓名</p>
        {% endfor %}
    </div>
    <hr>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% regroup years by suggestion__suggest_year as year_list %}
        {% for year in year_list %}
            {% include "suggestions/d3/year_bar.html" with year=year.grouper data=year.list id='#year_bar_'|add:year.grouper %}
        {% endfor %}
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('#suggestions').addClass('active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
