{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員配合/建議款-{{county}}-各議員每年分配金額</title>
    <meta property="og:title" content="議員配合/建議款-{{county}}-各議員每年分配金額"/>
    <meta itemprop="name" content="議員配合/建議款-{{county}}-各議員每年分配金額">
{% endblock %}

{% block css_file %}
<style>
    body, html {
      background-color: #f5f5f5;
    }
</style>
{% endblock css_file %}

{% block social_meta %}
    <meta property="og:description" content="議員配合/建議款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
    <meta itemprop="description" content="議員配合/建議款為縣市政府預算，議員可「建議」政府撥款。議員雖無決定權，但同時身兼建議預算、審查預算的角色，縣市政府通常來者不拒。"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
{% endblock social_meta %}

{% block right %}
<input class="inv" id="page" type="text">
<div class="preload abs"></div>
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
    <div class="jumbotron" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{county}} - 議員配合/建議款</h2>
        <p>議員每年度提案且通過的金額，由高到低排列。<i class="fa fa-info-circle"><small> 備註：多人共同提案的金額以平均金額來計算</small></i></p>
        資料來源：<a href="{{county|suggestions_offical_link}}" target="_blank">{{county}}主計處「議員所提地方建設建議事項」</a>
    </div>
    <div class="row">
        {% regroup years by suggestion__suggest_year as year_list %}
            {% for year in year_list %}
                <a class="anchor" id="{{year.grouper}}"></a>
                <div id="year_bar_{{year.grouper}}" class="col-sm-4" style="margin-left: 0px;" align="center"></div>
        {% empty %}
        <p class="alert alert-error">{{county}}沒有公布議員姓名</p>
        {% endfor %}
    </div>
    </div>
</div>
<hr>
<div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% regroup years by suggestion__suggest_year as year_list %}
        {% for year in year_list %}
            {% include "suggestions/d3/year_bar.html" with year=year.grouper data=year.list id='#year_bar_'|add:year.grouper %}
        {% endfor %}
    <script>
        $(document).ready( function() {
            $('#suggestions').addClass('active');
        });
    </script>
{% endblock script %}
