{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{county}}-議員配合款-各議員每年分配金額</title>
    <meta property="og:title" content="議員投票指南:{{county}}-議員配合款-各議員每年分配金額"/>
    <meta itemprop="name" content="議員投票指南:{{county}}-議員配合款-各議員每年分配金額">
{% endblock %}

{% block right %}
    <div class="jumbotron row" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{county}} - 議員配合款</h2>
        <p>議員每年度提案且通過的金額，由高到低排列。<i class="fa fa-info-circle"><small> 備註：多人共同提案的金額以平均金額來計算</small></i></p>
    </div>
    <div class="row">
        {% regroup years by suggestion__suggest_year as year_list %}
            {% for year in year_list %}
                <a class="anchor" id="{{year.grouper}}"></a>
                <div id="year_bar_{{year.grouper}}" class="col-sm-4" style="margin-left: 0px;" align="center"></div>
        {% empty %}
        <p class="alert alert-error">{{county}}沒有公布議員姓名</p>
        {% endfor %}
    </div>
    <hr>
    <div id="disqus_thread"></div>
{% endblock %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% regroup years by suggestion__suggest_year as year_list %}
        {% for year in year_list %}
            {% include "suggestions/d3/year_bar.html" with year=year.grouper data=year.list id='#year_bar_'|add:year.grouper %}
        {% endfor %}
    <script>
        $(document).ready( function() {
            $('#suggestions').addClass('active');
        });
    </script>
{% endblock script %}
