{% load extras %}
{% load staticfiles %}
<style>
</style>
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
{% with 'js/regional-councilors-constituencies-2014-'|add:county|add:'.js' as geo_static %}
<script src="{% static geo_static %}" type="text/javascript"></script>
{% endwith %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>
<script>
    var election_year = "{{election_year}}";
    var county = "{{county}}";
    var features = geodata.features;

    var center = d3.geo.centroid(geodata)

    var path = d3.geo.path().projection(
        d3.geo.mercator().center(center).scale(60000)
    );

    var svg = d3.select("svg");

    var p = svg.selectAll("path").data(features)
    .enter().append("path").attr("d", path);

    var color = d3.scale.category20();

    p.attr({
        d: path,
        fill: function(d, i) {
            return color(i);
        }
    })
    .on('click', function(d) {
        return window.location.href = "/candidates/" + election_year + "/" + county + "/" + parseInt(d.properties.CONSTIT_ID.replace( /[^\d.]/g, '' )) + "/";
    })
    .on('mouseover', function(d) {
        $("#" + d.properties.CONSTIT_ID).addClass('btn-moonc');
    })
    .on('mouseout', function(d) {
        $("#" + d.properties.CONSTIT_ID).removeClass('btn-moonc');
    });

</script>
