- var pageTitle =""
- var fb_appId = ""
- var kws = ""
- var desc = ""
- var og_title = ""
- var og_desc = ""
- var og_url=""
- var og_img =""
- var vp_setting ="width=480"
- var fav_url = ""
    title= pageTitle
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="keywords", content= kws)
    meta(name="description", content= desc)
    meta(property="og:title", content= og_title)
    meta(property="og:description", content= og_desc)
    meta(property="og:type" ,content="website")
    meta(name="og:url", content= og_url)
    meta(name="fb:app_id", content= fb_appId )
    meta(property="og:image", content= og_img)
    meta(name="viewport", content= vp_setting)
    link(rel="shortcut icon", href= fav_url)
    link(rel="stylesheet", href="./lib/css/normalize.css")
    link(rel="stylesheet", href="./lib/css/bootstrap.min.css")
    link(rel="stylesheet" , href="./lib/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="./css/all.min.css")
    
    script(src="./lib/html5shiv.min.js")

    //- script(src="./lib/respond.min.js")