
nav.navbar.navbar-fixed-top
    .bg-cover.abs
    .container.classJ.contain-1200
       
        .navbar-header
            button.hidden-xs.navbar-search.navbar-toggle(type="button")
                input(type="text" , placeholder="輸入關鍵字" )
                img.img-responsive(src="img/dest/search.jpg")
            button.navbar-menu.navbar-toggle(type="button",data-toggle="collapse")

                span.sr-only Toggle navigation
                span.icon-bar.top
                span.icon-bar.mid
                span.icon-bar.bottom

            // NAV大小調整 0614
            
            a.tracklink.navbar-brand.col-xs-6.col-sm-3.inv(data-ga="logo",href="./",data-href="./")
                img.img-responsive(src="./img/dest/logo.png")
            #navbar.relat.col-xs-12.col-sm-7.pull-right
                ul.nav.navbar-nav.relat

                    .navbar-toggle.navbar-search-mb(type="button").hidden-sm.hidden-md.hidden-lg
                        input(type="text" , placeholder="輸入關鍵字" )
                        img.img-responsive(src="img/dest/search.jpg")
                    li
                        a.tracklink.custom(data-ga="index",data-href="#",href="#") 
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 給你好看
                    li
                        a.tracklink.custom(data-ga="mayor",data-href="county-mayor-area",href="./county-mayor-area.html")
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 找縣市長 
                    li
                        a.tracklink.custom(data-ga="index",data-href="#",href="#")
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 找縣市議員
                    //- li.inv
                    //-     a.tracklink.custom(data-ga="index",data-href="./",href="./")
                    //-         i(class="fa fa-caret-right" aria-hidden="true")
                    //-         span 找立委
                    //- li.inv
                    //-     a.tracklink.custom(data-ga="index",data-href="./",href="./")
                    //-         i(class="fa fa-caret-right" aria-hidden="true")
                    //-         span 找總統
                    li
                        a.tracklink.custom(data-ga="index",data-href="./",href="./") 
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 找提案
                    li
                        a.tracklink.custom(data-ga="index",data-href="./",href="./") 
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 找表決
                    li
                        a.tracklink.custom(data-ga="index",data-href="./",href="./") 
                            i(class="fa fa-caret-right" aria-hidden="true")
                            span 許願池
                    li
                        a.tracklink.custom.btn-footer.hidden-sm.hidden-md.hidden-lg(data-ga="index",data-href="./",href="./") 
                            span 互動區
  
                //-         .tt
                //-             p 
                //- li.m2o
                //-     .line.abs
                //-     a.hash.m2.custom(data-ga="gallery",data-href="./gallery",href="./gallery")
                //-         