{% load extras %}
<style>

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: #093;
    }

    .bar:hover {
        fill: orangered ;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>
<script>

    var year = {{year}}
    var data = {{data|as_json}}
    var id = '#year_bar_' + year

    var margin = {top: 40, right: 100, bottom: 40, left: 100},
    width = 460 - margin.left - margin.right,
    height = 320 - margin.top - margin.bottom;

    var color = d3.scale.ordinal()
    .range(["#69F", "#6C6", "#960", "#C06", "#999", "#33F", "#F63", "#F93", "#0C9", "#FC0", "#930", "#660"])
    .domain(["中國國民黨", "民主進步黨", "臺灣團結聯盟", "無黨團結聯盟", "無黨籍", "民國黨", "親民黨", "新黨", "綠黨", "勞動黨", "臺灣第一民族黨", "在野問政聯盟"]);

    var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
    .range([height, 0]);

    var yAxis = d3.svg.axis()
    .scale(y)
    .ticks(5)
    .tickFormat(function(d) { return zhutil.approximate(d, {base: '萬', extra_decimal: 0}); })
    .orient("left");

    var tip = d3.tip()
    .attr('class', 'd3-tip')
    .html(function(d) {
        d3.select(this).style("cursor", "pointer")
        return d.councilor__name + ' - ' + d.councilor__party + (d.councilor__title ? (d.councilor__title) : '') + ': ' + zhutil.approximate(d.sum, {base: '萬', extra_decimal: 0});
    });

    var svg = d3.select(id).append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.call(tip);

    x.domain(data.map(function(d) { return d.councilor_id; }));
    y.domain([0, d3.max(data, function(d) { return d.sum; })]);

    svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")");

    svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("dy", "-3em")
    .style("text-anchor", "end")

    var barGroup = svg.selectAll("rect")
    .data(data).enter().append("g")
    .attr("class", "g")
    .attr("transform", function(d) { return "translate(" + x(d.councilor_id) + ",0)"; });

    barGroup.append("rect")
    .attr("class", "bar")
    .attr("width", x.rangeBand()*.8)
    .attr("y", function(d) { return y(d.sum); })
    .attr("height", function(d) { return height - y(d.sum); })
    .style("fill", function(d) { return color(d.councilor__party); })
    .on('click', function(d) { return window.location.href = "/councilors/suggestor/" + d.councilor__councilor_id + "/" + d.councilor__election_year + "/"; })
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);

    svg.append("text")
    .attr("font-size", "22px")
    .attr("font-weight", "bold")
    .attr("text-decoration", "underline")
    .attr("text-anchor", "middle")
    .attr("transform", "translate("+ (width/2) + "," + -10 + ")")
    .text(year+" 年");

    svg.append("text")
    .attr("font-size", "16px")
    .attr("text-anchor", "middle")
    .attr("transform", "translate(" + (width / 2) + "," + (height + margin.top * .5) + ")")
    .text(data.length+" 位議員的建議款");

    var parties = d3.nest()
    .key(function(d) { return d.councilor__party; })
    .entries(data);

    var legend = d3.select(id).append("svg")
    .attr("class", "legend")
    .attr("width", width)
    .attr("height", height * .8)
    .selectAll("g")
    .data(parties)
    .enter().append("g")
    .attr("transform", function(d, i) { return "translate(" + width * .24 + "," + i * 18 + ")"; });

    legend.append("rect")
    .attr("width", 16)
    .attr("height", 16)
    .style("fill", function(d) { return color(d.key); });

    legend.append("text")
    .attr("font-size", "14px")
    .attr("x", 20)
    .attr("y", 7)
    .attr("dy", ".35em")
    .text(function(d) { return d.key; });

</script>
