{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
<div class="row-fluid">
    <div class="span11">
        <br>
        <br>
        <br>
        <div>
        <a href="{% url 'socialauth_begin' 'facebook' %}">Login with facebook</a>
        <br>
        <a href="{% url 'socialauth_begin' 'google' %}">Login with Google</a>
        {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
    </div>
</div>
</div>
{% endblock %}
