{% load extras %}
<ul class="media-list">
    {% for fragment in bills %}
    <li class="media">
        <div class="media-body well">
            <h3 class="media-heading">
                {% if fragment.abstract %}
                    {% if keyword %}
                        {{fragment.abstract|linebreaksbr|replace:keyword|safe}}
                    {% else %}
                        {{fragment.abstract}}
                    {% endif %}
                {% endif %}
            </h3>
            <div>
                <h5 class="text-success">執行情形</h5>
                <blockquote>
                    {% if fragment.execution %}
                        {{fragment.execution}}
                    {% elif fragment.last_action %}
                        {{fragment.last_action}}
                    {% else %}
                        尚無資料
                    {% endif %}
                </blockquote>
            </div>
            <div>
                <h5 class="text-success">提案人</h5>
                <blockquote>
                    {{fragment.proposed_by}}
                </blockquote>
                <h5 class="text-success">類別</h5>
                <blockquote>
                    {{fragment.category}}
                </blockquote>
            </div>
            <a href="{% url 'bills:bill_detail' county=fragment.county bill_id=fragment.uid %}">查看完整內容</a>
        </div>
    </li>
    {% empty %}
        <p>完全沒有議案</p>
    {% endfor %}
</ul>
