{% load extras %}
<table class="table table-bordered zebra" >
    <thead>
        <tr style="background-color: #FFCCFF;">
            <th style="width: 10%">類別</th>
            <th style="width: 10%">第一提案人</th>
            <th style="width: 40%">案由</th>
            <th style="width: 10%">議決日</th>
            <th style="width: 20%">議決文</th>
            <th style="width: 10%">執行情形</th>
        </tr>
    </thead>
    <tbody>
        {% for fragment in bills %}
        <tr style="background-color: {% cycle '#DDDDDD' 'white' %};">
            <td style="text-align:center; vertical-align:middle;">
                {{fragment.category}}
            </td>
            <td style="text-align:center; vertical-align:middle;">
                {% with councilor=fragment.primary_proposer.0 %}
                {% if councilor %}
                    <a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id ad=councilor.ad %}" rel="tooltip" title="{{ councilor.name }}的所有議案">{% include "common/name_color_by_party.html" %}</a>
                {% else %}
                    {{fragment.proposed_by}}
                {% endif %}
                {% endwith %}
            </td>
            <td style="vertical-align:middle;">
                <a href="{% url 'bills:bill_detail' county='臺北市' bill_id=fragment.uid %}">查看完整議案</a><br>
            {% if fragment.abstract %}
                {% if keyword %}
                    {{fragment.abstract|linebreaksbr|replace:keyword|safe}}
                {% else %}
                    {{fragment.abstract}}
                {% endif %}
            {% endif %}
            </td>
            <td style="text-align:center; vertical-align:middle;">
                {% if fragment.resolusion_date %}
                    {{fragment.resolusion_date}}
                {% else %}
                    尚無資料
                {% endif %}
            </td>
            <td style="vertical-align:middle;">
                {% if fragment.resolusion %}
                    {{fragment.resolusion}}
                {% else %}
                    尚無資料
                {% endif %}
            </td>
            <td style="vertical-align:middle;">
                {% if fragment.execution %}
                    {{fragment.execution}}
                {% else %}
                    尚無資料
                {% endif %}
            </td>
        </tr>
        {% empty %}
            <p>完全沒有議案</p>
        {% endfor %}
    </tbody>
</table>
