<tfoot>
<tr class="info" >
    <td colspan="{{ column }}" style="text-align:center;">#註：
        <font color="#69F">中國國民黨</font>&nbsp;-&nbsp;
        <font color="#6C6">民主進步黨</font>&nbsp;-&nbsp;
        <font color="#960">臺灣團結聯盟</font>&nbsp;-&nbsp;
        <font color="#C06">無黨團結聯盟</font>&nbsp;-&nbsp;
        <font color="#999">無黨籍</font>&nbsp;-&nbsp;
        <font color="#33F">民國黨</font>&nbsp;-&nbsp;
        <font color="#F63">親民黨</font>&nbsp;-&nbsp;
        <font color="#F93">新黨</font>&nbsp;-&nbsp;
        <font color="#0C9">綠黨</font>&nbsp;-&nbsp;
        <font color="#FC0">勞動黨</font>&nbsp;-&nbsp;
        <font color="#930">臺灣第一民族黨</font>&nbsp;-&nbsp;
        <font color="#660">在野問政聯盟</font>
    </td>
</tr>
</tfoot>
