{% extends "common/search_keyword_form.html" %}

{% block extra %}
    <span class="input-group-btn">
        <select id='constituency' name='constituency' style="border-radius: 0px;" class="form-control">
            <option value="all" selected>全部選區</option>
        </select>
    </span>
{% endblock extra %}

{% block extra_after_search %}
    <input type="checkbox" style="margin-left: 10px;" name="has_tag" id="has_tag" {% if has_tag %} checked{% endif %}> 有網友標籤的提案
{% endblock extra_after_search %}
