<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(function() {
        var availableTags = [
        {% for keyword in keyword_hot %}
        "{{keyword}}",
        {% endfor %}
        ];
        $( "#keyword" ).autocomplete({
            source: availableTags,
            select: function(event, ui) {
                $(event.target).val(ui.item.value);
                $('#form').submit();
                return false;
            }
        });
    });
</script>

