{% spaceless %}
{% if councilor.party == "中國國民黨" %}
<font color=0033FF>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "民主進步黨" %}
<font color=009900>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "親民黨" %}
<font color=FF6600>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "臺灣團結聯盟" %}
<font color=brown>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "新黨" %}
<font color=FFCC00>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "無黨團結聯盟" %}
<font color=FF00FF>{{ councilor.name|truncatechars:6 }}</font>
{% elif councilor.party == "無黨籍" %}
<font color=777777>{{ councilor.name|truncatechars:6 }}</font>
{% else %}
<font>{{ councilor.name|truncatechars:6 }}</font>
{% endif %}
{% endspaceless %}
