<div class="pagination center-block" align="center">
    {% if page_size != 0 %}
    <span class="pull-left">
        每頁
        <span class="btn-group">
            {% if get_params %}
            <a type="button" class="btn btn-default btn-sm" href="?{{get_params}}&page_size=10">10</a>
            <a type="button" class="btn btn-default btn-sm" href="?{{get_params}}&page_size=50">50</a>
            {% else %}
            <a type="button" class="btn btn-default btn-sm" href="?page_size=10">10</a>
            <a type="button" class="btn btn-default btn-sm" href="?page_size=50">50</a>
            {% endif %}
        </span>
        個
    </span>
    {% endif %}
    <span class="step-links">
        {% if items.has_previous %}
            {% if get_params %}
            <a href="?{{get_params}}&page={{ items.previous_page_number }}{% if request.GET.page_size %}&page_size={{request.GET.page_size}}{% endif %}">上一頁</a>
            {% else %}
            <a href="?page={{ items.previous_page_number }}{% if request.GET.page_size %}&page_size={{request.GET.page_size}}{% endif %}">上一頁</a>
            {% endif %}
        {% endif %}

        <span class="current">
            這是第{{ items.number }}頁（共{{ items.paginator.num_pages }}頁）
        </span>

        {% if items.has_next %}
            {% if get_params %}
            <a href="?{{get_params}}&page={{ items.next_page_number }}{% if request.GET.page_size %}&page_size={{request.GET.page_size}}{% endif %}">下一頁</a>
            {% else %}
            <a href="?page={{ items.next_page_number }}{% if request.GET.page_size %}&page_size={{request.GET.page_size}}{% endif %}">下一頁</a>
            {% endif %}
        {% endif %}
    </span>
</div>
