<form action="" method="get" class="form-inline" id="form">
    <fieldset>
        <div class="input-group">
            <input type="search" name="keyword" id="keyword" class="form-control" maxlength="20" placeholder="{{placeholder_text}}" value="{{keyword}}">
            {% block extra %}
            {% endblock extra %}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-moonc">搜尋</button>
            </span>
            {% block extra_after_submit %}
            {% endblock extra_after_submit %}
        </div>
        {% block extra_after_search %}
        {% endblock extra_after_search %}
    </fieldset>
</form>
