{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南: {{title}}</title>
    <meta property="og:title" content="議員投票指南: {{title}}"/>
    <meta itemprop="name" content="議員投票指南: {{title}}">
{% endblock title %}

{% block right %}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">{{election_year}} 縣市議員選舉</div>
                <div class="panel-body">
                    <h4>讓候選人、政見提早現身！</h4>
                    <div class="btn-group" role="group">
                        <a href="{% url 'candidates:intents' election_year=election_year %}" class="btn btn-info"><i class="fa fa-flag-checkered"> 候選人</i></a>
                        <a href="{% url 'platforms:lists' %}" class="btn btn-success"><i class="fa fa-pencil-square-o"> 來許願</i></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">來幫忙</div>
                <div class="panel-body">
                    <h4>議員幹了什麼好事？<br>標籤由你來下！</h4>
                    <a href="{% url 'dispatch_bill' %}" class="btn btn-danger" target="_blank"><i class="fa fa-pencil-square-o"> 隨機分配一個給我！</i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="five column doubling ui grid hidden-xs">
                {% for region in regions %}
                    {% for county in region.counties %}
                        <div class="column direct-container">
                            <a href="{{category|select_county_reverse_url:county}}" class="direct-item council-light {% cycle 'council-lightyellow' 'council-yellow' %}">
                                <img class="" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png">
                                <div></div>
                                <br>
                                <br>
                                <div class="direct-sub right">
                                    <h4>{{county}}</h4>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <hr>
                {% endfor %}
            </div>
            <div class="visible-xs">
                <div class="panel-group" id="regions" role="tablist" aria-multiselectable="true">
                {% for region in regions %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{region.region}}_heading">
                            <h4 role="button" data-toggle="collapse" data-parent="#regions" data-target="#{{region.region}}" aria-expanded="false" aria-controls="{{region.region}}">
                                {{region.region}}
                                <i class="fa fa-angle-down fa-lg pull-right"></i>
                            </h4>
                        </div>
                        <div id="{{region.region}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{region.region}}">
                            <ul class="list-group">
                            {% for county in region.counties %}
                                <a class="list-group-item" href="{{category|select_county_reverse_url:county}}">
                                    <h4>{{county}}</h4>
                                </a>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#{{category}}').addClass('active');
            $('.panel-heading').on('click', function() {
                $('.panel-heading .fa-angle-down').removeClass('up-side-down');
                $(this).find('.fa-angle-down').addClass('up-side-down');
            });
        });
    </script>
{% endblock script %}
