{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南: {{title}}</title>
    <meta property="og:title" content="議員投票指南: {{title}}"/>
    <meta itemprop="name" content="議員投票指南: {{title}}">
{% endblock title %}

{% block right %}
    <div class="jumbotron">
        <div class="page-header text-center">
            <h2>政治是每一個人的事</h2>
            <h4>如果是候選人，你會怎麼做？</h4>
            <a href="{% url 'candidates:intent_home' %}" class="btn btn-info btn-lg"><i class="fa fa-pencil-square-o"> 來發表</i></a>
        </div>
    </div>
    <div class="five column doubling ui grid">
        {% for region in regions %}
            {% for county in region.counties %}
                <div class="column direct-container">
                    <a href="{{category|select_county_reverse_url:county}}" class="direct-item council-light {% cycle 'council-lightyellow' 'council-yellow' %}">
                    <img class="" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png">
                    <div></div>
                    <br>
                    <br>
                    <div class="direct-sub right">
                        <h4>{{county}}</h4>
                    </div>
                </a>
                </div>
            {% endfor %}
            <hr>
        {% endfor %}
    </div>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
                $('#{{category}}').addClass('active');
        });
    </script>
{% endblock script %}
