{% load extras %}
<table id="datatable" class="table table-bordered zebra" >
    <thead>
        <tr style="background-color: #FFEEFF;">
            <th style="width: 5%"></th>
            <th style="width: 10%">年度</th>
            <th style="width: 20%">建議項目</th>
            <th style="width: 10%">地點</th>
            <th style="width: 10%">建議金額</th>
            <th style="width: 10%">通過預算</th>
            <th style="width: 10%">經費支用科目</th>
            <th style="width: 10%">主辦機關</th>
            <th style="width: 10%">招標方式</th>
            <th style="width: 10%">得標廠商</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in suggestions %}
            <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                <td>
                    <a id="{{obj.uid}}" style="padding-top: 60px; margin-top: -60px;" href="#{{obj.uid}}">#</a>
                </td>
                <td style="text-align:center; vertical-align:middle;">
                    {{obj.suggest_year}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.suggestion}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.position}}
                </td>
                <td style="text-align:center; vertical-align:middle;">
                    {% if obj.suggest_expense != None %}
                        <p class="price">{{obj.suggest_expense}}</p>
                    {% endif %}
                </td>
                <td style="text-align:center; vertical-align:middle;">
                    {% if obj.approved_expense != None %}
                        <p class="price">{{obj.approved_expense}}</p>
                    {% endif %}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.expend_on}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.brought_by}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.bid_type}}
                </td>
                <td style="vertical-align:middle;">
                    {% for company in obj.bid_by %}
                        {% if company %}
                        <p>
                            {{company}}
                        </p>
                        {% endif %}
                    {% empty %}
                        【來源檔案無資料】
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
