{% load extras %}
<table id="datatable" class="table table-bordered table-condensed table-striped" >
    <thead>
        <tr style="background-color: #FFEEFF;">
            <th style="width: 0%">#</th>
            {% if include_councilors %}
            <th style="width: 10%">提案議員</th>
            {% endif %}
            <th style="width: 5%">年度</th>
            <th style="width: 10%">建議項目</th>
            <th style="width: 10%">地點</th>
            <th style="width: 10%">議員建議金額</th>
            <th style="width: 10%">通過預算</th>
            <th style="width: 10%">經費支用科目</th>
            <th style="width: 10%">主辦機關</th>
            <th style="width: 10%">招標方式</th>
            <th style="width: 15%">得標廠商</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in suggestions %}
            <tr id="{{obj.uid}}">
                <td style="text-align:center; vertical-align:middle;">
                    <a href="#{{obj.uid}}"><i class="fa fa-link"></i></a>
                </td>
                {% if include_councilors %}
                <td style="text-align:center; vertical-align:middle;">
                    <ul class="unstyled">
                    {% for councilor in obj.councilors %}
                    <li><a id='councilors_suggestor' href="{% url 'councilors:suggestor' councilor_id=councilor.0 election_year=obj.election_year %}">{{councilor.1}}</a></li>
                    {% empty %}
                        {% if obj.suggestor_name %}
                        <span>{{obj.suggestor_name}}</span>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                {% endif %}
                <td style="text-align:center; vertical-align:middle;">
                    {{obj.suggest_year}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.suggestion}}
                </td>
                <td style="vertical-align:middle;">
                    <a href="{% url 'suggestions:lists' county=obj.county %}">{{obj.county}}</a> - {{obj.position}}
                </td>
                <td style="text-align:center; vertical-align:middle;">
                    {% if obj.suggest_expense != None %}
                        <p class="price">{{obj.suggest_expense}}</p>
                    {% endif %}
                </td>
                <td style="text-align:center; vertical-align:middle;">
                    {% if obj.approved_expense != None %}
                        <p class="price">{{obj.approved_expense}}</p>
                    {% endif %}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.expend_on}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.brought_by}}
                </td>
                <td style="vertical-align:middle;">
                    {{obj.bid_type}}
                </td>
                <td style="vertical-align:middle;">
                    <ul class="unstyled">
                    {% for company in obj.bid_by %}
                        {% if company == '辦理中' or company == '-' or company == '尚未發包' or company == '尚未決標' or company == '無' %}
                            {{company}}
                        {% else %}
                            <li><a href="{% url 'suggestions:bid_by' bid_by=company|urlencode %}">{{company}}</a></li>
                        {% endif %}
                    {% empty %}
                        【來源檔案無資料】
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
