{% extends "common/search_keyword_form.html" %}

{% block extra %}
    <span class="input-group-btn">
        <select id='constituency' name='constituency' style="border-radius: 0px;" class="form-control">
            <option value="all" selected>全部選區</option>
        </select>
    </span>
{% endblock extra %}

{% block extra_after_search %}
    <div class="radio">
        <label>
            <input type="radio" name="pro" id="pro" value="yes" {% if request.GET.pro == 'yes' %}checked{% endif %}>
            有網友按讚的配合款
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="pro" id="pro" value="no" {% if request.GET.pro == 'no' %}checked{% endif %}>
            有網友按爛的配合款
        </label>
    </div>
{% endblock extra_after_search %}
