extends ./pug/template.pug
block css_file
	//- 每個頁面載入資源唯一不同處
	link(rel="stylesheet", href="./css/councilmen.min.css")
block content
	input#page.inv(type="text",value = "councilmen")
	.preload.abs
	//- TEST
	//- TSE
	//- TEST

	.wrapper.relat
		
		.container.relat.classJ.contain-1000
			
			.head-j.row.relat
				
				.col-xs-7.col-sm-9.col-md-10.title.hidden-xs
					
					h1 找縣市議員
				a.btn-prev.col-xs-4.col-sm-2.hidden-sm.hidden-md.hidden-lg.pull-right(href="#") 回上一頁
				.col-xs-7.col-sm-10.area.hidden-sm.hidden-md.hidden-lg
					h2 北部
				a.btn-other.col-xs-5.col-sm-3.col-md-2.hidden-xs(href="#") 改找縣市長
				.select-area.hidden-xs.relat
					a(href="candidates/councilors/#六都" , data-id="六都") 六都
					a(href="candidates/councilors/#北部", data-id="北部") 北部
					a(href="candidates/councilors/#中部", data-id="中部") 中部
					a(href="candidates/councilors/#南部", data-id="南部") 南部
					a(href="candidates/councilors/#東部", data-id="東部") 東部
					a(href="candidates/councilors/#離島", data-id="離島") 離島
					a(href="candidates/councilors/#平地原住民", data-id="平地原住民") 平地原住民
					a(href="candidates/councilors/#高山原住民", data-id="高山原住民") 高山原住民
				.hover-area.abs
					.hover-info.relat.inv
						.tri.abs
							i(class="fa fa-caret-down")
						p 高山原住民高山原住民高山原住民高山原住民高山
				.select-county.hidden-xs

				
				.select-constituency.hidden-xs.relat
					
					//- a(href="#六都" , data-id="六都") 六都
					//- 	.hover-info.abs.inv
					//- 		.tri.abs
					//- 			i(class="fa fa-caret-down")
					//- 		p 高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民
					//- a(href="#北部", data-id="北部") 北部
					//- 	.hover-info.abs.inv
					//- 		.tri.abs
					//- 			i(class="fa fa-caret-down")
					//- 		p 高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民高山原住民
					//- a(href="#中部", data-id="中部") 中部
					//- 	.hover-info.abs.inv
					//- 		p
					//- a(href="#南部", data-id="南部") 南部
					//- 	.hover-info.abs.inv
					//- 		p
					//- a(href="#東部", data-id="東部") 東部
					//- 	.hover-info.abs.inv
					//- 		p
				
				select.select.col-sm-2.col-xs-5
					-var n = 10
						while n > 0
							option(value=n-- ) 第10屆
				a.btn-other.col-xs-5.col-sm-3.col-md-2.hidden-sm.hidden-md.hidden-lg.pull-right(href="#") 改找縣市長
					//- a.relat(href="#六都" , data-id="六都") 六都
					//- a.relat(href="#六都" , data-id="六都") 六都
				
				//- .col-xs-6.col-sm-3.bg-light-group-color1
				//- 	a.info(href="#")
				//- 		p XXX
				//- 		p.eng TPE
				//- 	.hover-layer XXX
				//- 	
				

			.content-list.row.col-xs-12
				//- 如果有Current Class 表示現任 
				//- data-id每個item 需不同
				.content-item.row.relat.Current(data-id='1')
					.label-current.abs
						img.img-responsive(src="img/dest/currency.png")
					.content-item-layer1.row.relat
						a.profile.col-xs-12.row(href="#")
							.photo.pull-left.relat
								.relat
									img(src="http://www.tcc.gov.tw/../upload/Councilor/2383/8%E5%91%A8%E5%A8%81%E4%BD%912.jpg")
							.party.pull-left.relat
								.relat
									img(src="img/dest/party.png")
							.name.col-xs-7.col-sm-4 
								h1.classJ.exlrgt 王世堅
						//- 個人資料
						.personal-info.col-xs-12.col-sm-3
							.partyname 
								p 黨籍 / 
									span.party-val 民主進步黨
								p 年齡 / 
									span.party-val 50歲
								p 財產申報 / 
									a(href="#") 
										img(src="img/dest/dollar.png")
						//- 統計
						.statistic-info.col-xs-12.col-sm-4
							.tit
								p 數字統計
							.statistic
								
									
								p 7次主提案
								p 62次共同提案
								p 缺席率0%(0/23)缺席率0%(0/23)
								p 7次主提案7次主提案
								
						//- 政治獻金
						.contributions-info.col-xs-12.col-sm-4.row
							.tit.col-xs-12 
								p 政治獻金
							.year-contri.col-xs-6
								.year 2014 
								.income.row 
									.col-xs-4.text-left 收：
									.col-xs-8.text-right 239萬
								.outcome.row 
									.col-xs-4.text-left 支：
									.col-xs-8.text-right 24萬
								.result.row
									.col-xs-4.text-left 餘：
									.col-xs-8.text-right -7萬
							.year-contri.col-xs-6
								.year 2014 
								.income.row 
									.col-xs-4.text-left 收：
									.col-xs-8.text-right 239萬
								.outcome.row 
									.col-xs-4.text-left 支：
									.col-xs-8.text-right 24萬
								.result.row
									.col-xs-4.text-left 餘：
									.col-xs-8.text-right -77萬
						.content-btm-ui.col-xs-12.row
							.btn-detail.btn.col-sm-2.hidden-xs 了解更多 <i class="fa fa-caret-down" aria-hidden="true"></i>
							a.btn-resume.btn.col-xs-3.col-sm-2(href="resume-profile.html") 政治履歷 
						.clearb
					//- 非第一次參選者Layout
					.content-detail.row.notFirstCandidate
						//- 提案
						.proposal.col-sm-6.row
							.tit.row.col-sm-12 
								.col-sm-12 提案
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-proposal 共同提案一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-proposal 共同提案一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-proposal 共同提案一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-proposal 共同提案一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-hostpropose 主提案一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-hostpropose 主提案一次
						//- 表決
						.vote.col-sm-6.row
							.tit.row.col-sm-12 
								.col-sm-12 表決
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-reject 反對一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-reject 反對一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-reject 反對一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-giveup 棄權一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-non-vote 沒投票一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-approve 贊成一次
						.politics.col-sm-12.row
							.tit.row.col-sm-12 
								.col-sm-12 政見
							.list-politics.col-sm-12 
								p 1.守護弱者，捍衛公義。
								p 2.推動市府廣建出租國宅與中繼住宅。
								p 3.推動市府獨居老人免費午餐。
								p 4.推動市府都市更新「增加獎勵、減少限制、縮短流程」。
								p 5.推動市府有效整治淡水河。
								p 6.推動市府徹底改善污水廠。
					
				//- 第一次參選者Layout
				.content-item.row.relat(data-id='2')
					.label-current.abs
						img.img-responsive(src="img/dest/currency.png")
					.content-item-layer1.row.relat
						a.profile.col-xs-12.row(href="#")
							.photo.pull-left.relat
								.relat
									img.img-responsive(src="http://www.tcc.gov.tw/../upload/Councilor/2383/8%E5%91%A8%E5%A8%81%E4%BD%912.jpg")
							.party.pull-left.relat
								.relat
									img.img-responsive(src="img/dest/party.png")
							.name.col-xs-7.col-sm-4 
								h1.classJ.exlrgt 王世堅
						//- 個人資料
						.personal-info.col-xs-12.col-sm-3
							.partyname 
								p 黨籍 / 
									span.party-val 民主進步黨
								p 年齡 / 
									span.party-val 50歲
								p 財產申報 / 
									a(href="#") 
										img(src="img/dest/dollar.png")
						//- 統計
						.statistic-info.col-xs-12.col-sm-4
							
						//- 政治獻金
						.contributions-info.col-xs-12.col-sm-4.row
							.tit.col-xs-12 
								p 政治獻金
							.year-contri.col-xs-3
							.year-contri.col-xs-6
								.year 2014 
								.income.row 
									.col-xs-4.text-left 收：
									.col-xs-8.text-right 239萬
								.outcome.row 
									.col-xs-4.text-left 支：
									.col-xs-8.text-right 24萬
								.result.row
									.col-xs-4.text-left 餘：
									.col-xs-8.text-right 3337萬
						.content-btm-ui.col-xs-12.row
							.btn-detail.btn.col-sm-2.hidden-xs 了解更多 <i class="fa fa-caret-down" aria-hidden="true"></i>
							a.btn-resume.btn.col-xs-3.col-sm-2(href="resume-profile.html") 政治履歷 
						.clearb
						

					.content-detail.row.col-xs-12.FirstCandidate
						.proposal.col-sm-12.row
							.tit.row.col-sm-12 
								.col-sm-12 模擬提案
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-reject 反對一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-giveup 棄權一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-reject 反對一次
							.list.col-sm-12.row
								.col-sm-8.col-xs-6 調降建商房屋稅
								.statstic-num.pull-right.bg-giveup 棄權一次
						//- 表決
						
						.politics.col-sm-12.row
							.tit.row.col-sm-12 
								.col-sm-12 政見
							.list-politics.col-sm-12 
								p 1.守護弱者，捍衛公義。
								p 2.推動市府廣建出租國宅與中繼住宅。
								p 3.推動市府獨居老人免費午餐。
								p 4.推動市府都市更新「增加獎勵、減少限制、縮短流程」。
								p 5.推動市府有效整治淡水河。
								p 6.推動市府徹底改善污水廠。


					
	block script
		script.
			//==================ROUTER資訊請塞這裡!!!================
			var county_global='宜蘭縣';
			var constituency_global = 1;//(DEFAULT 為1)
			var year_global = 2018;//(DEFAULT 為2018 )
			var jsonUrl_global = './json/dest/constituencies_'+year_global+'.json';
			var prefixUrl_global = '/test/';