{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{councilor.name}}的提案</title>
    <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的提案"/>
    <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的提案">
{% endblock title %}

{% block top-menu %}
    <div class="row-fluid">
        <div id="sidebar-leftx" class="span2">
        </div>
        <div class="tabnav">
            <ul>
                <li><a href="{% url 'councilors:biller_sp' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">提案立場</a></li>
                <li class="active"><a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全提案紀錄</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block person_detail %}
    <div class="row-fluid">
        <div class="span6">
            <br>
            <form action="" method="get" class="form-search" id="form">
                <fieldset>
                    <input type="search" name="keyword" id="keyword" class="span10" maxlength="20" placeholder="例:都市更新 土地徵收...空格有交集效果" autofocus>
                    <br>
                    <input type="checkbox" name="primaryonly" id="primaryonly" {% if primaryonly %} checked{% endif %}>只看<b class="text-info">{{councilor.name}}</b>是第一提案人的提案
                    <button type="submit" class="btn">搜尋</button>
                </fieldset>
            </form>
            {% if keyword_hot %}
                <h4>熱門：
                    {% for keyword in keyword_hot %}
                        {% if forloop.counter0 < 5 %}
                    <a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的提案"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
                        {% endif %}
                    {% endfor %}
                </h4>
            {% endif %}
            <div class="well well-small">
                {{ bills.paginator.count }} 個
                {% if request.GET.keyword %}
                    包含<font style="color: red;">"{{request.GET.keyword}}"</font>的
                {% elif request.GET.tag %}
                    包含<font style="color: red;">"{{request.GET.tag}}"</font>的
                {% endif %}
                提案
            </div>
        </div>
        <div class="span6">
            <div id="d3" align="center"></div>
            <p class="lead text-info text-center">和<b>{{councilor.name}}</b>一起提案/連署的議員中，政黨的分布</p>
        </div>
        <div class="span12">
        {% if bills %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
            {% include "common/bills.html" %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
        {% else %}
            <p class="text-error">完全沒有提案</p>
        {% endif %}
        </div>
    </div>
{% endblock person_detail %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#url_bill').attr('class', 'active');
            $('#primaryonly').change(function() {
                $("#form").trigger('submit');
            });
            relax();
        });
    </script>
    {{ block.super }}
    {% include "councilors/d3/councilor_bill_pie.html" %}
{% endblock script %}
