{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{councilor.name}}的提案</title>
    <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的提案"/>
    <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的提案">
{% endblock title %}

{% block top-menu %}
    <ul class="nav nav-tabs">
        <li><a href="{% url 'councilors:biller_sp' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">提案立場</a></li>
        <li class="active"><a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全提案紀錄</a></li>
    </ul>
{% endblock %}

{% block person_detail %}
    <div class="row">
        <div class="col-sm-12">
            {% include "councilors/biller_search.html" %}
            {% if keyword_hot %}
                <h4>熱門：
                    {% for keyword in keyword_hot %}
                        {% if forloop.counter0 < 5 %}
                            <a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的提案"><font style="color: #9F0050;">{{keyword}}</font></a>&nbsp;&nbsp;
                        {% endif %}
                    {% endfor %}
                </h4>
            {% endif %}
            <div class="well well-sm">
                {{ bills.paginator.count }} 個
                {% if request.GET.keyword %}
                    包含<font style="color: red;">"{{request.GET.keyword}}"</font>的
                {% elif request.GET.tag %}
                    包含<font style="color: red;">"{{request.GET.tag}}"</font>的
                {% endif %}
                提案
            </div>
        </div>
        <div class="col-sm-12">
        {% if bills %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
            {% include "common/bills.html" %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
        {% else %}
            <p class="text-danger">完全沒有提案</p>
        {% endif %}
        </div>
    </div>
{% endblock person_detail %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#url_bill').attr('class', 'active');
            $("[rel='tooltip']").tooltip();
            $('#primaryonly').change(function() {
                $("#form").trigger('submit');
            });
        });
    </script>
{% endblock script %}
