{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的提案立場</title>
    <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的提案立場"/>
    <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的提案立場">
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="{% for x in standpoints %}{% if forloop.counter0 < 3 %}{{x.title}}、{% endif %}{% endfor %}...等等"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
    <meta itemprop="description" content="{% for x in standpoints %}{% if forloop.counter0 < 3 %}{{x.title}}、{% endif %}{% endfor %}...等等"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
{% endblock social_meta %}

{% block person_detail %}
    <div class="row">
        <div class="text-center">
            <h4 data-toggle="collapse" data-target="#ref_qa"><span class="text-warning">以下資料怎麼產生的？ <i class="fa fa-caret-square-o-down"></i></span></h4>
            <div id="ref_qa" class="collapse">
                內容由網友共同標註、投票產生，覺得內容太少？下標不正確？<br>
                歡迎進入<a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全提案紀錄</a>，一起幫助大家了解議員幹了什麼好事！
            </div>
        </div>

        <h3>提案</h3>
        {% regroup standpoints by role as role_list %}
        {% for role_group in role_list %}
            <div class="col-sm-{% widthratio 12 role_list|length 1 %}">
                <div class="panel-group" id="accordion_{{role_group.grouper}}" role="tablist" aria-multiselectable="true">
                {% for standpoint in role_group.list %}
                {% if role_group.grouper == "主提案" %}
                    <div class="panel panel-info">
                {% elif role_group.grouper == "共同提案" %}
                    <div class="panel panel-success">
                {% else %}
                    <div class="panel panel-warning">
                {% endif %}
                        <div class="panel-heading collapsed row" role="button" data-toggle="collapse" data-parent="#accordion_{{role_group.grouper}}" data-target="#{{role_group.grouper}}_{{standpoint.title}}" aria-expanded="false" aria-controls="{{role_group.grouper}}_{{standpoint.title}}" style="margin-left: 0px;margin-right: 0px;">
                            <b class="col-xs-8">{{standpoint.title}}</b>
                            <i class="fa fa-angle-down fa-lg pull-right"></i>
                            {% if role_group.grouper == "主提案" %}
                                <span class="label label-info pull-right">
                            {% elif role_group.grouper == "共同提案" %}
                                <span class="label label-success pull-right">
                            {% else %}
                                <span class="label label-warning pull-right">
                            {% endif %}
                            {{role_group.grouper}} {{standpoint.times}}次</span>
                        </div>
                        <div id="{{role_group.grouper}}_{{standpoint.title}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{role_group.grouper}}_{{standpoint.title}}">
                            <ul class="list-group">
                                {% for fragment in standpoint.bills %}
                                <a class="list-group-item" href="{% url 'bills:bill' bill_id=fragment.uid %}" target="_blank">
                                    <h4>☞ 提案 {{forloop.counter}}<small>（這標怎麼下的？點我來改進）</small></h4>
                                    <blockquote>
                                        <p><small>{{fragment.abstract|truncatechars:100}}</small></p>
                                    </blockquote>
                                </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-default" href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全提案紀錄</a>
    </div>
{% endblock person_detail %}

{% block script %}
    {{block.super}}
    <script>
        $(document).ready( function() {
            $('h4[data-toggle="collapse"]').on('click', function() {
                $(this).find('.fa-caret-square-o-down').toggleClass('up-side-down');
            });
            $('[data-toggle="collapse"]').on('click', function() {
                $(this).closest('.panel-group').find('[data-toggle="collapse"]').not(this).find('.fa-angle-down').removeClass('up-side-down');
                $(this).find('.fa-angle-down').toggleClass('up-side-down');
            });
            $('.panel-group .panel:nth-child(1) [data-toggle="collapse"]').trigger('click');
        });
    </script>
{% endblock script %}
