{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的競選政見</title>
    <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的競選政見"/>
    <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的競選政見">
{% endblock %}

{% block person_detail %}
    <div class="col-sm-11 col-sm-offset-1">
        {{ councilor.platform|linebreaksbr }}
    </div>
{% endblock person_detail %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#url_politics').attr('class', 'active');
        });
    </script>
{% endblock script %}
