{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year}} 的競選政見</title>
    <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year}} 的競選政見"/>
    <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year}} 的競選政見">
{% endblock %}

{% block social_meta %}
    <meta property="og:description" content="{{councilor.platform|truncatewords:5}}"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
    <meta itemprop="description" content="{{councilor.platform|truncatewords:5}}"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
{% endblock social_meta %}

{% block person_detail %}
    <div>
        {{ councilor.platform|linebreaksbr }}
    </div>
{% endblock person_detail %}
