{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的議員配合款</title>
    <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的議員配合款"/>
    <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的議員配合款">
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="本任期總花費：{{councilor.param.suggestions_years.sum}} 元"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
    <meta itemprop="description" content="本任期總花費：{{councilor.param.suggestions_years.sum}} 元"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
{% endblock social_meta %}

{% block person_detail %}
    {% if councilor.county == '宜蘭縣' or councilor.county == '彰化縣' %}
    <h3>
        <i class="fa fa-warning text-danger"> {{councilor.county}}政府不提供議員配合款使用議員姓名</i>
        <span class="pull-right">
            資料來源<a href="{{councilor.county|suggestions_offical_link}}" target="_blank"> {{councilor.county}}主計處</a>
        </span>
    </h3>
    <hr>
    {% else %}
    <div class="page-header"
    <p>本任期總花費：<font class="price">{{councilor.param.suggestions_years.sum}}</font>
        <a class="btn btn-default btn-lg" href="{% url 'suggestions:lists' county=county %}?keyword={{councilor.name}}"><i class="fa fa-list"> 一筆一筆看</i></a>
        <span class="pull-right">
            資料來源<a href="{{councilor.county|suggestions_offical_link}}" target="_blank"> {{councilor.county}}主計處</a>
        </span>
    </p>
    </div>
    <div class="row">
        <div class="col-sm-6{% if councilor.param.suggestions_associations %} col-lg-4{% endif %}">
            <div class="panel panel-default">
                <div class="panel-body">
                    小額採購：十萬以下之政府採購，可逕洽廠商無須公開招標，詳可見「中央機關未達公告金額採購招標辦法」第五條
                </div>
                <table class="table table-bordered table-condensed table-striped sortable" >
                    <thead>
                        <tr style="background-color: #E1D0D0";>
                            <th>年度</th>
                            <th>小額採購案數</th>
                            <th>總案數</th>
                            <th>通過預算</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in councilor.param.suggestions_years.years %}
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">{{obj.suggest_year}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.small_purchase}}</td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if councilor.param.suggestions_piles %}
        <div class="col-sm-6{% if councilor.param.suggestions_associations %} col-lg-4{% endif %}">
            <div class="panel panel-default">
                <div class="panel-body">
                    各種協會、村里鎮長辦公室、警察局、消防局、國中、國小等用途的統計
                </div>
                <table class="table table-bordered table-condensed table-striped sortable" >
                    <thead>
                        <tr style="background-color: #E1D0D0";>
                            <th>地方</th>
                            <th>筆數</th>
                            <th>通過預算</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in councilor.param.suggestions_piles %}
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <a href="{% url "suggestions:lists" county=county %}?keyword={{councilor.name}}&or={{obj.tokens}}">{{obj.label}}</a>
                            </td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if councilor.param.suggestions_associations %}
        <div class="col-sm-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    前述協會可再細分如下
                </div>
                <table class="table table-bordered table-condensed table-striped sortable" >
                    <thead>
                        <tr style="background-color: #E1D0D0";>
                            <th>協會</th>
                            <th>筆數</th>
                            <th>通過預算</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in councilor.param.suggestions_associations %}
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <a href="{% url "suggestions:lists" county=county %}?keyword={{councilor.name}}%20{{obj.label}}">{{obj.label}}</a>
                            </td>
                            <td style="text-align:right; vertical-align:middle;">{{obj.count}}</td>
                            <td style="text-align:right; vertical-align:middle;"><p class="price">{{obj.sum}}</p></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock person_detail %}

{% block script %}
    {{block.super}}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
