{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的議員配合款</title>
    <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的議員配合款"/>
    <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的議員配合款">
{% endblock title %}

{% block person_detail %}
    <p class="lead">配合款提案共通過：<font class="price">{{total_expense.sum}}</font></p>
    <div>
        <a class="btn btn-default btn-lg" href="{% url 'suggestions:lists' county=county %}?keyword={{councilor.name}}"><i class="fa fa-list"> 一筆一筆看</i></a>
        <div class="pull-right">
            資料來源
            <a href="{{councilor.county|suggestions_offical_link}}" target="_blank">{{councilor.county}}主計處</a></li><br>
                <br>
            </ul>
        </div>
        <table class="table table-bordered table-condensed sortable table-striped" >
            <thead>
                <tr style="background-color: #CCFF99;">
                    <th style="width: 40%">得標廠商</th>
                    <th style="width: 10%">得標次數</th>
                    <th style="width: 30%">通過預算</th>
                    <th style="width: 20%">每筆平均預算</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in suggestions %}
                    <tr>
                        <td style="vertical-align:middle;">
                            {% for company in obj.bid_by %}
                                {% if company %}
                                <p>
                                    <a href="{% url 'suggestions:bid_by' bid_by=company|urlencode %}">{{company}}</a>
                                </p>
                                {% endif %}
                            {% empty %}
                                【來源檔案無資料】
                            {% endfor %}
                        </td>
                        <td style="text-align:right; vertical-align:middle;">
                            {{obj.count}}
                        </td>
                        <td style="text-align:right; vertical-align:middle;">
                            {% if obj.sum == None %}
                                【來源檔案無資料】
                            {% else %}
                                <p class="price">{{obj.sum}}</p>
                            {% endif %}
                        </td>
                        <td style="text-align:right; vertical-align:middle;">
                            {% if obj.sum != None %}
                                <p class="price">{{obj.sum|divide:obj.count}}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock person_detail %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% include "common/sorttable.html" %}
    <script>
        $(document).ready( function() {
            $('#url_suggestor').attr('class', 'active');
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
        });
    </script>
{% endblock script %}
