{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    {% if index == 'conscience' %}
        <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的脫黨表決紀錄</title>
        <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的脫黨表決紀錄"/>
        <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的脫黨表決紀錄">
    {% else %}
        <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的投票表決紀錄</title>
        <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的表決紀錄"/>
        <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的表決紀錄">
    {% endif %}
{% endblock title %}

{% block social_meta %}
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
{% endblock social_meta %}

{% block person_detail %}
    {% include "councilors/voter_search.html" %}
    {% if keyword_hot %}
        <h4>熱門：
            {% for keyword in keyword_hot %}
                {% if forloop.counter0 < 5 %}
                    <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: #9F0050;">{{keyword}}</font></a>&nbsp;&nbsp;
                {% endif %}
            {% endfor %}
        </h4>
    {% endif %}
    <div class="well well-sm">
        {% if index == 'conscience' %}
            <b>脫黨</b>
        {% endif %}
        表決紀錄：
        {% if request.GET.keyword %}
            包含<font style="color: red;">"{{request.GET.keyword}}"</font>的表決&nbsp;
        {% elif request.GET.tag %}
            包含<font style="color: red;">"{{request.GET.tag}}"</font>的表決&nbsp;
        {% endif %}
        {% for decision in vote_addup %}
            {{decision.totalNum}} 次
            {% if decision.decision == 1 %}
                <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?decision=agree">贊成</a>
            {% elif decision.decision == 0 %}
                <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?decision=abstain">棄權</a>
            {% elif decision.decision == -1 %}
                <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?decision=disagree">反對</a>
            {% else %}
                <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?decision=notvote">沒投票</a>
            {% endif %}
            {% if forloop.counter < vote_addup|length %}
                、
            {% endif %}
        {% empty %}
            {% if councilor.election_year == '2010' %}
                {% if index == 'conscience' %}<p class="lead text-danger">沒有任何脫黨投票紀錄</p>
                {% else %}<p class="text-danger">沒有表決紀錄</p>
                {% endif %}
            {% else %}
                <p class="lead text-danger">尚無資料</p>
            {% endif %}
        {% endfor %}
    </div>
    {% if votes %}
        {% include "common/pagination.html" with items=votes page_size=0 %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color: #FFFFCC;">
                    <th style="width: 10%">個人投票</th>
                    <th style="width: 10%">表決結果</th>
                    <th style="width: 15%">日期</th>
                    <th style="width: 65%">表決內容</th>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes %}
                <tr>
                    <td style="text-align:center; vertical-align:middle;">
                    {% with decision=vote.decision %}
                    {% if decision == -1 %}
                        <i class="fa fa-circle text-danger"></i> 反對
                    {% elif decision == 1 %}
                        <i class="fa fa-circle text-success"></i> 贊成
                    {% elif decision == 0 %}
                        <i class="fa fa-circle text-warning"></i> 棄權
                    {% else %}
                        <i class="fa fa-circle text-muted"></i> 沒投票
                    {% endif %}
                    {% endwith %}
                    </td>
                    {% with vote=vote.vote %}
                    <td style="text-align:center; vertical-align:middle;">{{vote.result|vote_result:'cht'}}</td>
                    <td style="text-align:center; vertical-align:middle;">{{ vote.date|date:"Y-m-d" }}</td>
                    <td>
                        <a href="{% url 'votes:vote' vote.uid %}" rel="tooltip" title="查看各議員投什麼票">查看投票名單和完整內容</a><br>
                        {% if keyword %}
                            {{vote.content|linebreaksbr|replace:keyword|safe}}
                        {% else %}
                            {{vote.content|linebreaksbr|truncatechars:120}}
                        {% endif %}
                    </td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "common/pagination.html" with items=votes page_size=0 %}
    {% endif %}
{% endblock person_detail %}

{% block script %}
    {{block.super}}
    <script>
        $(document).ready( function() {
            $('#url_vote').addClass('btn-primary');
        });
    </script>
{% endblock script %}
