{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的表決立場</title>
    <meta property="og:title" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的表決立場"/>
    <meta itemprop="name" content="{{councilor.county}}議員:{{councilor.name}} {{councilor.election_year|election_year_range}} 的表決立場">
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="{% for x in standpoints %}{% if forloop.counter0 < 3 %}{{x.decision}}:{{x.title}}、{% endif %}{% endfor %}...等等"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
    <meta itemprop="description" content="{% for x in standpoints %}{% if forloop.counter0 < 3 %}{{x.decision}}:{{x.title}}、{% endif %}{% endfor %}...等等"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{councilor.county}}.png"/>
{% endblock social_meta %}

{% block person_detail %}
    <div class="row">
        <div class="text-center">
            <h4 data-toggle="collapse" data-target="#ref_qa"><span class="text-warning">以下資料怎麼產生的？ <i class="fa fa-caret-square-o-down"></i></span></h4>
            <div id="ref_qa" class="collapse">
                內容由網友共同標註、投票產生，覺得內容太少？下標不正確？<br>
                歡迎進入<a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全表決紀錄</a>，一起幫助大家了解議員幹了什麼好事！
            </div>
        </div>

        {% regroup standpoints by decision as decision_list %}
        {% for decision_group in decision_list %}

            <div class="col-sm-{% widthratio 12 decision_list|length 1 %}">
                <div class="panel-group" id="accordion_{{decision_group.grouper}}" role="tablist" aria-multiselectable="true">
                {% for standpoint in decision_group.list %}
                {% if decision_group.grouper == "反對" %}
                    <div class="panel panel-danger">
                {% elif decision_group.grouper == "贊成" %}
                    <div class="panel panel-success">
                {% elif decision_group.grouper == "沒投票" %}
                    <div class="panel panel-default">
                {% else %}
                    <div class="panel panel-warning">
                {% endif %}
                        <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#accordion_{{decision_group.grouper}}" data-target="#{{decision_group.grouper}}_{{standpoint.title}}" aria-expanded="false" aria-controls="{{decision_group.grouper}}_{{standpoint.title}}">
                            <b>{{standpoint.title}}</b>
                            {% if decision_group.grouper == "反對" %}
                                <span class="label label-danger pull-right">
                            {% elif decision_group.grouper == "贊成" %}
                                <span class="label label-success pull-right">
                            {% elif decision_group.grouper == "沒投票" %}
                                <span class="label label-default pull-right">
                            {% else %}
                                <span class="label label-warning pull-right">
                            {% endif %}
                            {{decision_group.grouper}} {{standpoint.times}}次</span>
                        </div>
                        <div id="{{decision_group.grouper}}_{{standpoint.title}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{decision_group.grouper}}_{{standpoint.title}}">
                            <ul class="list-group">
                                {% for fragment in standpoint.votes %}
                                <a class="list-group-item" href="{% url 'votes:vote' fragment.uid %}" target="_blank">
                                    <h4>☞ 表決 {{forloop.counter}}<small>（這標怎麼下的？點我來改進）</small></h4>
                                    <blockquote>
                                        <p><small>{{fragment.content|truncatechars:100}}</small></p>
                                    </blockquote>
                                </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock person_detail %}

{% block script %}
    {{block.super}}
    <script>
        $(document).ready( function() {
            $('#url_vote').addClass('btn-primary');
            $('[data-toggle="collapse"]').on('click', function() {
                $(this).find('.fa-caret-square-o-down').toggleClass('up-side-down');
            });
        });
    </script>
{% endblock script %}
