{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的表決立場</title>
    <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的表決立場"/>
    <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的表決立場">
{% endblock title %}

{% block top-menu %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url 'councilors:voter_sp' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">表決立場</a></li>
        <li><a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全表決紀錄</a></li>
    </ul>
{% endblock %}

{% block person_detail %}
    <div class="row">
        <div class="description" style="margin-left: 55px; margin-right: 15px;">
            立場由使用者標註、投票產生，歡迎進入<a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}">全表決紀錄</a>讓資料更好
        </div>
        {% regroup standpoints by decision as decision_list %}
        {% for decision_group in decision_list %}
        <div class="col-sm-{% widthratio 12 decision_list|length 1 %}">
            <ul class="media-list">
                <li>
                    <h3 align="center">
                        {% if decision_group.grouper == "反對" %}
                            <i class="fa fa-times-circle text-danger">
                        {% elif decision_group.grouper == "贊成" %}
                            <i class="fa fa-check-circle text-success">
                        {% elif decision_group.grouper == "沒投票" %}
                            <i class="fa fa-bed text-muted">
                        {% else %}
                            <i class="fa fa-question-circle text-warning">
                        {% endif %}
                        {{ decision_group.grouper }} </i>
                    </h3>
                    <ul>
                    {% for standpoint in decision_group.list %}
                    <li class="media">
                        <div class="media-body well"style="background-color: #fff;">
                            <span class="pull-right">
                                {% if decision_group.grouper == "反對" %}
                                    <i class="fa fa-times-circle fa-lg text-danger"></i>
                                {% elif decision_group.grouper == "贊成" %}
                                    <i class="fa fa-check-circle fa-lg text-success"></i>
                                {% elif decision_group.grouper == "沒投票" %}
                                    <i class="fa fa-bed fa-lg text-muted"></i>
                                {% else %}
                                    <i class="fa fa-question-circle fa-lg text-warning"></i>
                                {% endif %}
                            </span>
                            <div class="media-heading">
                                <font class="lead">{{standpoint.title}}</font><br>{{standpoint.times}}次
                                <div align="right">
                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#ref_vote_{{standpoint.votes.0.uid}}">原表決內容&nbsp;<i class="fa fa-caret-square-o-down"></i></button><br>
                                </div>
                                <div id="ref_vote_{{standpoint.votes.0.uid}}" class="collapse">
                                    {% for fragment in standpoint.votes %}
                                    <h4><a href="{% url 'votes:vote' fragment.uid %}" target="_blank" class="btn btn-default">☞ 表決 {{forloop.counter}}<small>（這標怎麼下的？點我來改進）</small></a></h4>
                                    <blockquote>
                                        <p><small>{{fragment.content|truncatechars:100}}</small></p>
                                    </blockquote>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock person_detail %}

{% block script %}
    {{block.super}}
    <script>
        $(document).ready( function() {
            $('#url_vote').attr('class', 'active');
        });
    </script>
{% endblock script %}
