{% extends "base.html" %}

{% block title %}
    <title>議員投票指南: {{election_year}}候選人</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}候選人"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}候選人">
{% endblock title %}

{% block right %}
    <div class="hero-unit span12" style="margin-left: 1%;">
        <img src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/logo.png" alt="" class="pull-right"></img>
        <h2>{{election_year}} - 議會投票指南</h2>
        <p>減少盲目投票，讓民主社會的台灣更進步；輸入關鍵字，關心你關心的議題</p>
    </div>
    <div class="four column doubling ui grid">
        {% for county in counties %}
            <div class="column direct-container">
            <a href="{% url 'candidates:districts' county=county.county election_year=election_year %}" class="direct-item council-light {% cycle 'council-lightyellow' 'council-yellow' %}">
                <img class="" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county.county}}.png">
								<div></div>
                <br>
                <br>
                <div class="direct-sub right">
                		<h4>{{county.county}}</h4>
                </div>
            </a>
            </div>
        {% endfor %}
        </div>
        <div class="alert alert-info span12" style="margin-left:0px;margin-top:50px;"><h4 class="text-center">其他縣市努力趕工中，歡迎加入開發</h4></div>
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#candidates').addClass('active');
        });
    </script>
{% endblock script %}
