{% extends "base.html" %}

{% block title %}
    <title>議員投票指南: {{election_year}}{{county}}候選人</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}{{county}}候選人"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}{{county}}候選人">
{% endblock title %}

{% block right %}
    <div class="five column doubling ui grid row">
        <div class="page-header text-center span10 offset1">
            <h3>{{election_year}} {{county}} - 議員選區</h3>
        </div>
            {% for district, candidate in hashList %}
            <div class="column direct-container">
            <a href="{% url 'candidates:district' county=county election_year=election_year constituency=district.constituency %}" class="direct-item {% cycle 'council-bluegreen' 'council-darkbluegreen' %}">
                <h4>{{district.constituency|stringformat:"02d"}}. {{district.district}}</h4>
                <div>&nbsp;</div>
                <p class="county-candidate">{{candidate}}</p>
            </a>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}
