Django==1.11

# db related
psycopg2==2.6.2

# api related
djangorestframework==3.4.7
django-filter==1.0.2

# deploy related
gunicorn==19.6.0

# testing related
coverage==4.2

# others
django-debug-toolbar==1.7

# elastic search
elasticsearch==1.8.0
django-haystack==2.5.1

# account
django-allauth==0.32.0
