Django==1.8.3

# db related
psycopg2==2.5.5
django-json-field==0.5.5

# api related
djangorestframework==3.3.3
django-filter==0.11

# deploy related
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
static==0.4

# testing related
coverage==3.7.1

# others
django-pagination==1.0.7
django-debug-toolbar==1.3
