Django==1.7.1
django-json-field==0.5.5
django-filter==0.7
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
static==0.4
django-pagination==1.0.7
djangorestframework==2.3.13
django-discover-runner==1.0
coverage==3.7.1
