{% extends "base.html" %}
{% block title %}
    {% if bill %}
        {% with councilor=bill.primary_proposer.0 %}
        {% if councilor %}
        <title>議員投票指南:{{county}}-{{ councilor.name }}的議案</title>
            <meta property="og:title" content="議員投票指南:{{county}}-{{ councilor.name }}提的議案"/>
            <meta itemprop="name" content="議員投票指南:{{county}}-{{ councilor.name }}提的議案">
        {% else %}
            <title>議員投票指南:{{county}}-{{ bill.proposed_by }}提的議案</title>
            <meta property="og:title" content="議員投票指南:{{county}}-{{ bill.proposed_by }}提的議案"/>
            <meta itemprop="name" content="議員投票指南:{{county}}-{{ bill.proposed_by }}提的議案">
        {% endif %}
        {% endwith %}
    {% endif %}
{% endblock title %}
{% block right %}
<div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span10">
        <br>
        <div id="d3" align="left">
        </div>
        {% if bill %}
        <div align="center">
            <ul class="inline lead">
                <li>{{bill.type}}</li>
                <li>{{bill.category}}</li>
            </ul>
            <a href="{{bill.links}}" target="_blank"><p class="lead">官方連結</p></a>
        </div>
        <dl class="dl-horizontal">
            <dt>提案人</dt>
            <dd>
                <ul class="inline">
                {% for councilor in bill.sorted_proposer_set %}
                    <li><a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}" rel="tooltip" title="{{councilor.name}}的所有議案">{% include "common/name_color_by_party.html" %}</a></li>
                {% empty %}
                    {{bill.proposed_by}}
                {% endfor %}
                </ul>
            </dd>
            {% if bill.petitioned_by %}
                <dt>連署人</dt>
                <dd>
                    <ul class="inline">
                    {% for councilor in bill.sorted_petition_set %}
                        <li><a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}" rel="tooltip" title="{{councilor.name}}的所有議案">{% include "common/name_color_by_party.html" %}</a></li>
                    {% empty %}
                        {{bill.proposed_by}}
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            <dt>案由</dt>
            <dd><p>{{bill.abstract}}</p></dd>
            {% if bill.description %}
                <dt>說明</dt>
                <dd><p>{{bill.description}}</p></dd>
            {% endif %}
            {% if bill.methods %}
                <dt>辦法</dt>
                <dd><p>{{bill.methods}}</p></dd>
            {% endif %}
            {% if bill.execution %}
                <dt>執行情形</dt>
                <dd><p>{{bill.execution}}</p></dd>
            {% elif bill.last_action %}
                <dt>執行情形</dt>
                <dd><p>{{bill.last_action}}</p></dd>
            {% endif %}
            {% if bill.remark %}
                <dt>備註</dt>
                <dd><p>{{bill.remark}}</p></dd>
            {% endif %}
            {% for motion in bill.motions %}
                <dt>{{motion.motion}}</dt>
                <dd><p>{% if motion.date %}{{motion.date|date:"Y-m-d"}}{% endif %}&nbsp;{% if motion.resolution %}{{motion.resolution}}{% endif %}</p></dd>
            {% endfor %}
        </dl>
        {% endif %}
        <hr>
        <div id="disqus_thread"></div>
    </div>
    <div class="span1">
    </div>
</div><!--end: row-fluid -->
<hr>
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#bills').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
    {% if bill.sorted_proposer_set %}
    {% include "bills/d3/bill_pie.html" %}
    {% endif %}
{% endblock script %}
