{% extends "base.html" %}

{% block title %}
    <title>議員投票指南: {{election_year}}</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}">
{% endblock title %}

{% block right %}
    <div class="five column doubling ui grid">
        <div class="page-header text-center span10 offset1">
            <h3>請選擇縣市</h3>
        </div>
        {% for county in counties %}
        <div class="column direct-container">
            <a href="{% url 'bills:bills' index=index county=county %}" class="direct-item {% cycle 'council-purple' 'council-darkpurple' %}">
                <h4>{{county}}</h4>
                <div>&nbsp;</div>
                <br>
                <br>
                <div class="direct-sub">
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="alert alert-info span12" style="margin-left:0px;margin-top:50px;"><h4 class="text-center">其他縣市努力趕工中，歡迎加入開發</h4></div>
        </div>
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#bills').addClass('active');
        });
    </script>
{% endblock script %}
