{% extends "base.html" %}
{% load extras %}

{% block title %}
    {% if index == 'conscience' %}
        <title>議員投票指南:脫黨表決檢索</title>
        <meta property="og:title" content="議員投票指南:脫黨表決檢索"/>
        <meta itemprop="name" content="議員投票指南:脫黨表決檢索">
    {% else %}
        <title>議員投票指南:全表決檢索</title>
        <meta property="og:title" content="議員投票指南:全表決檢索"/>
        <meta itemprop="name" content="議員投票指南:全表決檢索">
    {% endif %}
{% endblock %}

{% block right %}
    <div class="span10">
        {% include "common/search_keyword_form.html" with placeholder_text="例:預算 世運...空格有交集效果" %}
        {% if keyword_hot and index != 'conscience' %}
        <h4>熱門：
            {% for keyword in keyword_hot %}
            {% if forloop.counter0 < 5 %}
            <a href="{% url 'votes:votes' county='臺北市' election_year=election_year index=index %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
            {% endif %}
            {% endfor %}
        </h4>
        {% endif %}
        {% if not keyword %}
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                <span>以通過、不通過分類</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'votes:votes' county=county election_year=election_year index=index %}?result=Passed"><font color="#66CC66">通過</font></a></li>
                <li><a href="{% url 'votes:votes' county=county election_year=election_year index=index %}?result=Not Passed"><font color="#FF66CC">不通過</font></a></li>
            </ul>
        </div>
        {% endif %}
        <div class="well well-small">
            <font class="lead">{{election_year}}至今有 {{ votes|length }} 個
            {% if keyword %}包含<font style="color: red;">"{{keyword}}"</font>的
            {% endif %}
            {% if index == 'conscience' %}<b>脫黨</b>
            {% endif %}
            {% if result %}<b>{{result|vote_result:'cht'}}</b>的
            {% endif %}
            表決
            </font>
        </div>
        {% if votes %}
        {% load pagination_tags %}
        {% autopaginate votes 10 %}
        {% paginate %}
        <table class="table table-bordered zebra" >
            <thead>
                <tr style="background-color: #FFFFCC;">
                    <th style="width: 6%">屆期</th>
                    <th style="width: 12%">表決結果</th>
                    <th style="width: 3%">贊成票</th>
                    <th style="width: 3%">反對票</th>
                    <th style="width: 3%">棄權票</th>
                    <th style="width: 3%">沒投票</th>
                    <th style="width: 12%">日期</th>
                    <th style="width: 50%">表決內容</th>
                    <th style="width: 8%">備註</th>
                </tr>
            </thead>
            <tbody>
                {% for fragment in votes %}
                <tr style="background-color: {% cycle '#DDDDDD' 'white' %};">
                    <td style="text-align:center; vertical-align:middle;">{{fragment.sitting.election_year}}</td>
                    <td style="text-align:center; vertical-align:middle; background-color: #{{fragment.result|vote_result:'td_bgcolor'}}">{{fragment.result|vote_result:'cht'}}</td>
                    <td style="text-align:center; vertical-align:middle; background-color: #66CC66;">{{fragment.results.agree}}</td><td style="text-align:center; vertical-align:middle; background-color: #FF66CC;">{{fragment.results.disagree}}</td><td style="text-align:center; vertical-align:middle; background-color: #999999;">{{fragment.results.abstain}}</td><td style="text-align:center; vertical-align:middle; background-color: #FFFF99;">{{fragment.results.not_voting}}</td>
                    <td style="text-align:center; vertical-align:middle;">{{ fragment.date|date:"Y-m-d" }}</td>
                    <td>
                        <a href="{% url 'votes:vote' fragment.uid %}" rel="tooltip" title="查看各議員投什麼票">查看投票名單和完整內容</a><br>
                        {% if keyword %}
                            {{fragment.content|linebreaksbr|replace:keyword|safe}}
                        {% elif fragment.summary %}
                            <span class="badge badge-warning">精簡版</span>&nbsp;{{ fragment.summary }}
                        {% else %}
                            {{fragment.content|linebreaksbr|truncatechars:120}}
                        {% endif %}
                    </td>
                    <td style="text-align:center; vertical-align:middle;">
                    {% if fragment.conflict %}
                    <p class="text-error">脫黨表決</p>
                    {% endif %}
                    </td>
                </tr>
                {% empty %}
                <p>完全沒有表決</p>
                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
        {% endif %}
    </div>
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#votes').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
