
.photoAndParty.col-xs-12.col-sm-3.row.hidden-xs
	.party.pull-right
		.relat
			img(src="img/dest/party.png")
	.photo.pull-right
		.relat
			img(src="http://www.tcc.gov.tw/upload/Councilor/2334/d543307a-d837-4de7-a666-0aa306b4d9cd.jpg")
