.nav-resume-all.col-xs-11
	a(data-type="profile",href="resume-profile.html") 基本資料
	a(data-type="video",href="resume-video.html") 多媒體
	a(data-type="politics",href="resume-politics.html") 提案/表決/政見
	a(data-type="fund",href="resume-fund.html") 配合款
	a(data-type="contribution",href="resume-contribution.html") 政治獻金
	a(data-type="declaration",href="resume-declaration.html") 財產申報