@margin: 20px;
@pad: 20px;
@small_pad: 10px;
@sidebar_width: 241px;
@grayLight: #999;

.container-fluid {
  *zoom: 1;
}

.description {
  padding: 20px 60px 20px 60px;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h7 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h7 {
  font-size: 22.5px;
}

.person-btn-margin a{
  margin: 5px;
}

.five .direct-container{
	padding: 0 2%!important;
}

.four .direct-container{
  padding: 0 5%!important;
}

.direct-item{
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  text-decoration:none;
  display: inline-block;
  position: relative;
  padding: 5%;
  width:100%;
  height: auto;
  vertical-align: top;
  background-color: rgb(0, 204, 204);
  color:white;
  box-shadow: 2px 2px 4px #aaa;
}

.direct-item:hover, .direct-item:active, .direct-item:focus, .direct-item:visited{
  text-decoration:none;
  color:white;
}

.direct-item h4{
  font-size: 24px;
  text-shadow: 1px 1.732px 5px rgba(0, 0, 0, .25);
  line-height: 150%;
}

.council-light, .council-light:hover, .council-light:active, .council-light:focus, .council-light:visited{
	color: black;
}

.direct-item img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	opacity: .8;
	width: auto;
	height: 40%;
}

.council-light:hover img, .council-light:focus img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
}

.direct-sub{
  position: absolute;
  bottom:10px;
  font-size: 18px;
  color:inherit;
  text-shadow: 1px 1.732px 5px rgba(0, 0, 0, .2);
}

.direct-sub.right{
	right: 5%;
}

@media screen and (max-width: 400px){
  .county-sub, .districts-sub{
    display: none;
  }
}

.county-district:before{
  content:"選區：";
}

.county-candidate:before{
  content: "參選人數：";
}

@media screen and (min-width: 767px){
  .direct-item{
    height: 180px;
  }
}

.council-lightyellow{
	background: rgb(254, 254, 154);
}

.council-yellow{
	background: rgb(254, 203, 104);
}

.council-gray{
	background: #EDEDED;
}

.council-darkgray{
	background: #D5D5D5;
}

.council-bluegreen{
  background: #32CBCB;
}

.council-darkbluegreen{
  background: #3FA1A1;
}

.council-purple{
  background: #CC66CC;
}

.council-darkpurple{
  background: #996699;
}

.council-blue{
  background: #6699FF;
}

.council-darkblue{
  background: #3366CC;
}

.council-orange{
  background: #F6C151;
}

.council-darkorange{
  background: #996666;
}

.sortable{
  cursor: pointer;
}

.gsc-search-button
{
    background-color: #1a4195;
    border-radius: 5px;

}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: inherit !important;
    height: 16px !important;
    border-color: none !important;
    filter: none;
}

.gsc-control-cse{
  border-color: #151515;
  background-color: #151515;
}

.gsc-input-box{
  background: none!important;
  border: none!important;
  /*height: 60px;*/
}

#___gcse_0{
  height: inherit;
  display: table-caption;
  width: 300px;
  text-align: -webkit-match-parent;
  border-color: #151515;
  background-color: #151515;
}

#___gcse_1{
  display: none;
  border-color: #151515;
  background-color: #151515;
}

@media (max-width: 979px) {
  #___gcse_1{
    width: 100%;
    display: block;
  }
  #___gcse_0{
    display:none;
  }
}

@media (min-width: 979px) and (max-width: 1084px){
  .container-fluid{
    margin-top: 120px;
  }
}

#gs_tti50 > input, #gs_tti51 > input{
  height: 25px!important;
  margin-top: -3px!important;
}

.hero-unit{
  position: relative;
}

.hero-unit img{
  position: absolute;
  right: 5%;
  top: 10%;
  height: 80%;
  opacity: .65;
}

@media (max-width: 979px) {
  .hero-unit img{
    display:none;
  }
}
