@margin: 20px;
@pad: 20px;
@small_pad: 10px;
@sidebar_width: 241px;
@grayLight: #999;

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
  margin:0 50px 0 50px;
}

.description {
  padding: 20px 60px 20px 60px;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h7 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h7 {
  font-size: 22.5px;
}

.person-btn-margin a{
  margin: 5px;
}
.direct-container{
  padding: 0 2%!important;
}

.direct-item{
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  text-decoration:none;
  display: inline-block;
  position: relative;
  padding: 5%;
  width:100%;
  height: auto;
  vertical-align: top;
  background-color: rgb(0, 204, 204);
  color:white;
  box-shadow: 2px 2px 4px #aaa;
}

.direct-item:hover, .direct-item:active, .direct-item:focus, .direct-item:visited{
  text-decoration:none;
  color:white;
}

.direct-item > h4{
  font-size: 24px;
  text-shadow: 1px 1.732px 5px rgba(0, 0, 0, .5);
  line-height: 150%;
}

.county-district:before{
  content:"選區：";
}

.county-candidate:before{
  content: "參選人數：";
}

@media screen and (min-width: 767px){
  .direct-item{
    height: 180px;
  }
}

.council-bluegreen{
  background: #02E8E8;
}

.council-darkbluegreen{
  background: #00CCCC;
}
