/* Basic
=================================================================== */

.no-space [class*="span"] {
    margin-left: 0;
}

body {
    background: #F5F5F5;
    color: #3b3b41;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#content {
    background: #ffffff;
    filter: none;
    min-height: 100%;
    padding: 20px 20px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    border: 2px solid #eee;
    position: relative;
    margin-bottom: 60px;
}

/* Header Section
=================================================================== */
.navbar {
    margin-bottom: 40px;
}

.navbar-inner {
    margin-bottom: 0px;
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background: #E0E0E0;
    filter: none;
    /*text-shadow: 1px 1px 1px #0a0c0e;*/
    border: none;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    *zoom: 1;
    border-bottom: 1px solid #E0E0E0; /* rgba(0, 0, 0, 0.05); */

}

.navbar-inner a {
    color: #7b7b7b;
    /*text-shadow: 0 -1px 1px #0b090a;*/
}

.navbar-inner a i {
    margin-top: 2px;
}

.navbar-inner a:hover i {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.brand img {
    margin: -12px 0px -5px 0px;
}

a.brand i {
    color: #272727;
    text-shadow: none;
    font-weight: bold;
}

.header-nav {
    padding: 0px;
    color: #fff !important;
    background: #000 !important;
}

.header-nav .nav {
    border-right: 1px solid #323237; /* rgba(0, 0, 0, 0.1); */
    border-left: 1px solid #4E4E53; /*rgba(255, 255, 255, 0.05); */
    margin: 0px;
}

.header-nav .btn {
    display: inline-block;
    padding: 21px 20px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border-left: 1px solid #323237; /* rgba(0, 0, 0, 0.1); */
    border-right: 1px solid #4E4E53; /*rgba(255, 255, 255, 0.05); */
    border-top: 0px;
    border-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.header-nav a.btn {
    color: #fff !important;
    text-shadow: none !important;
    padding: 10px 25px !important;
}

.header-nav .btn .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.header-nav .btn:hover .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

/* Navigation Section
=================================================================== */

.sidebar-nav > ul {
    margin: 0px 0px 0px 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    text-align: center !important;
}

.sidebar-nav > ul > li > ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    display: none;
}

.nav-tabs.nav-stacked > img {
    margin-bottom: 5px;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
    margin: 1px 0px 0px 0px;
    padding: 10px 8px;
    color: #aaa;
    text-shadow: 0px 1px 0px #fff;
    font-size: 20px;
    line-height: 22px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
}

.nav-tabs.nav-stacked > li > ul > li {
    padding: 5px 0px;
}

.nav-tabs.nav-stacked > li > a > i,
.nav-tabs.nav-stacked > li > ul > li > a > i {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    font-size: 22px;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.nav-tabs.nav-stacked > li > ul > li > a > i {
    font-size: 20px;
}

.nav-tabs.nav-stacked > li > a:hover > i {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > ul > li > a:hover {
    margin: 1px 0px 0px 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
    color: #666;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav-tabs.nav-stacked  > li.active > a {
    margin: 1px 0px 0px 0px;
    border: 2px solid #eee;
    border-right: none;
    color: #3b3b41;
    font-weight: bold;
    background: #fff;
    -webkit-border-radius: 5px 0px 0px 5px !important;
    -moz-border-radius: 5px 0px 0px 5px !important;
    border-radius: 5px 0px 0px 5px !important;
    position: relative;
    z-index: 20;
}

.nav-tabs.nav-stacked  > li.active > ul {
    margin: -4px 0px 0px 0px;
    border: 2px solid #eee;
    padding: 5px 0px;
    border-top: none;
    border-right: none;
    color: #3b3b41;
    background: #fff;
    -webkit-border-radius: 0px 0px 0px 5px !important;
    -moz-border-radius: 0px 0px 0px 5px !important;
    border-radius: 0px 0px 0px 5px !important;
    position: relative;
    z-index: 21;
}

.nav-tabs.nav-stacked > li:first-child > a {
    margin: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    margin-bottom: -1px;
    color: #272727;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu:after,
.dropdown-menu:before {
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    max-width: 300px;
    padding: 0px 0;
    margin: 1px 0 0;
    list-style: none;
    text-shadow: none;
    background-color: #080808;
    border: 1px solid #080808;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 0px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.dropdown-menu li a {
    display: block;
    padding: 5px 10px !important;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    white-space: normal !important;
}

.dropdown-menu li {
    border-top: 1px solid rgba(255, 255, 255, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.dropdown-menu li:first-child {
    border-top: 0px !important;
}

.dropdown-menu li:last-child {
    border-bottom: 0px !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0 !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
    color: #999999;
}

.dropdown-menu .disabled > a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
}

.dropdown-menu-title {
    background-color: #080808;
    color: #fff;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}

.dropdown-menu ul,
.dropdown-menu ul li {
    padding: 0px !important;
    margin: 0px !important;
}

ul.notifications li,
ul.tasks li,
ul.messages li {
    width: 260px;
}

ul.notifications li .avatar img,
ul.tasks li .avatar img,
ul.messages li .avatar img {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.messages li .header {
    display: block;
}

ul.messages li .header .from {
    font-size: 12px;
    font-weight: bold;
}

ul.notifications li .time,
ul.tasks li .header .percent,
ul.messages li .header .time {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    right: 5px;
}

ul.tasks li .title,
ul.notifications li .message {
    font-size: 12px;
}

ul.notifications li.warning a {
    color: #FA5833;
}

ul.messages li .message {
    font-size: 11px;
}

/* Tabs
=================================================================== */

.tab-menu.nav-tabs {
    *zoom: 1;
    margin-top: -48px;
}

.tab-menu.nav-tabs > li {
    float: right;
}

.tab-menu.nav-tabs {
    border-bottom: none;
}

.tab-menu.nav-tabs > li {
    margin-bottom: -1px;
}

.tab-menu.nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px;
    margin-left: -3px;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tab-menu.nav-tabs > li > a:hover {
    border-color: #f1f1f1;
}

.tab-menu.nav-tabs > .active > a {
    color: #555555;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid #f1f1f1;
}

.tab-menu.nav-tabs > .active > a:hover {
    background-color: #fafafa;
}

/* Button
=================================================================== */

.btn-moonc {
    background: #9F0050;
    color: #eeeeee;
}
     
.btn-moonc:hover, .btn-moonc:focus, .btn-moonc:active, .btn-moonc.active, .open > .dropdown-toggle.btn-moonc {
    background: #BF0060;
    color: #ffffff;
}
 
.btn-moonc:active, .btn-moonc.active {
    background: #BF0060;
    box-shadow: none;
}

/* Footer
=================================================================== */

footer {
    bottom: 0 !important;
    width: 100%;
    padding: 10px 0px;
    max-height: 24px;
    background: #574A68;
    color: #fff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

footer > .container > a {
    color: #fff;
    padding-left: 20px;
}


/* candidates
=================================================================== */

.property-header {
    font-weight: bold;
}

.property-body {
    margin-left: 20px;
    margin-bottom: 20px;
}

.political-opinion-header {

}

.political-opinion-body {
    margin-left: 20px;
}

hr.candidates-separator {
    border-top: #bbb 1px solid
}

.candidate-photo {
    max-width: 200px;
}
