/* Higher than 1200 (desktop devices)
====================================================================== */
@media (min-width: 1200px) {

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
        *zoom: 1;
        margin:0 50px 0 50px;
    }

    #content {
        padding: 20px;
        margin-left: -2px;
    }

    #sidebar-left {
        background: transparent;
        margin: -1px 0px 0px 25px;
        padding-top: 0px;
    }

    #sidebar-leftx {
        background: transparent;
        margin: -1px 0px 0px 25px;
        padding-top: 0px;
    }

    .sidebar-nav > ul {
        margin: 0px 0px 0px -20px;
    }

    footer {
        margin: 20px 0px 0px 0px;
        /*padding: 10px 20px;*/
        position: fixed;
        z-index: 51;
    }

    .tabnav ul.tools li {
        width: 120px !important;
    }

}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 979px) {

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
        *zoom: 1;
        margin:0 50px 0 50px;
    }

    #content {
        padding: 10px;
        margin-left: -2px;
        overflow: hidden;
    }

    #sidebar-left {
        background: transparent;
        margin: -1px 0px 0px 20px;
        padding-top: 0px;
    }

    #sidebar-leftx {
        background: transparent;
        margin: -1px 0px 0px 20px;
        padding-top: 0px;
    }

    .sidebar-nav > ul {
        margin: 0px 0px 0px -20px;
    }

    .dark {
        padding: 10px;
        top: -10px;
        right: -10px;
        margin-bottom: -40px;
        margin-right: -20px;
    }

    .noMargin {
        margin-left: 0px !important;
    }

    .sidebar-nav {
        padding: 0;
        margin-bottom: 0;
    }

    footer {
        margin: 20px 0px 0px 0px;
        /*padding: 10px 20px;*/
        position: fixed;
        z-index: 51;
    }

    .tabnav ul li {
        width: 110px !important;
    }

    .tabnav ul.tools li {
        width: 109px !important;
    }

    .tabnav ul li a {
        font-size: 0.8em !important;
    }

}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {

    #content {
        overflow: hidden;
    }

    .dark {
        padding: 10px;
        top: 0px;
        right: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .sidebar-nav > ul {
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .nav-tabs.nav-stacked > li {
        margin: 0px !important;
        border-top: 1px solid rgba(255, 255, 255, .5);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .nav-tabs.nav-stacked > li > a {
        margin: 0px !important;
        font-size: 14px;
        padding: 12px 0px;
        color: #aaa;
        text-shadow: 0px 1px 0px #fff;
    }

    .nav-tabs.nav-stacked > li > ul > li > a {
        font-size: 12px;
    }

    .nav-tabs.nav-stacked > li > a > i {
        display: inline;
        margin-right: 10px;
    }

    .nav-tabs.nav-stacked > li > ul > li > a > i {
        display: inline;
        margin-right: 10px;
    }

    .nav-tabs.nav-stacked > li.active > a {
        border: 0px;
    }

    .nav-tabs.nav-stacked > li.active > ul {
        border: 0px;
    }

    .dark {
        padding: 10px;
        top: 0px;
        right: 0px;
        margin-bottom: 0px;
        position: relative;
        border: 4px solid #f9f9f9;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .tabnav ul li {
        width: 100px !important;
    }

    .tabnav ul li a {
        font-size: 0.8em !important;
    }

    .tabnav ul.tools li {
        width: 100px !important;
    }

    table th {
        word-wrap: break-word !important;
        word-break: break-all !important;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    #content {
        padding: 5px;
    }

    .pull-right {
        margin: 10px auto;
    }

    footer {
        position: fixed;
        z-index: 51;
    }

    .tabnav ul li {
        width: 100px !important;
    }

    .tabnav ul.tools li {
        width: 100px !important;
    }

    .tabnav ul li a {
        font-size: 0.7em !important;
    }

    table th:last-child {
        word-wrap: break-word !important;
        word-break: break-all !important;
    }

    .height10 {
        height: 70px !important;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {

    #content {
        padding: 5px;
    }

    .pull-right {
        margin: 10px auto;
    }

    table,
    .pagination {
        font-size: 10px;
    }

    .pagination {
        padding: 5px;
    }

    .header-nav a.btn {
        padding: 6px !important;
    }

    footer {
        /*padding: 10px 20px;*/
        z-index: 51;
    }

    .tabnav ul li {
        width: 100px !important;
    }

    .tabnav ul.tools li {
        width: 100px !important;
    }

    .tabnav ul li a {
        font-size: 0.5em !important;
    }

    table th:last-child {
        word-wrap: break-word !important;
        word-break: break-all !important;
    }

    .height10 {
        height: 70px !important;
    }

    .box-header {
        height: 100% !important;
    }
}
