/* Basic
=================================================================== */

.no-space [class*="span"] {
    margin-left: 0;
}

body {
    background: #F5F5F5;
    color: #3b3b41;
    border: none;
    font-family: "微軟正黑體", "Microsoft JhengHei", 'Heiti TC', "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "標楷體", TW-Kai, 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.tooltip-inner {
    font-size: 18px;
}

/* Table
=================================================================== */
.table>thead>tr>th {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* Header Section
=================================================================== */
.navbar {
    margin-bottom: 0px;
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background: #574A68;
    filter: none;
    /*text-shadow: 1px 1px 1px #0a0c0e;*/
    border: none;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    *zoom: 1;
    border-bottom: 1px solid #E0E0E0; /* rgba(0, 0, 0, 0.05); */

}

a.navbar-brand i {
    color: #eee;
    text-shadow: none;
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}

.nav.nav-tabs {
    margin-bottom: 12px;
}

/* dropdown-submenu
=================================================================== */
.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* Button
=================================================================== */

.btn-moonc {
    background: #9F0050;
    color: #eeeeee;
    text-shadow: none;
}
     
.btn-moonc:hover, .btn-moonc:focus, .btn-moonc:active, .btn-moonc.active, .open > .dropdown-toggle.btn-moonc {
    background: #BF0060;
    color: #ffffff;
}
 
.btn-moonc:active, .btn-moonc.active {
    background: #BF0060;
    box-shadow: none;
}

/* Footer
=================================================================== */

footer {
    position: fixed;
    z-index: 51;
    bottom: 0 !important;
    width: 100%;
    padding: 10px 0px;
    background: #574A68;
    color: #fff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

footer > .container > a {
    color: #fff;
    padding-left: 20px;
}


/* candidates
=================================================================== */

.property-header {
    font-weight: bold;
}

.property-body {
    margin-left: 20px;
    margin-bottom: 20px;
}

.political-opinion-header {

}

.political-opinion-body {
    margin-left: 20px;
}

hr.candidates-separator {
    border-top: #bbb 1px solid
}

.candidate-photo {
    max-width: 200px;
}

/* person
=================================================================== */

.person_header {
    z-index: 50;
    padding: 20px 0;
    border-bottom: 1px solid rgba(136,136,136,.4);
    background-color: rgba(255,255,255,.85);
}

.person_detail {
    padding: 20px 0;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + div {
    padding-top: 140px;
}
