/*PARAMETER*/
/*@view_width:100%;;*/
.bg-resume0 {
  background: #f6e19a;
}
.bg-resume1 {
  background: #bce1da;
}
.bg-resume2 {
  background: #e0c0aa;
}
.bg-resume3 {
  background: #e8b5b9;
}
.bg-resume4 {
  background: #cce1ba;
}
.bg-resume5 {
  background: #8eccb2;
}
.bg-light-group-color1 {
  background: #ec7b5c;
}
.bg-light-group-color2 {
  background: #c7c8aa;
}
.bg-light-group-color3 {
  background: #e7ea75;
}
.bg-light-group-color4 {
  background: #cebdd7;
}
.bg-light-group-color5 {
  background: #edc7af;
}
.bg-light-group-color6 {
  background: #d5d8c4;
}
.bg-light-group-color7 {
  background: #ffde82;
}
.bg-light-group-color8 {
  background: #bbc7d3;
}
.bg-light-group-color9 {
  background: #aed6f3;
}
.bg-light-group-color10 {
  background: #f8b89d;
}
.bg-light-group-color11 {
  background: #e9def1;
}
.bg-light-group-color12 {
  background: #bb8fad;
}
.bg-light-group-color13 {
  background: #c8dff6;
}
.bg-light-group-color14 {
  background: #c4b2a4;
}
.bg-light-group-color15 {
  background: #c7c690;
}
.bg-light-group-color16 {
  background: #92a984;
}
.bg-light-group-color17 {
  background: #b2dba6;
}
.bg-light-group-color18 {
  background: #ded2af;
}
.bg-light-group-color19 {
  background: #e8b5ba;
}
.bg-light-group-color20 {
  background: #d77d6c;
}
.bg-light-group-color21 {
  background: #85c897;
}
.bg-light-group-color22 {
  background: #f6a86c;
}
.bg-light-group-color23 {
  background: #dce672;
}
.bg-light-group-color24 {
  background: #bbc7d3;
}
.bg-light-group-color25 {
  background: #fed1ba;
}
.bg-light-group-color26 {
  background: #ded276;
}
.bg-light-group-color27 {
  background: #c1badd;
}
.bg-light-group-color28 {
  background: #cce2ba;
}
.bg-light-group-color29 {
  background: #fee376;
}
.bg-light-group-color30 {
  background: #bee9f1;
}
.bg-dark-group-color1 {
  background: #f5e09e;
}
.bg-dark-group-color2 {
  background: #90cbb3;
}
.bg-dark-group-color3 {
  background: #e1775a;
}
.bg-dark-group-color4 {
  background: #d3de72;
}
.bg-dark-group-color5 {
  background: #feca79;
}
.bg-dark-group-color6 {
  background: #f09489;
}
.bg-dark-group-color7 {
  background: #c5cee4;
}
.bg-dark-group-color8 {
  background: #76c7c2;
}
.bg-dark-group-color9 {
  background: #bfd99b;
}
.bg-dark-group-color10 {
  background: #f8b89d;
}
.bg-dark-group-color11 {
  background: #f1d570;
}
.bg-dark-group-color12 {
  background: #9cb4d6;
}
.bg-dark-group-color13 {
  background: #bee9f1;
}
.bg-dark-group-color14 {
  background: #f39e68;
}
.bg-dark-group-color15 {
  background: #f2f079;
}
.bg-dark-group-color16 {
  background: #c2c4e4;
}
.bg-dark-group-color17 {
  background: #eb7e90;
}
.bg-dark-group-color18 {
  background: #b3dbaf;
}
.bg-dark-group-color19 {
  background: #fecfa1;
}
.bg-dark-group-color20 {
  background: #d77d6c;
}
.bg-dark-group-color21 {
  background: #85c897;
}
.bg-dark-group-color22 {
  background: #f6a86c;
}
.bg-dark-group-color23 {
  background: #f3a39e;
}
.bg-dark-group-color24 {
  background: #cb7373;
}
.bg-dark-group-color25 {
  background: #b4d994;
}
.bg-dark-group-color26 {
  background: #f5ccb8;
}
.bg-dark-group-color27 {
  background: #ea7159;
}
.bg-dark-group-color28 {
  background: #fbd871;
}
.bg-dark-group-color29 {
  background: #77c39e;
}
.bg-dark-group-color30 {
  background: #f2f079;
}
/**
 * font size
 */
.classJ.exlrgt {
  font-size: 50px;
}
.classJ.lrgt {
  font-size: 40px;
}
.classJ.exmdt {
  font-size: 34px;
}
.classJ.mdt {
  font-size: 26px;
}
.classJ.mdt-md {
  font-size: 23px;
}
.classJ.mdt-sm {
  font-size: 20px;
}
.classJ.smt {
  font-size: 18px;
}
/**
  *    Color
  */
.white {
  color: #f4f4f4;
}
.pwhite {
  color: #fff;
}
.black {
  color: #000;
}
.bg-white {
  background: #f4f4f4;
}
.bg-pwhite {
  background: #fff;
}
.bg-black {
  background: #000;
}
.red {
  color: #d72140;
}
.bg-red {
  background: #d72140;
}
.yellow {
  color: #ffe900;
}
.darkGray {
  color: #3b3b3b;
}
.bg-darkGray {
  background: #3b3b3b;
}
.brown {
  color: #231815;
}
.bg-brown {
  background: #231815;
}
.bg-pink {
  background: #f00;
}
.lightblue {
  color: #7a91c7;
}
.bg-lightblue {
  background: #7a91c7;
}
.blue {
  color: #0e317e;
}
.classJ.contain-1300 {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}
.classJ.contain-1200 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.classJ.contain-1100 {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}
.classJ.contain-1000 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.classJ.contain-600 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.classJ.contain-550 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}
.classJ.contain-500 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.input-inv {
  -webkit-appearance: none;
  background: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}
.bg-reject {
  background: #d93b33;
}
.bg-giveup {
  background: #f2ae57;
}
.bg-proposal {
  background: #3b3b3b;
}
.bg-approve {
  background: #5cb85c;
}
.bg-hostpropose {
  background: #5bc0de;
}
.bg-non-vote {
  background: #777;
}
.nav-resume-all {
  padding: 5px 20px;
  margin: 0 4%;
}
@media (max-width: 767px) {
  .nav-resume-all {
    margin: 9px 4%;
    font-size: 16px;
  }
}
.nav-resume-all .slick-arrow,
.select-county .slick-arrow,
.select-constituency .slick-arrow,
.select-opt2 .slick-arrow {
  position: absolute;
  background: transparent;
  top: 0;
  padding: 0px;
  color: transparent;
}
.nav-resume-all .slick-prev:before,
.select-county .slick-prev:before,
.select-constituency .slick-prev:before,
.select-opt2 .slick-prev:before {
  content: "\f0d9";
  font-family: FontAwesome;
  padding: 5px 10px;
  color: #000;
  position: absolute;
  font-size: 22px;
  left: 20%;
}
.nav-resume-all .slick-next:before,
.select-county .slick-next:before,
.select-constituency .slick-next:before,
.select-opt2 .slick-next:before {
  content: "\f0da";
  font-family: FontAwesome;
  padding: 5px 10px;
  color: #000;
  position: absolute;
  font-size: 22px;
  right: 20%;
}
.select-county .slick-slide,
.select-constituency .slick-slide,
.select-opt2 .slick-slide {
  height: auto;
}
.select-county .slick-prev:before,
.select-constituency .slick-prev:before,
.select-opt2 .slick-prev:before {
  left: 10px;
  top: 7px;
}
.select-county .slick-next:before,
.select-constituency .slick-next:before,
.select-opt2 .slick-next:before {
  top: 7px;
  right: 10px;
}
.btn-prev,
.btn-other {
  position: relative;
  z-index: 11;
}
.select-area,
.select-county,
.select-opt2 {
  position: relative;
  z-index: 9;
}
.select-constituency,
.select-opt2 {
  z-index: 8;
}
.hover-area {
  bottom: 105px;
  left: 0;
  z-index: 10;
}
.hover-info {
  padding: 10px;
  background: #f4f4f4;
  width: 150px;
  bottom: 0px;
  left: 0px;
  font-size: 16px;
  color: #000;
  top: 0;
}
.hover-info .tri {
  color: #f4f4f4;
  left: 20px;
  bottom: -12px;
}
.select-county-blk > div > a {
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
}
.navbar-search input,
.navbar-search img {
  display: inline-block;
}
.navbar-search img {
  float: right;
}
.navbar-search input {
  width: 1px;
  padding: 0 0px;
  -webkit-appearance: none;
  background: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}
form {
  margin-bottom: 0;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.bold {
  font-weight: 800;
}
.abs {
  position: absolute;
}
.relat {
  position: relative;
}
.fix {
  position: fixed;
}
.transparent {
  background-color: transparent;
  background: none;
}
.custom-input {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
}
.custom-input:focus {
  outline: none;
}
.test-frame {
  border: solid #cfc 1px;
}
.inv {
  display: none;
}
.text-justify {
  text-align: justify;
}
html {
  background: #eecbd0;
}
body {
  background: #eecbd0;
}
.wrapper h1,
.wrapper h2 {
  margin: 10px 0;
}
@media (max-width: 767px) {
  .wrapper h1,
  .wrapper h2 {
    margin: 9px 0;
  }
}
.wrapper .btn-prev,
.wrapper .btn-other,
.wrapper .select {
  margin: 10px 0;
}
@media (max-width: 767px) {
  .wrapper .btn-prev,
  .wrapper .btn-other,
  .wrapper .select {
    margin: 5px 0;
  }
}
.wrapper .container {
  margin-top: 100px;
  /**
         * 資訊卡
         */
}
@media (max-width: 767px) {
  .wrapper .container {
    padding: 0 10%;
  }
}
.wrapper .container .btn-other {
  background: #f4f4f4;
  background-image: url('../img/dest/to-ico.jpg');
  background-repeat: no-repeat;
  background-position: 5% center;
  padding: 10px 5px 10px 30px;
  text-align: center;
}
.wrapper .container .head-j {
  padding: 0 10px;
}
.wrapper .container .head-j > .navbar-search-bill {
  background: #f4f4f4;
  padding: 10px  ;
  margin: 5px 0;
}
.wrapper .container .head-j > .navbar-search-bill input,
.wrapper .container .head-j > .navbar-search-bill img {
  display: inline-block;
}
.wrapper .container .head-j > .navbar-search-bill img {
  float: right;
}
.wrapper .container .head-j > .navbar-search-bill input {
  width: 100px;
  padding: 0 0px;
  -webkit-appearance: none;
  background: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}
.wrapper .container .head-j .title {
  background-image: url('../img/dest/ico.png');
  background-repeat: no-repeat;
  background-position: 0% 60%;
  padding: 0px 0px 0px 30px;
}
.wrapper .container .head-j .area {
  /*padding:0px 0px 0px 50px;*/
}
.wrapper .container .head-j .area-selector {
  padding: 0px 50px 0px 0px;
}
.wrapper .container .head-j .area-selector select {
  width: 100%;
  color: #3b3b3b;
}
.wrapper .container .head-j .btn-prev {
  background: #7a91c7;
  color: #f4f4f4;
  padding: 10px 5px 10px 5px;
  text-align: center;
}
.wrapper .container .kw > * {
  margin: 10px 0;
  font-weight: 800;
}
.wrapper .container .select-bill,
.wrapper .container .select-area,
.wrapper .container .select-county,
.wrapper .container .select-constituency,
.wrapper .container .select-county-blk {
  margin: 10px -15px;
  font-weight: 800;
}
.wrapper .container .select-bill a,
.wrapper .container .select-area a,
.wrapper .container .select-county a,
.wrapper .container .select-constituency a,
.wrapper .container .select-county-blk a {
  margin: 15px;
  padding: 0 5px;
  color: #3b3b3b;
  font-size: 18px;
}
.wrapper .container .select-bill a.act,
.wrapper .container .select-area a.act,
.wrapper .container .select-county a.act,
.wrapper .container .select-constituency a.act,
.wrapper .container .select-county-blk a.act {
  color: #7a91c7;
  border-left: 1px solid #3b3b3b;
}
.wrapper .container .select-county a,
.wrapper .container .select-constituency a {
  margin: 0 15px;
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.wrapper .container .select-constituency a {
  position: relative;
}
.wrapper .container .filters {
  padding: 10px 0  ;
}
.wrapper .container .filters .f-item {
  margin: 0 10px;
}
.wrapper .container .filters .f-item.act .check-ico {
  background: #7a91c7;
}
.wrapper .container .filters .check-ico {
  width: 20px;
  height: 20px;
  background: #f4f4f4;
  margin: 0px 5px ;
  line-height: 25px;
  position: relative;
  top: 4px;
}
.wrapper .container .select-county-blk {
  margin: 50px -15px;
}
.wrapper .container .select-county-blk > div {
  padding-bottom: 25%;
  margin: 0%;
  position: relative;
}
@media (max-width: 767px) {
  .wrapper .container .select-county-blk > div {
    padding-bottom: 50%;
  }
}
.wrapper .container .select-county-blk > div .info,
.wrapper .container .select-county-blk > div .hover-layer,
.wrapper .container .select-county-blk > div .area-info {
  position: absolute;
  /*.bg-lightblue;*/
  border-radius: 5px;
  height: 96%;
  /* = 100% - 2*5% padding */
  width: 96%;
  /* = 100% - 2*5% padding */
  padding: 20% 0%;
  left: -2%;
  text-align: center;
  font-size: 18px;
  color: #3b3b3b;
}
.wrapper .container .select-county-blk > div .info.councilmen-area,
.wrapper .container .select-county-blk > div .hover-layer.councilmen-area,
.wrapper .container .select-county-blk > div .area-info.councilmen-area {
  padding: 50% 0% 5%;
}
.wrapper .container .select-county-blk > div .info.councilmen-area .eng,
.wrapper .container .select-county-blk > div .hover-layer.councilmen-area .eng,
.wrapper .container .select-county-blk > div .area-info.councilmen-area .eng {
  font-size: 100px;
}
@media (max-width: 767px) {
  .wrapper .container .select-county-blk > div .info.councilmen-area .eng,
  .wrapper .container .select-county-blk > div .hover-layer.councilmen-area .eng,
  .wrapper .container .select-county-blk > div .area-info.councilmen-area .eng {
    font-size: 80px;
  }
}
.wrapper .container .select-county-blk > div .info .eng,
.wrapper .container .select-county-blk > div .hover-layer .eng,
.wrapper .container .select-county-blk > div .area-info .eng {
  font-size: 80px;
  line-height: 100px;
  color: #f4f4f4;
  opacity: .5;
}
@media (max-width: 867px) {
  .wrapper .container .select-county-blk > div .info .eng,
  .wrapper .container .select-county-blk > div .hover-layer .eng,
  .wrapper .container .select-county-blk > div .area-info .eng {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 767px) {
  .wrapper .container .select-county-blk > div .info .eng,
  .wrapper .container .select-county-blk > div .hover-layer .eng,
  .wrapper .container .select-county-blk > div .area-info .eng {
    font-size: 70px;
    line-height: 80px;
  }
}
.wrapper .container .select-county-blk > div .info .bg,
.wrapper .container .select-county-blk > div .hover-layer .bg,
.wrapper .container .select-county-blk > div .area-info .bg {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  color: #f4f4f4;
  opacity: .5;
}
.wrapper .container .select-county-blk > div .info .bg > *,
.wrapper .container .select-county-blk > div .hover-layer .bg > *,
.wrapper .container .select-county-blk > div .area-info .bg > * {
  padding: 0;
  margin: 0;
}
.wrapper .container .select-county-blk > div .info .bg .tlg,
.wrapper .container .select-county-blk > div .hover-layer .bg .tlg,
.wrapper .container .select-county-blk > div .area-info .bg .tlg {
  font-size: 120px;
  line-height: 120px;
}
.wrapper .container .select-county-blk > div .info .bg .tmd,
.wrapper .container .select-county-blk > div .hover-layer .bg .tmd,
.wrapper .container .select-county-blk > div .area-info .bg .tmd {
  font-size: 110px;
  line-height: 120px;
}
@media (max-width: 867px) {
  .wrapper .container .select-county-blk > div .info .bg,
  .wrapper .container .select-county-blk > div .hover-layer .bg,
  .wrapper .container .select-county-blk > div .area-info .bg {
    font-size: 60px;
    line-height: 60px;
  }
  .wrapper .container .select-county-blk > div .info .bg .tmd,
  .wrapper .container .select-county-blk > div .hover-layer .bg .tmd,
  .wrapper .container .select-county-blk > div .area-info .bg .tmd {
    font-size: 100px;
    line-height: 120px;
  }
}
@media (max-width: 767px) {
  .wrapper .container .select-county-blk > div .info .bg,
  .wrapper .container .select-county-blk > div .hover-layer .bg,
  .wrapper .container .select-county-blk > div .area-info .bg {
    font-size: 60px;
    line-height: 60px;
  }
}
.wrapper .container .select-county-blk > div .area-info {
  padding: 10% 6%;
  top: 0;
  text-align: left;
}
.wrapper .container .select {
  -webkit-appearance: none;
  background: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  background: #f4f4f4;
  padding: 10px 20px;
  background-image: url('../img/dest/tri.png');
  background-repeat: no-repeat;
  background-position: 95%;
  color: #c6c6c6;
}
.wrapper .container .content-list {
  margin: 0px 0;
  font-weight: 800;
}
.wrapper .container .content-list .content-item.row {
  padding: 40px 20px 20px 40px;
  margin: 2% -15px;
  border-radius: 10px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .wrapper .container .content-list .content-item.row {
    padding: 20px;
  }
}
.wrapper .container .content-list .content-item.row .title h1 {
  font-weight: 800;
}
.wrapper .container .content-list .content-item.row .desc {
  padding: 5px 15px;
}
.wrapper .container .content-list .content-item.row .markups {
  overflow: hidden;
  font-size: 16px;
}
.wrapper .container .content-list .content-item.row .markups > * {
  background: #53b865;
  padding: 5px 10px;
  margin: 2px;
  color: #f4f4f4;
}
.wrapper .container .content-list .content-item.row .markups > * .num {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f4f4f4;
  color: #53b865;
  text-align: center;
  padding: 4px 0px;
}
.wrapper .container .content-list .content-item.row .btn-j {
  background: #7a91c7;
  color: #f4f4f4;
  padding: 10px;
}
html {
  background: #94d3be;
}
body {
  background: #94d3be;
}
