/*PARAMETER*/
/*@view_width:100%;;*/
.bg-resume0 {
  background: #f6e19a;
}
.bg-resume1 {
  background: #bce1da;
}
.bg-resume2 {
  background: #e0c0aa;
}
.bg-resume3 {
  background: #e8b5b9;
}
.bg-resume4 {
  background: #cce1ba;
}
.bg-resume5 {
  background: #8eccb2;
}
.bg-light-group-color1 {
  background: #ec7b5c;
}
.bg-light-group-color2 {
  background: #c7c8aa;
}
.bg-light-group-color3 {
  background: #e7ea75;
}
.bg-light-group-color4 {
  background: #cebdd7;
}
.bg-light-group-color5 {
  background: #edc7af;
}
.bg-light-group-color6 {
  background: #d5d8c4;
}
.bg-light-group-color7 {
  background: #ffde82;
}
.bg-light-group-color8 {
  background: #bbc7d3;
}
.bg-light-group-color9 {
  background: #aed6f3;
}
.bg-light-group-color10 {
  background: #f8b89d;
}
.bg-light-group-color11 {
  background: #e9def1;
}
.bg-light-group-color12 {
  background: #bb8fad;
}
.bg-light-group-color13 {
  background: #c8dff6;
}
.bg-light-group-color14 {
  background: #c4b2a4;
}
.bg-light-group-color15 {
  background: #c7c690;
}
.bg-light-group-color16 {
  background: #92a984;
}
.bg-light-group-color17 {
  background: #b2dba6;
}
.bg-light-group-color18 {
  background: #ded2af;
}
.bg-light-group-color19 {
  background: #e8b5ba;
}
.bg-light-group-color20 {
  background: #d77d6c;
}
.bg-light-group-color21 {
  background: #85c897;
}
.bg-light-group-color22 {
  background: #f6a86c;
}
.bg-light-group-color23 {
  background: #dce672;
}
.bg-light-group-color24 {
  background: #bbc7d3;
}
.bg-light-group-color25 {
  background: #fed1ba;
}
.bg-light-group-color26 {
  background: #ded276;
}
.bg-light-group-color27 {
  background: #c1badd;
}
.bg-light-group-color28 {
  background: #cce2ba;
}
.bg-light-group-color29 {
  background: #fee376;
}
.bg-light-group-color30 {
  background: #bee9f1;
}
.bg-dark-group-color1 {
  background: #f5e09e;
}
.bg-dark-group-color2 {
  background: #90cbb3;
}
.bg-dark-group-color3 {
  background: #e1775a;
}
.bg-dark-group-color4 {
  background: #d3de72;
}
.bg-dark-group-color5 {
  background: #feca79;
}
.bg-dark-group-color6 {
  background: #f09489;
}
.bg-dark-group-color7 {
  background: #c5cee4;
}
.bg-dark-group-color8 {
  background: #76c7c2;
}
.bg-dark-group-color9 {
  background: #bfd99b;
}
.bg-dark-group-color10 {
  background: #f8b89d;
}
.bg-dark-group-color11 {
  background: #f1d570;
}
.bg-dark-group-color12 {
  background: #9cb4d6;
}
.bg-dark-group-color13 {
  background: #bee9f1;
}
.bg-dark-group-color14 {
  background: #f39e68;
}
.bg-dark-group-color15 {
  background: #f2f079;
}
.bg-dark-group-color16 {
  background: #c2c4e4;
}
.bg-dark-group-color17 {
  background: #eb7e90;
}
.bg-dark-group-color18 {
  background: #b3dbaf;
}
.bg-dark-group-color19 {
  background: #fecfa1;
}
.bg-dark-group-color20 {
  background: #d77d6c;
}
.bg-dark-group-color21 {
  background: #85c897;
}
.bg-dark-group-color22 {
  background: #f6a86c;
}
.bg-dark-group-color23 {
  background: #f3a39e;
}
.bg-dark-group-color24 {
  background: #cb7373;
}
.bg-dark-group-color25 {
  background: #b4d994;
}
.bg-dark-group-color26 {
  background: #f5ccb8;
}
.bg-dark-group-color27 {
  background: #ea7159;
}
.bg-dark-group-color28 {
  background: #fbd871;
}
.bg-dark-group-color29 {
  background: #77c39e;
}
.bg-dark-group-color30 {
  background: #f2f079;
}
