/*PARAMETER*/
/*
思源圓體
 */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}
/**
 * Libre Baskerville
 */
.brand {
  color: #196732;
}
.bg-brand {
  background-color: #196732;
}
/*
'Noto Sans TC' cwTeXFangSong cwTeXMing


@fontfamilyeng:'Cormorant Infant' , arial, sans-serif;*/
/*@view_width:100%;;*/
.lightblue {
  color: #00aeef;
}
.blue {
  color: #0e317e;
}
.red {
  color: #c3332a;
}
.bg-red {
  background: #c3332a;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: 0em .6em;
}
/*custimed slider*/
input[type="text"] {
  width: 80%;
  -webkit-appearance: none;
  background: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  font-size: 16px;
  font-weight: 800;
  color: #892f2a;
  padding: 6px 10px;
}
textarea {
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  width: 100%;
  height: 150px;
}
@media (max-width: 767px) {
  textarea {
    height: 250px;
    font-size: 26px;
  }
}
input[type="range"] {
  -webkit-appearance: none;
  /* 限定範圍 */
  width: 180px;
  height: 3px;
  outline: none;
  /* 避免點選會有藍線或虛線 */
  background: #333;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width: 15px;
  height: 15px;
  background: #444;
  border-radius: 50%;
  transition: .2s;
  /* 點選放大時候的漸變時間 */
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  border: solid 1px #000;
  background: #fff;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0.25em;
  left: .25em;
  font-size: 1.5em;
  line-height: 0.8;
  color: #000;
  /*transition: all .2s;*/
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
select {
  /*background: none;
     outline: none;
     appearance: none;
     box-shadow: none;
     border-radius: none;
     border: none;
     background-image: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px;
  font-weight: 800;
  float: left;
}
.bg-pink {
  background: #ffacb8;
}
/*merge image*/
.fb_share {
  left: 0px;
  top: 0;
}
.fb_share canvas {
  left: 316px;
  top: 20px;
}
.mergeimage {
  width: 460px;
  height: 460px;
  left: -1020px;
  top: 0;
}
.mergeimage#mergeimage2 {
  width: 640px;
  height: 336px;
  left: -640px;
  top: 0px;
}
/*NAV*/
nav.navbar.navbar-abs-top {
  position: absolute;
}
/*Color*/
.drakGray {
  color: #444;
}
.peachRed {
  color: #dd4386;
}
.red {
  color: #c3332a;
}
.bg-red {
  background: #c3332a;
}
.contain-1300 {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-height: 100px;
  padding: 0;
}
.contain-1200 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  padding: 0;
}
.contain-1100 {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  min-height: 100px;
  padding: 0;
}
.contain-1000 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  padding: 0;
}
.contain-600 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0;
}
.contain-550 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-height: 100px;
  padding: 0;
}
.contain-500 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  padding: 0;
}
/*.mCS-my-theme*/
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ea739b;
  border: solid 2px #ea739b;
  width: 10px;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  background-color: #ea739b;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
  left: -70px;
  height: 70%;
  top: 15%;
}
@media (max-width: 767px) {
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    left: 0px;
  }
}
.mCS-my-theme.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
@keyframes blink {
  10% {
    color: inherit;
    text-shadow: inherit;
  }
  11% {
    color: #333;
  }
  12% {
    text-shadow: none;
  }
  15% {
    color: inherit;
    text-shadow: inherit;
  }
  16% {
    color: #333;
    text-shadow: none;
  }
  17% {
    color: inherit;
    text-shadow: inherit;
  }
  20% {
    color: #333;
    text-shadow: none;
  }
  20.5% {
    color: inherit;
    text-shadow: inherit;
  }
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.red {
  color: #c3332a;
}
.yellow {
  color: #ffe900;
}
.darkGray {
  color: #474747;
}
.bg-white {
  background: #fff;
}
.bg-darkGray {
  background: #474747;
}
.bg-brown {
  background: #231815;
}
.bg-black {
  background: #000;
}
.bg-red {
  background: #c3332a;
}
.bold {
  font-weight: 800;
}
.abs {
  position: absolute;
}
.relat {
  position: relative;
}
.fix {
  position: fixed;
}
.transparent {
  background-color: transparent;
  background: none;
}
.custom-input {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
}
.custom-input:focus {
  outline: none;
}
.test-frame {
  border: solid #cfc 1px;
}
.gold {
  color: #f2b969;
}
.animGradient {
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.tglow {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.tglow.strong {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.gradient-b {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08147d+1,2989d8+50,08147d+100 */
  background: #08147d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08147d', endColorstr='#08147d', GradientType=1);
  /* IE6-9 */
}
.gradient2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98538c+25,0293d8+100 */
  background: #98538c;
  /* Old browsers */
  background: -moz-linear-gradient(left, #98538c 25%, #0293d8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #98538c 25%, #0293d8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #98538c 25%, #0293d8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98538c', endColorstr='#0293d8', GradientType=1);
  /* IE6-9 */
}
.banner {
  z-index: 100000;
  top: 100px;
  right: -40px;
}
.banner .btn-j {
  color: #fff;
  border: solid 2px #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 50px ;
  margin: 20px 0;
  overflow-y: hidden;
}
.banner .btn-j .ico {
  top: -32px;
  left: -25px;
}
.banner .btn-j.btn-prd .ico {
  top: -25px;
  left: -20px;
}
.btn-j {
  background: rgba(11, 21, 42, 0.5);
}
.italy {
  font-style: italic;
}
.smt {
  font-size: 18px;
}
.lrgt {
  font-size: 60px;
}
.ex-mdt {
  font-size: 36px;
  font-weight: 800;
}
.mdt {
  font-size: 26px;
}
.wrapper {
  padding: 0;
}
.wrapper .container {
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.wrapper .container .sec {
  width: 100%;
}
.wrapper .container .sec .bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper .container .sec1 {
  margin-top: 65px;
}
.wrapper .container .sec1 .bg {
  background: url("../img/dest/prd-bg.jpg");
  background-size: cover;
}
.wrapper .container .sec1 .part1 {
  padding: 0;
  margin: 0 auto;
}
.wrapper .container .sec1 .part1 .title {
  margin: 300px auto;
}
.wrapper .container .sec1 .part1 .title .title-1 {
  width: 100%;
  max-width: 326px;
  left: 0;
  top: 40%;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  color: #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.wrapper .container .sec1 .part1 .prd {
  margin-top: 215px;
}
.wrapper .container .sec1 .part1 .hand {
  width: 120%;
  left: 10%;
}
.wrapper .container .sec1 .part1 .desc {
  margin-top: 300px;
  font-size: 19px;
  line-height: 34px;
}
.wrapper .container .sec1 .part1 .desc .special {
  line-height: 50px;
}
.wrapper .container .sec1 .part1 .desc .special .tech {
  top: -5px;
}
.wrapper .container .sec1 .part1 .desc .special .tech .mt {
  left: 20px;
}
.wrapper .container .sec1 .part1 .desc .special .tech .line {
  top: 22px;
  left: -20px;
}
.wrapper .container .sec1 .part1 .desc .tag {
  font-weight: 800;
  color: #0d3e77;
  font-size: 20px;
}
.wrapper .container .sec1 .part1 .desc .tag2 {
  color: #143595;
}
.wrapper .container .sec1 .part2 {
  padding: 0;
  margin: 0 auto;
}
.wrapper .container .sec1 .part2 > div {
  text-align: center;
}
.wrapper .container .sec1 .part2 .chart,
.wrapper .container .sec1 .part2 .title {
  display: inline-block;
  margin: 0 auto;
}
.wrapper .container .sec1 .part2 .desc {
  margin: 70px auto;
  font-size: 20px;
  line-height: 34px;
}
.wrapper .container .sec1 .part2 .desc .strong {
  font-size: 24px;
  color: #c53236;
  font-weight: 800;
}
.wrapper .container .sec1 .part2 .chart {
  margin: 0px auto ;
}
.wrapper .container .sec1 .part2 .prd1 {
  margin: 90px 60px;
}
.wrapper .container .sec1 .part2 .prd1 .tit {
  margin-top: 25%;
}
.wrapper .container .sec1 .part2 .prd1 .tit .line {
  width: 110%;
  left: -5%;
}
.wrapper .container .sec1 .part2 .prd1 .sub {
  padding-left: 5%;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}
.wrapper .container .sec2 .bg {
  background: url("../img/dest/part3-bg.jpg");
  background-size: cover;
  background-position: center center;
}
.wrapper .container .sec2 .part3 {
  padding-bottom: 150px;
  padding-left: 100px;
}
.wrapper .container .sec2 .part3 > div > div {
  margin: 10px auto;
}
.wrapper .container .sec2 .part3 .sub {
  margin-top: 80px;
}
.wrapper .container .sec2 .part3 .tit-feat {
  font-size: 22px;
  color: #fff;
  margin: 30px auto;
}
.wrapper .container .sec2 .part3 .tit-feat > div {
  padding: 30px 10px;
  display: inline-block;
}
.wrapper .container .sec2 .part3 .tit-feat .cir-none {
  color: #fff;
}
.wrapper .container .sec2 .part3 .tit-feat .circs {
  color: #f2b969;
  width: 92px;
  height: 92px;
  text-align: center;
  border-radius: 46px;
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.wrapper .container .sec2 .part3 .tit-feat .circs .bgb {
  width: 88px;
  height: 88px;
  top: 2px;
  left: 2px;
  background: #000;
  border-radius: 44px;
}
.wrapper .container .sec2 .part3 .tit-feat .circ1 {
  animation-delay: 0s;
}
.wrapper .container .sec2 .part3 .tit-feat .circ2 {
  animation-delay: .5s;
}
.wrapper .container .sec2 .part3 .tit-feat .circ3 {
  animation-delay: 1s;
}
.wrapper .container .sec2 .part3 .tit-feat .circ4 {
  animation-delay: 1.5s;
}
.wrapper .container .sec2 .part3 .tit-feat .circ5 {
  animation-delay: 2s;
}
.wrapper .container .sec2 .part3 .features > div .tit {
  color: #f2b969;
  font-size: 28px;
  line-height: 50px;
}
.wrapper .container .sec2 .part3 .features > div .desc {
  font-size: 18px;
  color: #fff;
}
.wrapper .container .sec3 .bg {
  background: url("../img/dest/part4-bg.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper .container .sec3 .part4 {
  padding: 30px 0px 100px;
}
.wrapper .container .sec3 .part4 > div {
  text-align: center;
}
.wrapper .container .sec3 .part4 .title {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
  font-weight: 800;
  font-size: 47px;
  color: #fff;
  margin: 30px auto;
  display: inline-block;
}
.wrapper .container .sec3 .part4 .title.strong {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.wrapper .container .sec3 .part4 .title .lineb {
  left: -60px;
  top: 30px;
}
.wrapper .container .sec3 .part4 .yt {
  width: 100%;
  height: 550px;
  border: solid 1px #2783c0;
  background: #000;
}
.wrapper .container .sec4 {
  background: #fff;
}
.wrapper .container .sec4 .part6 {
  padding: 30px 0 100px;
}
.wrapper .container .sec4 .part6 .carusel-set {
  z-index: 3;
}
.wrapper .container .sec4 .part6 .prd-set {
  z-index: 2;
  float: none;
  margin: 0 auto;
}
.wrapper .container .sec4 .part6 .prd-set .tit {
  font-size: 30px;
}
.wrapper .container .sec4 .part6 .prd-set .sub {
  font-size: 18px;
}
.wrapper .container .sec4 .part6 .carousel2 {
  width: 100vw;
  top: auto;
  bottom: 0;
}
.wrapper .container .sec4 .part6 .carousel2 .p {
  display: inline-block;
  margin: 0px;
  width: 50vw;
  height: 28.5vw;
  max-height: 500px;
  border: solid 10px #fff;
}
.wrapper .container .sec4 .part6 .carousel2 .p .yt2 {
  width: 100%;
  height: 100%;
}
.wrapper .container .sec4 .part6 .carousel2 .p img {
  width: 100%;
}
.wrapper .container .sec4 .part6 .carousel2 .slick-dots {
  width: 75vw;
  text-align: right;
  padding-right: 30px;
}
.wrapper .container .sec4 .part6 .carousel2 .slick-dots li button:before {
  font-size: 40px;
}
.wrapper .container .sec4 .part5 {
  height: 600px;
}
.wrapper .container .sec4 .part5 .prd-set {
  width: 51%;
  background: #fff;
  height: 100%;
}
.wrapper .container .sec4 .part5 .prd-set .prd {
  width: 100%;
  top: 5vw;
  left: 16vw;
}
.wrapper .container .sec4 .part5 .prd-set .tit {
  font-size: 30px;
}
.wrapper .container .sec4 .part5 .prd-set .sub {
  width: 80%;
  max-width: 500px;
  font-size: 18px;
}
.wrapper .container .sec4 .part5 .carusel-set {
  width: 49%;
  height: 100%;
  margin-right: 0;
  padding-right: 0;
}
.wrapper .container .sec4 .part5 .carousel {
  left: -10vw;
  width: 160vw;
  top: auto;
  bottom: 0;
}
.wrapper .container .sec4 .part5 .carousel .p {
  display: inline-block;
  margin: 0px;
  width: 40vw;
  height: 26.4vw;
  max-height: 450px;
  border: solid 10px #fff;
}
.wrapper .container .sec4 .part5 .carousel .p img {
  width: 100%;
}
.wrapper .container .sec4 .part5 .carousel .slick-dots {
  width: 60vw;
  text-align: right;
  padding-right: 30px;
}
.wrapper .container .sec4 .part5 .carousel .slick-dots li button:before {
  font-size: 40px;
}
.wrapper .container .sec5 .bg-white {
  bottom: 0;
  width: 100%;
  height: 408px;
  background: #fff;
}
.wrapper .container .sec5 .bg {
  background: url("../img/dest/prd-bg.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper .container .sec5 .part7,
.wrapper .container .sec5 .part71 {
  padding: 100px 0 50px;
}
.wrapper .container .sec5 .part7 .item-s .detail,
.wrapper .container .sec5 .part71 .item-s .detail,
.wrapper .container .sec5 .part7 .item1 .detail,
.wrapper .container .sec5 .part71 .item1 .detail {
  padding: 35% 0% 25% 10%;
}
.wrapper .container .sec5 .part7 .item-s .detail .line,
.wrapper .container .sec5 .part71 .item-s .detail .line,
.wrapper .container .sec5 .part7 .item1 .detail .line,
.wrapper .container .sec5 .part71 .item1 .detail .line {
  background: #666;
  height: 1px;
  width: 90%;
  left: 8%;
  margin: 10px 0;
}
.wrapper .container .sec5 .part7 .item-s .detail .tits,
.wrapper .container .sec5 .part71 .item-s .detail .tits,
.wrapper .container .sec5 .part7 .item1 .detail .tits,
.wrapper .container .sec5 .part71 .item1 .detail .tits {
  padding: 20px 0 0;
  text-align: right;
  font-size: 16px;
}
.wrapper .container .sec5 .part7 .item-s .detail .tits .tit,
.wrapper .container .sec5 .part71 .item-s .detail .tits .tit,
.wrapper .container .sec5 .part7 .item1 .detail .tits .tit,
.wrapper .container .sec5 .part71 .item1 .detail .tits .tit {
  font-size: 36px;
}
.wrapper .container .sec5 .part7 .item-s .detail .desc,
.wrapper .container .sec5 .part71 .item-s .detail .desc,
.wrapper .container .sec5 .part7 .item1 .detail .desc,
.wrapper .container .sec5 .part71 .item1 .detail .desc {
  text-align: right;
  padding: 8px 0;
}
.wrapper .container .sec5 .part7 .item-s .detail .btn-buy,
.wrapper .container .sec5 .part71 .item-s .detail .btn-buy,
.wrapper .container .sec5 .part7 .item1 .detail .btn-buy,
.wrapper .container .sec5 .part71 .item1 .detail .btn-buy {
  background: #000;
  font-size: 20px;
  padding: 0;
}
.wrapper .container .sec5 .part7 .item-s .detail .btn-buy a,
.wrapper .container .sec5 .part71 .item-s .detail .btn-buy a,
.wrapper .container .sec5 .part7 .item1 .detail .btn-buy a,
.wrapper .container .sec5 .part71 .item1 .detail .btn-buy a {
  color: #fff;
}
.wrapper .container .sec5 .part7 .item-s .detail .btn-buy a .btn-j,
.wrapper .container .sec5 .part71 .item-s .detail .btn-buy a .btn-j,
.wrapper .container .sec5 .part7 .item1 .detail .btn-buy a .btn-j,
.wrapper .container .sec5 .part71 .item1 .detail .btn-buy a .btn-j {
  padding: 10px 0;
  text-align: center;
}
.wrapper .container .sec5 .part7 .item-s .detail .btn-buy a .btn-j:hover,
.wrapper .container .sec5 .part71 .item-s .detail .btn-buy a .btn-j:hover,
.wrapper .container .sec5 .part7 .item1 .detail .btn-buy a .btn-j:hover,
.wrapper .container .sec5 .part71 .item1 .detail .btn-buy a .btn-j:hover {
  background: #444;
}
.wrapper .container .sec5 .part7 .item-s .prd,
.wrapper .container .sec5 .part71 .item-s .prd,
.wrapper .container .sec5 .part7 .item1 .prd,
.wrapper .container .sec5 .part71 .item1 .prd {
  left: 37%;
  top: 25%;
}
.wrapper .container .sec5 .part7 .item-s .detail,
.wrapper .container .sec5 .part71 .item-s .detail {
  padding: 30px ;
}
.wrapper .container .sec5 .part7 .item-s .detail .tits,
.wrapper .container .sec5 .part71 .item-s .detail .tits {
  padding: 35px 0 0 0;
}
.wrapper .container .sec5 .part7 .item-s .detail .desc,
.wrapper .container .sec5 .part71 .item-s .detail .desc {
  padding: 10px 0;
}
.wrapper .container .sec5 .part7 .item-s .detail .tits,
.wrapper .container .sec5 .part71 .item-s .detail .tits,
.wrapper .container .sec5 .part7 .item-s .detail .desc,
.wrapper .container .sec5 .part71 .item-s .detail .desc {
  text-align: left;
}
.wrapper .container .sec5 .part7 .item-s .detail .tits .tit,
.wrapper .container .sec5 .part71 .item-s .detail .tits .tit,
.wrapper .container .sec5 .part7 .item-s .detail .desc .tit,
.wrapper .container .sec5 .part71 .item-s .detail .desc .tit {
  font-size: 24px;
}
.wrapper .container .sec5 .part7 .item-s .detail .line,
.wrapper .container .sec5 .part71 .item-s .detail .line {
  background: #666;
  height: 1px;
  width: 90%;
  left: 0%;
  margin: 10px 0;
}
.wrapper .container .sec5 .part7 .item-s.item2,
.wrapper .container .sec5 .part71 .item-s.item2 {
  top: 128px;
}
.wrapper .container .sec5 .part7 .item-s.item2 .prd,
.wrapper .container .sec5 .part71 .item-s.item2 .prd {
  left: 0;
  top: 2px;
}
.wrapper .container .sec5 .part7 .item-s.item3 .detail .tits,
.wrapper .container .sec5 .part71 .item-s.item3 .detail .tits {
  padding: 17px 0 0 0;
}
.wrapper .container .sec5 .part7 .item-s.item3 .prd,
.wrapper .container .sec5 .part71 .item-s.item3 .prd {
  left: 0;
  top: 0px;
}
.wrapper .container .sec5a {
  height: 868px;
}
.wrapper .container .sec5a .center {
  left: 50%;
  top: 50%;
  z-index: 1;
}
.wrapper .container .sec5a .css-anim {
  width: 305px;
  height: 405px;
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  top: -50px;
  left: -580px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.wrapper .container .sec5a .css-anim-s {
  width: 100px;
  height: 100px;
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  top: 100px;
  left: 410px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.wrapper .container .sec5a .bg {
  z-index: 2;
  background: url("../img/dest/kent.png");
  background-size: cover;
  background-position: center;
}
.wrapper .container .sec5a .part7a {
  z-index: 3;
}
.wrapper .container .sec5a .part7a .item {
  left: 720px;
  top: 400px;
}
.wrapper .container .sec5a .part7a .item .detail {
  left: 30px;
}
.wrapper .container .sec5a .part7a .item .circs {
  width: 92px;
  height: 92px;
  border-radius: 46px;
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  color: #000;
  font-style: italic;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  padding: 18px 10px;
  left: 200px;
  top: 140px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.wrapper .container .sec5a .part7a .item .circs .sm {
  font-size: 18px;
}
.wrapper .container .sec5a .part7a .item .circs .bgb {
  width: 88px;
  height: 88px;
  top: 2px;
  left: 2px;
  background: #f1f5f8;
  border-radius: 44px;
}
.wrapper .container .sec5a .btn-buy {
  width: 200px;
  right: 45px;
  top: 750px;
  background: #000;
  font-size: 20px;
}
.wrapper .container .sec5a .btn-buy a {
  color: #fff;
}
.wrapper .container .sec5a .btn-buy a .btn-j {
  padding: 10px;
  text-align: center;
}
.wrapper .container .sec6 .bg {
  background: url("../img/dest/prd-bg.jpg");
  background-size: cover;
  background-position: center;
}
.wrapper .container .sec6 .part8 .title {
  float: none;
  margin: 50px auto;
}
.wrapper .container .sec6 .part8 .blogger {
  padding: 0 30px ;
  margin: 0px auto 70px;
}
.wrapper .container .sec6 .part8 .blogger .pic {
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.wrapper .container .sec6 .part8 .blogger .pic.comingsoon {
  background: #ddd;
}
.wrapper .container .sec6 .part8 .blogger .pic.comingsoon > div {
  width: 100%;
  left: 0%;
  top: 45%;
  font-size: 20px;
  font-weight: 800;
  color: #0d3e77;
  text-align: center;
}
.wrapper .container .sec6 .part8 .blogger .pic-frame {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: linear-gradient(143deg, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8, #27aeed, #b864a8);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  -o-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  /*  mix-blend-mode: darken;*/
  top: 10px;
  left: 40px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 94% 0%;
  }
  30% {
    background-position: 7% 100%;
  }
  50% {
    background-position: 94% 0%;
  }
}
.wrapper .container .sec6 .part8 .blogger .pic-frame .bg-w {
  width: 296px;
  height: 296px;
  background: #fdfdfe;
  top: 2px;
  left: 2px;
}
.wrapper .container .sec6 .part8 .blogger .tit {
  font-size: 24px;
  font-weight: 800;
  padding: 20px 10px 10px;
}
.wrapper .container .sec6 .part8 .blogger .desc {
  padding: 0 20px 10px 10px;
  font-size: 16px;
}
.wrapper .container .sec6 .part8 .blogger a.btn-blog {
  display: inline-block;
  padding: 0 15px;
}
.wrapper .container .sec6 .part8 .blogger a.btn-blog .btn-j {
  font-size: 18px;
  font-weight: 800;
  padding: 10px 40px;
  background: transparent;
  border: solid 1px #000;
}
.wrapper .container .sec7 {
  padding: 100px 0 300px;
}
.wrapper .container .sec7 .bg {
  background: url("../img/dest/part9-bg.png");
  background-size: cover;
  background-position: center;
}
.wrapper .container .sec7 .bg .bg-r {
  right: 0;
  bottom: 0;
  height: 100%;
}
.wrapper .container .sec7 .bg .bg-r img {
  height: 100%;
}
.wrapper .container .sec7 .part9 {
  color: #fff;
}
.wrapper .container .sec7 .part9 > div {
  float: none;
  margin: 5px auto;
  text-align: center;
}
.wrapper .container .sec7 .part9 .brand {
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  padding: 5px 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08147d+1,2989d8+50,08147d+100 */
  background: #08147d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #08147d 1%, #2989d8 50%, #08147d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08147d', endColorstr='#08147d', GradientType=1);
  /* IE6-9 */
  border-radius: 5px;
}
.wrapper .container .sec7 .part9 .sub {
  font-size: 24px;
}
.wrapper .container .sec7 .part9 .subs {
  padding: 30px  0  5px;
  font-size: 18px;
}
.wrapper .container .sec7 .part9 .desc {
  font-size: 18px;
  text-align: left;
  padding: 5px 0 10px;
}
.wrapper .container .sec7 .part9 .title {
  font-size: 49px;
  float: none;
  margin: 10px auto;
  line-height: 50px;
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.wrapper .container .sec7 .part9 .title.strong {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.wrapper .container .sec7 .part9 .title > div {
  float: left;
}
.wrapper .container .sec7 .part9 .title .dot {
  font-size: 15px;
  line-height: 50px;
  padding: 0 10px;
  height: 50px;
}
.wrapper .container .sec7 .part9 .title .line {
  width: 109%;
  left: -7%;
  top: 48px;
}
.wrapper .container .sec7 .part9 .form {
  padding: 0 30px;
}
.wrapper .container .sec7 .part9 .form form .form-group label {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 10px;
}
.wrapper .container .sec7 .part9 .form form .form-group input,
.wrapper .container .sec7 .part9 .form form .form-group select {
  font-size: 16px;
  border: solid 1px #000;
  border-radius: 0;
}
.wrapper .container .sec7 .part9 .form form .form-group select {
  margin: 0 5px 5px 0;
}
.wrapper .container .sec7 .part9 .form form .form-check {
  margin-left: 65px;
  text-align: left;
}
.wrapper .container .sec7 .part9 .form form .form-check label {
  line-height: 25px;
  font-size: 14px;
}
.wrapper .container .sec7 .part9 .form form .form-check label a {
  color: #fff;
}
.wrapper .container .sec7 .part9 > .btn-j {
  background: #000;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px 40px;
  margin: 10px auto;
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.wrapper .container .sec7 .part9 > .btn-j.strong {
  text-shadow: 0px 0px 100px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4, 0px 0px 60px #185bb4;
}
.wrapper .container .sec7 .part9 > .btn-j:hover {
  background: #222;
}
.wrapper .container .sec7 .part9 .ps {
  color: #fff;
  padding: 0px 20px;
  font-size: 16px;
}
.wrapper .container .sec7 .part9 .ps .pst {
  line-height: 40px;
  text-align: left;
}
.wrapper .container .sec7 .part9 .ps .pstdesc {
  text-align: left;
  line-height: 20px;
  font-size: 14px;
}
.wrapper .container .sec7 .part9 .ps .btn-submit {
  background: #fff;
  padding: 5px 10px;
  color: #000;
}
.gradient-red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d72140+0,dc2576+100 */
  background: #d72140;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d72140 0%, #dc2576 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d72140', endColorstr='#dc2576', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.gradient-red-txt {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d72140+0,dc2576+100 */
  background: #d72140;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d72140 0%, #dc2576 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d72140', endColorstr='#dc2576', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contain-1200 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  padding: 0;
}
.contain-1000 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  padding: 0;
}
.contain-600 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0;
}
.contain-500 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  padding: 0;
}
.contain-550 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-height: 100px;
  padding: 0;
}
.pop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
}
.pop .bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
}
.pop .btn-close {
  right: 10px;
  top: 10px;
  padding: 20px;
  background: none;
}
.pop .contain-1000 {
  margin: 100px auto;
}
.pop .contain-1000 .title {
  float: none;
  margin: 0 auto;
}
.pop .contain-1000 .bottom-btns {
  float: none;
  margin: 30px auto;
}
.pop .contain {
  padding: 0;
  top: 20%;
  height: 450px;
  overflow: hidden;
}
.pop .contain .bgform {
  width: 100%;
  height: 100%;
}
.pop .contain .bgform > img {
  width: 100%;
  height: 100%;
}
.pop .contain .form-content {
  margin: 0;
  height: 100%;
  text-align: center;
}
.pop .contain .form-content .content {
  width: 100%;
  height: 100%;
  padding: 10px 30px 0px 30px;
  margin: 0;
  top: 5%;
  overflow: hidden;
}
.pop .contain .form-content .sub {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d72140+0,dc2576+100 */
  background: #d72140;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d72140 0%, #dc2576 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d72140 0%, #dc2576 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d72140', endColorstr='#dc2576', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 0px;
}
.pop .contain .form-content .prds {
  width: 100%;
  padding: 10px 0 20px;
}
.pop .contain .form-content .prds .prd {
  font-size: 17px;
  line-height: 30px;
  padding: 0;
}
.pop .contain .form-content .prds .prd.prd1,
.pop .contain .form-content .prds .prd.prd2 {
  top: 47px;
}
.pop .contain .form-content .prds .prd .txt {
  padding-top: 5px;
  font-size: 12px;
}
.pop .contain .form-content .desc {
  top: 40px;
  font-size: 12px;
  text-align: left;
}
.pop .contain .form-content .form {
  padding: 0 60px 0 30px;
}
.pop .contain .form-content .form form .form-group label {
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
  line-height: 40px;
  height: 40px;
  text-align: right;
}
.pop .contain .form-content .form form .form-group input,
.pop .contain .form-content .form form .form-group select {
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  border: solid 1px #000;
  border-radius: 0;
}
.pop .contain .form-content .form form .form-group select {
  margin: 0 5px 5px 0;
}
.pop .contain .form-content .form form .form-check {
  margin-left: 65px;
  text-align: left;
}
.pop .contain .form-content .form form .form-check label {
  line-height: 25px;
  font-size: 14px;
}
.pop .contain .form-content .form form .btn-j {
  width: 285px;
  height: 53px;
  margin: 10px auto;
  padding: 12px;
  background-color: transparent;
  background-image: url('../img/dest/0330/btn-resend.png');
  -webkit-box-shadow: 2px 5px 25px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 5px 25px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 25px 3px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  left: 30px;
}
.pop .contain .form-content .ps {
  width: 86%;
  padding: 0;
  margin: 10px auto;
  display: inline-block;
  font-size: 13px;
  color: #000;
  text-align: left;
  background: url('../img/dest/form-border.png');
  background-size: contain;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.pop .contain .form-content .ps .ps-t {
  top: -25px;
  padding: 15px 25px;
}
/*.mCS-my-theme*/
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #666;
  border: solid 1px #666;
  border-radius: 0;
  width: 10px;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background-color: #666;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
  left: 5px;
  height: 70%;
  top: 15%;
}
@media (max-width: 767px) {
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    left: 0px;
  }
}
.mCS-my-theme.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.contain-1200 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  padding: 0;
}
.contain-800 {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  padding: 0;
}
.contain-1000 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  padding: 0;
}
.contain-600 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0;
}
.contain-500 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  padding: 0;
}
.contain-550 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-height: 100px;
  padding: 0;
}
.pop-tvc {
  z-index: 10001;
}
.pop-tvc .bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
}
.pop-tvc .btn-close {
  right: 0px;
  top: -50px;
  padding: 10px;
  background: none;
}
.pop-tvc .contain-1000 {
  margin: 0px auto;
}
.pop-tvc .contain {
  height: 60%;
  max-height: none;
  top: 20%;
  overflow: visible;
}
.pop-tvc .content {
  padding: 0;
  height: 100%;
  width: 100%;
}
.pop-tvc .content .yt-nav {
  width: 100%;
  height: 100%;
}
/*.mCS-my-theme*/
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #666;
  border: solid 1px #666;
  border-radius: 0;
  width: 10px;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background-color: #666;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
  left: 5px;
  height: 70%;
  top: 15%;
}
@media (max-width: 767px) {
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    left: 0px;
  }
}
.mCS-my-theme.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
