/*PARAMETER*/
/*
思源圓體
 */
/**
 * Libre Baskerville
 */
/*@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');*/
.brand {
  color: #196732;
}
.bg-brand {
  background-color: #196732;
}
/*
'Noto Sans TC' cwTeXFangSong cwTeXMing


@fontfamilyeng:'Cormorant Infant' , arial, sans-serif;*/
/*@view_width:100%;;*/
.lightblue {
  color: #0274bd;
}
.blue {
  color: #0e317e;
}
.red {
  color: #c3332a;
}
.bg-red {
  background: #c3332a;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  padding: 0em .6em;
}
/*custom radio*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 65px;
  display: inline-block;
  color: #fff;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #025a96;
  position: absolute;
  top: 21px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
input[type="text"] {
  width: 100%;
  outline: none;
  border-radius: 30px;
  border: none;
  font-size: 22px;
  font-weight: 800;
  height: 55px;
  padding: 6px 10px;
}
textarea {
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  width: 100%;
  height: 150px;
}
@media (max-width: 767px) {
  textarea {
    height: 250px;
    font-size: 26px;
  }
}
/*custimed slider*/
input[type="range"] {
  -webkit-appearance: none;
  /* 限定範圍 */
  width: 330px;
  height: 6px;
  outline: none;
  /* 避免點選會有藍線或虛線 */
  background: #ecbd00;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width: 20px;
  height: 20px;
  background: #ecbd00;
  border-radius: 50%;
  transition: .2s;
  /* 點選放大時候的漸變時間 */
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #025a96;
  position: absolute;
  top: 21px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
select {
  background: none;
  outline: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  padding: 6px 12px;
  font-weight: 800;
  float: left;
}
.bg-pink {
  background: #ffacb8;
}
/*merge image*/
.fb_share {
  left: 0px;
  top: 0;
}
.fb_share canvas {
  left: 316px;
  top: 20px;
}
.mergeimage {
  width: 460px;
  height: 460px;
  left: -1020px;
  top: 0;
}
.mergeimage#mergeimage2 {
  width: 640px;
  height: 336px;
  left: -640px;
  top: 0px;
}
/*NAV*/
nav.navbar.navbar-abs-top {
  position: absolute;
}
/*Color*/
.drakGray {
  color: #444;
}
.peachRed {
  color: #dd4386;
}
.red {
  color: #c3332a;
}
.bg-red {
  background: #c3332a;
}
.contain-1300 {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  min-height: 100px;
  padding: 0;
}
.contain-1200 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100px;
  padding: 0;
}
.contain-1100 {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  min-height: 100px;
  padding: 0;
}
.contain-1000 {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  padding: 0;
}
.contain-600 {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0;
}
.contain-550 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-height: 100px;
  padding: 0;
}
.contain-500 {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  padding: 0;
}
/*.mCS-my-theme*/
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ea739b;
  border: solid 2px #ea739b;
  width: 10px;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  background-color: #ea739b;
  opacity: 1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
  left: -70px;
  height: 70%;
  top: 15%;
}
@media (max-width: 767px) {
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer {
    left: 0px;
  }
}
.mCS-my-theme.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
@keyframes blink {
  10% {
    color: inherit;
    text-shadow: inherit;
  }
  11% {
    color: #333;
  }
  12% {
    text-shadow: none;
  }
  15% {
    color: inherit;
    text-shadow: inherit;
  }
  16% {
    color: #333;
    text-shadow: none;
  }
  17% {
    color: inherit;
    text-shadow: inherit;
  }
  20% {
    color: #333;
    text-shadow: none;
  }
  20.5% {
    color: inherit;
    text-shadow: inherit;
  }
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.red {
  color: #c3332a;
}
.yellow {
  color: #ffe900;
}
.darkGray {
  color: #474747;
}
.bg-white {
  background: #fff;
}
.bg-darkGray {
  background: #474747;
}
.bg-brown {
  background: #231815;
}
.bg-black {
  background: #000;
}
.bg-red {
  background: #c3332a;
}
.bold {
  font-weight: 800;
}
.abs {
  position: absolute;
}
.relat {
  position: relative;
}
.fix {
  position: fixed;
}
.transparent {
  background-color: transparent;
  background: none;
}
.custom-input {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
}
.custom-input:focus {
  outline: none;
}
.test-frame {
  border: solid #cfc 1px;
}
.inv {
  display: none;
}
.glow {
  text-shadow: #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px;
}
.smt {
  font-size: 18px;
}
.lrgt {
  font-size: 40px;
}
.ex-mdt {
  font-size: 34px;
  font-weight: 800;
}
.mdt {
  font-size: 26px;
}
/*NAV*/
#side {
  display: none;
}
.wrapper {
  padding: 0;
  width: 640px;
  margin-top: 70px;
  overflow-y: auto;
}
.wrapper .container {
  width: 100%;
  overflow: hidden;
  padding: 0;
}
.wrapper .container .sec {
  width: 100%;
}
.wrapper .container .sec .bgall {
  width: 100%;
  height: 100%;
  opacity: .8;
  /*notice-other*/
}
.wrapper .container .sec .bgall .star1 {
  left: 540px;
  top: 10px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .star2 {
  left: 530px;
  top: 240px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .star3 {
  left: 550px;
  top: 410px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .star4 {
  left: 530px;
  top: 500px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.wrapper .container .sec .bgall .flower1 {
  left: -60px;
  top: 70px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .flower2 {
  left: -50px;
  top: 220px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.wrapper .container .sec .bgall .flower3 {
  left: -70px;
  top: 270px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .flower4 {
  left: -50px;
  top: 570px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.wrapper .container .sec .bgall .owl {
  left: 540px;
  top: 4100px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .cloudx {
  left: 540px;
  bottom: 103px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .btm {
  bottom: -10px;
}
.wrapper .container .sec .bgall .c1 {
  left: -30px;
  top: 450px;
}
.wrapper .container .sec .bgall .c7 {
  left: -20px;
  top: 850px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.wrapper .container .sec .bgall .c9 {
  left: -10px;
  top: 90px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.wrapper .container .sec .bgall .c10 {
  left: 10px;
  top: 50px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .c3 {
  left: 10px;
  top: 1300px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.wrapper .container .sec .bgall .c8 {
  left: 30px;
  top: 1350px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .c2 {
  left: 600px;
  top: 250px;
  -webkit-transform: scale(-1.1);
  -moz-transform: scale(-1.1);
  -ms-transform: scale(-1.1);
  -o-transform: scale(-1.1);
}
.wrapper .container .sec .bgall .c5 {
  left: 620px;
  top: 660px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.wrapper .container .sec .bgall .c4 {
  left: 570px;
  top: 1180px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .c6 {
  left: 20px;
  top: 1650px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .c11 {
  left: 620px;
  top: 1690px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.wrapper .container .sec .bgall .c12 {
  left: 580px;
  top: 1650px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .f1 {
  left: 50px;
  top: 1950px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f2 {
  left: 20px;
  top: 2000px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .f3 {
  left: 580px;
  top: 2300px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .cc1 {
  left: 550px;
  top: 1940px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .s1 {
  left: 30px;
  top: 2240px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .s2 {
  left: 10px;
  top: 2180px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.wrapper .container .sec .bgall .shoe1 {
  left: 5px;
  top: 2520px;
}
.wrapper .container .sec .bgall .f4 {
  left: 10px;
  top: 2740px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f5 {
  left: 15px;
  top: 2810px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.wrapper .container .sec .bgall .f6 {
  left: 35px;
  top: 3010px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .f7 {
  left: 585px;
  top: 3110px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .f8 {
  left: 565px;
  top: 3300px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s3 {
  left: 565px;
  top: 3000px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s4 {
  left: 605px;
  top: 3020px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .s5 {
  left: 585px;
  top: 3620px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .s6 {
  left: 35px;
  top: 4020px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.wrapper .container .sec .bgall .f9 {
  left: 15px;
  top: 3620px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f10 {
  left: 0px;
  top: 3690px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .shoe2 {
  left: 25px;
  top: 3180px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.wrapper .container .sec .bgall .cc2 {
  left: -5px;
  top: 3480px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .cc3 {
  left: 555px;
  top: 3800px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .cc4 {
  left: 595px;
  top: 3880px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s7 {
  left: 555px;
  top: 4280px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s8 {
  left: 575px;
  top: 4320px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f11 {
  left: 10px;
  top: 4400px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f12 {
  left: 0px;
  top: 4510px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .f13 {
  left: 600px;
  top: 4710px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .f14 {
  left: 560px;
  top: 4800px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .s9 {
  left: 20px;
  top: 5000px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s10 {
  left: 0px;
  top: 4950px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .owl2 {
  left: 500px;
  top: 5220px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .f15 {
  left: 30px;
  top: 5250px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f16 {
  left: 10px;
  top: 5350px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .f17 {
  left: 570px;
  top: 5600px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f18 {
  left: 610px;
  top: 5650px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .shoe3 {
  left: 550px;
  top: 5450px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .s11 {
  left: 20px;
  top: 5800px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .s12 {
  left: 50px;
  top: 5850px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .s13 {
  left: 550px;
  top: 6050px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .s14 {
  left: 600px;
  top: 6100px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.wrapper .container .sec .bgall .s15 {
  left: 20px;
  top: 6450px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.wrapper .container .sec .bgall .cc5 {
  left: 550px;
  top: 6300px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f19 {
  left: 10px;
  top: 6650px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .f20 {
  left: 50px;
  top: 6550px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec .bgall .shoe4 {
  left: 550px;
  top: 6550px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.wrapper .container .sec .bgall .baby {
  bottom: 110px;
  right: 40px;
}
.wrapper .container .sec .bgall .baby > img {
  position: relative;
  top: 0px;
}
.wrapper .container .sec .bgall .baby .s {
  bottom: -5px;
  left: 20px;
}
.wrapper .container .sec1 .decos {
  width: 100%;
  top: 0;
}
.wrapper .container .sec1 .decos .lamp-left,
.wrapper .container .sec1 .decos .lamp-right {
  top: -140px;
}
.wrapper .container .sec1 .decos .lamp-left {
  left: 10px;
}
.wrapper .container .sec1 .decos .lamp-left .light {
  left: -40px;
  top: 100px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  mix-blend-mode: lighten;
}
.wrapper .container .sec1 .decos .lamp-right {
  right: 10px;
}
.wrapper .container .sec1 .decos .lamp-right > .relat {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
.wrapper .container .sec1 .decos .lamp-right .light {
  right: -40px;
  top: 100px;
  mix-blend-mode: lighten;
}
.wrapper .container .sec1 .title {
  margin: 70px auto 10px;
  width: 490px;
  height: 59px;
  background: url("../img/dest/index-title.png");
}
.wrapper .container .sec1 .title .thumb {
  left: 45%;
}
.wrapper .container .sec1 .sub {
  font-size: 34px;
  text-align: center;
  color: #fff;
  font-style: italic;
  width: 460px;
  height: 61px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px dashed #fff;
  border-radius: 30px;
  font-weight: 800;
}
.wrapper .container .sec1 .sub.sub2 {
  height: 60px;
  padding: 5px;
}
.wrapper .container .sec1 .sub.sub3 {
  width: 500px;
  height: 60px;
  padding: 5px;
  margin: 20px auto 40px;
}
.wrapper .container .sec1 .sub .star {
  top: 2px;
}
.wrapper .container .sec1 .sub .star-left {
  left: 15px;
}
.wrapper .container .sec1 .sub .star-right {
  right: 15px;
}
.wrapper .container .sec1 .sub-t {
  position: relative;
  width: 80%;
  font-size: 26px;
  color: #fff;
  text-align: left;
  padding: 10px 0 20px;
  margin: 0 auto;
}
.wrapper .container .sec1 .sub-t div {
  margin: 0 auto;
}
.wrapper .container .sec1 .step {
  width: 510px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapper .container .sec1 .step.inv {
  display: none;
}
.wrapper .container .sec1 .step .ico {
  background: url("../img/dest/editor-ico.png");
  width: 128px;
  height: 61px;
  color: #0274bd;
  font-size: 30px;
  text-align: center;
  line-height: 79.3px;
}
.wrapper .container .sec1 .step .tt {
  font-size: 28px;
  font-style: italic;
  color: #fff;
  padding: 20px 0 0 10px;
  letter-spacing: 0px;
  border-bottom: 1px dashed #fff;
}
.wrapper .container .sec1 .desc {
  font-size: 23px;
  color: #fff;
  width: 520px;
  padding: 10px;
  margin: 20px auto 10px;
}
.wrapper .container .sec1 .desc .p1 {
  right: 0;
  top: 10px;
}
.wrapper .container .sec1 .desc ul {
  line-height: 35px;
  /*list-style-image: url('../img/dest/list-ico.png');*/
}
.wrapper .container .sec1 .desc ul li {
  position: relative;
  list-style-type: none;
  margin: 15px 0;
}
.wrapper .container .sec1 .desc ul li.gift {
  margin-bottom: 80px;
}
.wrapper .container .sec1 .desc ul li.gift2 {
  margin-bottom: 30px;
}
.wrapper .container .sec1 .desc ul li p a.yellow {
  color: #ffe900;
}
.wrapper .container .sec1 .desc ul li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 32px;
  height: 32px;
  background-image: url('../img/dest/list-ico.png');
}
.wrapper .container .sec1 .notice-other .desc ul li,
.wrapper .container .sec1 .privacy .desc ul li {
  list-style-type: decimal;
}
.wrapper .container .sec1 .notice-other .desc ul li:before,
.wrapper .container .sec1 .privacy .desc ul li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 32px;
  height: 32px;
  background-image: none;
}
.wrapper .container .sec1 .split-line {
  margin: 50px auto;
  width: 480px;
  border-bottom: 2px dashed #fff;
}
.wrapper .container .sec1 .notice .btns .cfa,
.wrapper .container .sec1 .notice-other .btns .cfa,
.wrapper .container .sec1 .privacy .btns .cfa {
  width: 50%;
  padding: 10px;
  font-size: 28px;
}
.wrapper .container .sec1 .notice.privacy,
.wrapper .container .sec1 .notice-other.privacy,
.wrapper .container .sec1 .privacy.privacy {
  padding-bottom: 50px;
}
.wrapper .container .sec1 .notice.privacy .btns .cfa,
.wrapper .container .sec1 .notice-other.privacy .btns .cfa,
.wrapper .container .sec1 .privacy.privacy .btns .cfa {
  width: 70%;
}
.wrapper .container .sec1 .btns .cfa {
  width: 32%;
  margin: 0 auto;
  color: #fff;
  font-size: 26px;
  line-height: 28px;
  padding: 10px;
  text-align: center;
  color: #cb3b32;
  text-shadow: #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px, #ffffff 0px 0px 2px;
  font-weight: 800;
}
.wrapper .container .sec1 .btns .cfa .tri {
  right: 20px;
  top: 10px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.wrapper .container .sec1 .btns .cfa .bg {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #c3332a;
  top: 0;
  left: 0;
}
.wrapper .container .sec1 .btns .cfa .bg.dark {
  top: 8px;
  background: #892f2a;
}
.wrapper .container .sec1 .end {
  height: 50px;
}
