{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>投票指南:關於本站</title>
    <meta property="og:title" content="投票指南:關於本站"/>
    <meta itemprop="name" content="投票指南:關於本站">
{% endblock %}

{% block css_file %}
    <link href="{% static "css/about.min.css" %}" rel="stylesheet">
{% endblock css_file %}

{% block right %}

    <input class="inv" id="page" type="text" value="about">
    <div class="preload abs"></div>
    <div class="wrapper relat">
      <div class="bg abs">
        <div class="bg-right abs hidden-xs"></div>
      </div>
      <div class="container relat classJ contain-1000">
        <div class="row content hidden-xs">
          <div class="col-sm-6 part-left">
            <div class="desc">
              <h3 class="bold">減少盲目投票，讓民主社會的台灣更進步</h3>
              <p>你的第一次投票經驗如何？</p>
              <p>我的第一次投票是聽從大人的意見投票，投完票後我覺得舒服，候選人我不認識，也不知道他做了什麼？ 立場是什麼？是否有為民發聲？</p>
              <p>我覺得得來不易的民主被我這種不懂的老百姓浪費了，如果民主制度是好的制度的話，它一定還少了什麼。</p>
              <h3 class="bold">拋磚引玉</h3>
              <p>希望吸引更多個人、團體自發性投入，發揮各自擅長的事讓台灣更好。希望有一天台灣政府能主動提供更正確完整的此類資訊給人民。</p>
              <h3 class="bold">公信力</h3>
              <p>本站資訊皆由政府、政黨或候選人所提供的資料經由電腦程式運算產生，以維持資訊之客觀，程式開源以供檢驗。</p>
              <h3 class="bold">目前成果</h3>
              <p>2014年及2016年選前一個月約有40萬不重複使用者，詳可見<a href="https://docs.google.com/spreadsheets/d/1pLtqmIozdxqGGpbaidfivlyRub43KbMFGs16Dxpqm8g" target="_blank">2014瀏覽資料</a>、<a href="https://docs.google.com/spreadsheets/d/1al5yII6CCiMIqg25QgFH5YfDz0oujColypIw72-obww" target="_blank">2016瀏覽資料</a>。</p>
            </div>
          </div>
          <div class="col-sm-6 part-right">
            <div class="desc">
              <h3 class="bold">CC0 1.0 公眾領域貢獻宣告</h3>
              <p>作者在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。</p>
              <p>為避免斷章取義，片段使用本站資訊請附上本站連結，讓每個人都有機會以自己的觀點關心台灣。</p>
              <p><a class="orange" href="https://github.com/g0v/councilor-voter-guide">程式原始碼</a></p>
              <h3 class="bold">APIs</h3>
              <p><a class="orange" href="/api/">APIs</a></p>
              <h3 class="bold">意見回饋</h3>
              <p> <a class="orange" href="https://g0v.hackpad.tw/--5PNuk4XGGrj">登入後直接打字</a><span>，歡迎各種意見回饋，一同為台灣人提供更好的工具平台努力。</span></p>
              <p>公開討論信箱：<a class="white" href="mailto:g0v-ly@googlegroups.com">g0v-ly@googlegroups.com </a></p>
            </div>
          </div>
        </div>
        <div class="row content relat hidden-sm hidden-md hidden-lg contentmb">
          <div class="col-xs-12 partmb" id="partmb">
            <div class="desc">
              <h3 class="bold">減少盲目投票，讓民主社會的台灣更進步</h3>
              <p>你的第一次投票經驗如何？</p>
              <p>我的第一次投票是聽從大人的意見投票，投完票後我覺得舒服，候選人我不認識，也不知道他做了什麼？ 立場是什麼？是否有為民發聲？</p>
              <p>我覺得得來不易的民主被我這種不懂的老百姓浪費了，如果民主制度是好的制度的話，它一定還少了什麼。</p>
              <h3 class="bold">拋磚引玉</h3>
              <p>希望吸引更多個人、團體自發性投入，發揮各自擅長的事讓台灣更好。希望有一天台灣政府能主動提供更正確完整的此類資訊給人民。</p>
              <h3 class="bold">公信力</h3>
              <p>本站資訊皆由政府、政黨或候選人所提供的資料經由電腦程式運算產生，以維持資訊之客觀，程式開源以供檢驗。</p>
              <h3 class="bold">目前成果</h3>
              <p>2014年及2016年選前一個月約有40萬不重複使用者，詳可見<a href="https://docs.google.com/spreadsheets/d/1pLtqmIozdxqGGpbaidfivlyRub43KbMFGs16Dxpqm8g" target="_blank">2014瀏覽資料</a>、<a href="https://docs.google.com/spreadsheets/d/1al5yII6CCiMIqg25QgFH5YfDz0oujColypIw72-obww" target="_blank">2016瀏覽資料</a>。</p>
            </div>
            <div class="desc">
              <h3 class="bold">CC0 1.0 公眾領域貢獻宣告</h3>
              <p>作者在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。</p>
              <p>為避免斷章取義，片段使用本站資訊請附上本站連結，讓每個人都有機會以自己的觀點關心台灣。</p>
              <p><a class="orange" href="https://github.com/g0v/councilor-voter-guide">程式原始碼</a></p>
              <p><a class="orange" href="/api/">APIs</a></p>
              <h3 class="bold">意見回饋</h3>
              <p> <a class="orange" href="https://g0v.hackpad.tw/--5PNuk4XGGrj">登入後直接打字</a><span>，歡迎各種意見回饋，一同為台灣人提供更好的工具平台努力。</span></p>
              <p>公開討論信箱：<a class="white" href="mailto:g0v-ly@googlegroups.com">g0v-ly@googlegroups.com </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}
