{% load staticfiles %}
{% load socialaccount %}
{% load extras %}
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=480">
        <meta http-equiv="Cache-control" content="public">
        {% block title %}
        {% endblock title %}
        <meta name="keywords" content="投票指南,2018投票指南,台灣,縣市長,縣長,市長,議員,縣議員,市議員,提案,議案,表決,議會,投票,選舉,公民" />
        <meta name="description" content="減少盲目投票，讓民主社會的台灣更進步" />
        <meta property="fb:admins" content="TaiwanLy"/>
        <meta property="fb:app_id" content="1959392647623072"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="投票指南"/>
        <meta property="og:url" content="{{current_url}}"/>
        {% block social_meta %}
        <meta property="og:description" content="減少盲目投票，讓民主社會的台灣更進步"/>
        <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
        <meta itemprop="description" content="減少盲目投票，讓民主社會的台灣更進步"/>
        <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
        {% endblock social_meta %}
        <link href="{% static "css/g0v.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "lib/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/all.min.css" %}">
        <script src="{% static "lib/html5shiv.min.js" %}"></script>
        <link rel="shortcut icon" href="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/favicon.ico.png">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
        {% block css_file %}
        {% endblock css_file %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-41993330-2', 'g0v.tw');
            ga('send', 'pageview');
        </script>
    </head>
    <body id="top">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="classJ loading">
            <div class="center">
                <div class="ld"><img src="{% static "img/dest/ring.gif" %}"></div>
            </div>
        </div>

        <nav class="navbar navbar-fixed-top">
            <div class="bg-cover abs"></div>
            <div class="container classJ contain-1200">
                <div class="bg abs"></div>
                <div class="navbar-header">
                <button class="hidden-xs navbar-search navbar-toggle" type="button">
                    <input type="text" placeholder="輸入關鍵字"><img class="img-responsive" src="{% static "img/dest/search.jpg" %}">
                </button>
                <button class="navbar-menu navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar top"></span><span class="icon-bar mid"></span><span class="icon-bar bottom"></span></button><a class="tracklink navbar-brand col-xs-6 col-sm-3" data-ga="logo" href="/" data-href="/">
                        <img class="img-responsive" src="{% static "img/dest/logo.png" %}"></a>
                <div class="relat col-xs-12 col-sm-7 pull-right" id="navbar">
                <ul class="nav navbar-nav relat">
                    <div class="navbar-toggle navbar-search-mb hidden-sm hidden-md hidden-lg" type="button">
                        <input type="text" placeholder="輸入關鍵字"><img class="img-responsive" src="{% static "img/dest/search.jpg" %}">
                    </div>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url "seemore" %}" href="{% url "seemore" %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>給你好看</span></a></li>
                    <li><a class="tracklink custom" data-ga="mayor" data-href="{% url "candidates:mayors_area" %}" href="{% url "candidates:mayors_area" %}"><i class="fa fa-caret-right" aria-hidden="true"></i><span>找縣市長 </span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url "candidates:councilors_area" %}" href="{% url "candidates:councilors_area" %}"><i class="fa fa-caret-right" aria-hidden="true"></i><span>找縣市議員</span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'select_county' category='bills' %}" href="{% url 'select_county' category='bills' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>找提案</span></a></li>
                    {% if county %}
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'votes:votes' county=county %}" href="{% url 'votes:votes' county=county %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>找表決</span></a></li>
                    {% else %}
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'votes:votes' %}" href="{% url 'votes:votes' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>找表決</span></a></li>
                    {% endif %}
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'platforms:lists' %}" href="{% url 'platforms:lists' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>許願池</span></a></li>
                    <li><a class="tracklink custom btn-footer hidden-sm hidden-md hidden-lg" data-ga="index" data-href="./" href="./"> <span>互動區</span></a></li>
                </ul>
                </div>
                </div>
            </div>
        </nav>

        {% block right %}
        {% endblock %}

        <div class="footer classJ">
            <div class="row contain-1000 classJ">
                <div class="col-sm-2 hidden-xs btn-j"><a href="{% url "candidates:intents" election_year=2018 %}">
                    <p>我是候選人</p></a></div>
                <div class="col-sm-2 hidden-xs btn-j"><a href="#">
                    <p>互動區</p></a></div>
                <div class="col-xs-8 col-sm-5 row site-logo">
                <div class="col-xs-5 power">2018 Powered by</div>
                <div class="col-xs-7 row"><img class="img-responsive" src="{% static "img/dest/site-logo.jpg" %}"><a class="col-xs-6 abs burnpoint" href="https://www.sparktaiwan.org/" target="_blank"></a><a class="col-xs-6 abs g0v" href="https://grants.g0v.tw/power/" target="_blank"></a></div>
                </div>
                <div class="col-xs-3 col-sm-2 btn-j btn-about"><a href="{% url 'about' %}">
                    <p>關於本站 </p></a></div>
                <div class="classJ btn-fb hidden-sm hidden-md hidden-lg abs btn-fb-fix"><a href="#"><img class="img-responsive" src="{% static "img/dest/fb.jpg" %}"></a></div>
                <div class="classJ btn-fb hidden-xs"><a target="_blank" href="https://www.facebook.com/TW.Voter.Guide/"><img class="img-responsive" src="{% static "img/dest/fb.jpg" %}"></a></div>
            </div>
        </div>

    <div class="pop pop-about fix inv" id="pop-about">
      <div class="bg abs">
        <div class="bg-right abs hidden-xs"></div>
      </div>
      <div class="container relat classJ contain-1000">
        <div class="row content hidden-xs">
          <div class="col-sm-6 part-left">
            <div class="logo"><img class="img-responsive" src="{% static "img/dest/logo-b.png" %}"></div>
            <div class="desc">
              <h3 class="bold">減少盲目投票，讓民主社會的台灣更進步</h3>
              <p>你的第一次投票經驗如何？</p>
              <p>我的第一次投票是聽從大人的意見投票，投完票後我覺得舒服，候選人我不認識，也不知道他做了什麼？ 立場是什麼？是否有為民發聲？</p>
              <p>我覺得得來不易的民主被我這種不懂的老百姓浪費了，如果民主制度是好的制度的話，它一定還少了什麼。</p>
              <h3 class="bold">拋磚引玉</h3>
              <p>希望吸引更多個人、團體自發性投入，發揮各自擅長的事讓台灣更好。希望有一天台灣政府能主動提供更正確完整的此類資訊給人民。</p>
              <h3 class="bold">公信力</h3>
              <p>本站資訊皆由政府所提供的資料經由電腦程式運算產生，以維持資訊之客觀，程式開源以供檢驗。</p>
              <h3 class="bold">目前成果</h3>
              <p>2014年選前一個月約有40萬不重複使用者，詳可見<a href="https://docs.google.com/spreadsheets/d/1pLtqmIozdxqGGpbaidfivlyRub43KbMFGs16Dxpqm8g" target="_blank">瀏覽資料</a>。</p>
            </div>
          </div>
          <div class="col-sm-6 part-right">
            <div class="logo relat"></div>
            <div class="desc">
              <h3 class="bold">CC0 1.0 公眾領域貢獻宣告</h3>
              <p>作者在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。</p>
              <p>為避免斷章取義，片段使用本站資訊請附上本站連結，讓每個人都有機會以自己的觀點關心台灣。</p>
              <h3 class="bold">程式原始碼</h3>
              <p><a class="orange" href="">資料抓取程式</a></p>
              <p> <a class="orange" href="">資料處理程式</a></p>
              <p><a class="orange" href="">網站程式</a></p>
              <h3 class="bold">APIs</h3>
              <p><a class="orange" href="">APIs</a></p>
              <h3 class="bold">意見回饋</h3>
              <p> <span class="orange">登入後直接打字</span><span>，歡迎各種意見回饋，一同為台灣人提供更好的工具平台努力。</span></p>
              <p>公開討論信箱：<a class="white" href="mailto:g0v-ly@googlegroups.com">g0v-ly@googlegroups.com </a></p>
            </div>
          </div>
          <div class="btn-close abs"><img src="{% static "img/dest/close.jpg" %}"></div>
        </div>
        <div class="row content relat hidden-sm hidden-md hidden-lg contentmb">
          <div class="col-xs-12 partmb" id="partmb">
            <div class="logo"><img class="img-responsive" src="{% static "img/dest/logo-b.png" %}"></div>
            <div class="desc">
              <h3 class="bold">減少盲目投票，讓民主社會的台灣更進步</h3>
              <p>你的第一次投票經驗如何？</p>
              <p>我的第一次投票是聽從大人的意見投票，投完票後我覺得舒服，候選人我不認識，也不知道他做了什麼？ 立場是什麼？是否有為民發聲？</p>
              <p>我覺得得來不易的民主被我這種不懂的老百姓浪費了，如果民主制度是好的制度的話，它一定還少了什麼。</p>
              <h3 class="bold">拋磚引玉</h3>
              <p>希望吸引更多個人、團體自發性投入，發揮各自擅長的事讓台灣更好。希望有一天台灣政府能主動提供更正確完整的此類資訊給人民。</p>
              <h3 class="bold">公信力</h3>
              <p>本站資訊皆由政府所提供的資料經由電腦程式運算產生，以維持資訊之客觀，程式開源以供檢驗。</p>
              <h3 class="bold">目前成果</h3>
              <p>2014年選前一個月約有40萬不重複使用者，詳可見<a href="https://docs.google.com/spreadsheets/d/1pLtqmIozdxqGGpbaidfivlyRub43KbMFGs16Dxpqm8g" target="_blank">瀏覽資料</a>。</p>
            </div>
            <div class="desc">
              <h3 class="bold">CC0 1.0 公眾領域貢獻宣告</h3>
              <p>作者在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。</p>
              <p>為避免斷章取義，片段使用本站資訊請附上本站連結，讓每個人都有機會以自己的觀點關心台灣。</p>
              <h3 class="bold">程式原始碼</h3>
              <p><a class="orange" href="">資料抓取程式</a></p>
              <p> <a class="orange" href="">資料處理程式</a></p>
              <p><a class="orange" href="">網站程式</a></p>
              <h3 class="bold">APIs</h3>
              <p><a class="orange" href="">APIs</a></p>
              <h3 class="bold">意見回饋</h3>
              <p> <span class="orange">登入後直接打字</span><span>，歡迎各種意見回饋，一同為台灣人提供更好的工具平台努力。</span></p>
              <p>公開討論信箱：<a class="white" href="mailto:g0v-ly@googlegroups.com">g0v-ly@googlegroups.com </a></p>
            </div>
          </div>
          <div class="btn-close abs"><img src="{% static "img/dest/close.jpg" %}"></div>
        </div>
      </div>
    </div>

        <script src="{% static "lib/jquery-2.2.4.min.js" %}"></script>
        <script src="{% static "lib/jquery.migrate.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js" %}"> </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" %}"></script>
        <script src="{% static "lib/underscore.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "lib/css/jquery.mCustomScrollbar.css" %}">
        <script src="{% static "lib/jquery.mCustomScrollbar.concat.min.js" %}"></script>
        <script src="{% static "lib/device.min.js" %}"></script>
        <script src="{% static "lib/modernizr-latest.js" %}"></script>
        <script src="{% static "lib/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "lib/jquery.ba-bbq.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "lib/css/slick.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/slick-theme.css" %}">
        <script src="{% static "lib/slick.min.js" %}"></script>
        <script src="{% static "js/bundle.min.js" %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/fonts.min.css" %}">
        <script type="text/javascript">
            var disqus_shortname = 'councils';
            var disqus_url = '{{current_url}}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>
