{% load staticfiles %}
{% load socialaccount %}
{% load extras %}
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=480">
        <meta http-equiv="Cache-control" content="public">
        {% block title %}
        {% endblock title %}
        <meta name="keywords" content="投票指南,2018投票指南,台灣,縣市長,縣長,市長,議員,縣議員,市議員,提案,議案,表決,議會,投票,選舉,公民" />
        <meta name="description" content="減少盲目投票，讓民主社會的台灣更進步" />
        <meta property="fb:admins" content="TaiwanLy"/>
        <meta property="fb:app_id" content="1959392647623072"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="投票指南"/>
        <meta property="og:url" content="{{current_url}}"/>
        {% block social_meta %}
        <meta property="og:description" content="減少盲目投票，讓民主社會的台灣更進步"/>
        <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
        <meta itemprop="description" content="減少盲目投票，讓民主社會的台灣更進步"/>
        <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
        {% endblock social_meta %}
        <link href="{% static "css/g0v.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static "lib/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/all.min.css" %}">
        <script src="{% static "lib/html5shiv.min.js" %}"></script>
        <link rel="shortcut icon" href="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/favicon.ico.png">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
        {% block css_file %}
        {% endblock css_file %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-41993330-2', 'g0v.tw');
            ga('send', 'pageview');
        </script>
    </head>
    <body id="top">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="classJ loading">
            <div class="center">
                <div class="ld"><img src="{% static "img/dest/ring.gif" %}"></div>
            </div>
        </div>

        <nav class="navbar navbar-fixed-top">
            <div class="bg-cover abs"></div>
            <div class="container classJ contain-1200">
                <div class="bg abs"></div>
                <div class="navbar-header">
                <button class="hidden-xs navbar-search navbar-toggle" type="button">
                    <input type="text" placeholder="輸入關鍵字"><img class="img-responsive" src="{% static "img/dest/search.jpg" %}">
                </button>
                <button class="navbar-menu navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar top"></span><span class="icon-bar mid"></span><span class="icon-bar bottom"></span></button><a class="tracklink navbar-brand col-xs-6 col-sm-3" data-ga="logo" href="/" data-href="/">
                        <img class="img-responsive" src="{% static "img/dest/logo.png" %}"></a>
                <div class="relat col-xs-12 col-sm-7 pull-right" id="navbar">
                <ul class="nav navbar-nav relat">
                    <div class="navbar-toggle navbar-search-mb hidden-sm hidden-md hidden-lg" type="button">
                        <input type="text" placeholder="輸入關鍵字"><img class="img-responsive" src="{% static "img/dest/search.jpg" %}">
                    </div>
                    <li><a class="tracklink custom" data-ga="index" data-href="#" href="#"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>給你好看</span></a></li>
                    <li><a class="tracklink custom" data-ga="mayor" data-href="{% url "candidates:mayors_area" %}" href="{% url "candidates:mayors_area" %}"><i class="fa fa-caret-right" aria-hidden="true"></i><span>找縣市長 </span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url "candidates:councilors_area" %}" href="{% url "candidates:councilors_area" %}"><i class="fa fa-caret-right" aria-hidden="true"></i><span>找縣市議員</span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'select_county' category='bills' %}" href="{% url 'select_county' category='bills' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>找提案</span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'select_county' category='votes' %}" href="{% url 'select_county' category='votes' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>找表決</span></a></li>
                    <li><a class="tracklink custom" data-ga="index" data-href="{% url 'platforms:lists' %}" href="{% url 'platforms:lists' %}"> <i class="fa fa-caret-right" aria-hidden="true"></i><span>許願池</span></a></li>
                    <li><a class="tracklink custom btn-footer hidden-sm hidden-md hidden-lg" data-ga="index" data-href="./" href="./"> <span>互動區</span></a></li>
                </ul>
                </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                {% block right %}
                {% endblock %}
            </div>
        </div>

        <div class="footer classJ">
            <div class="row contain-1000 classJ">
                <div class="col-sm-2 hidden-xs btn-j"><a href="{% url "candidates:intents" election_year=2018 %}">
                    <p>我是候選人</p></a></div>
                <div class="col-sm-2 hidden-xs btn-j"><a href="#">
                    <p>互動區</p></a></div>
                <div class="col-xs-8 col-sm-5 row site-logo">
                <div class="col-xs-5 power">2018 Powered by</div>
                <div class="col-xs-7 row"><img class="img-responsive" src="{% static "img/dest/site-logo.jpg" %}"><a class="col-xs-6 abs burnpoint" href="https://www.sparktaiwan.org/" target="_blank"></a><a class="col-xs-6 abs g0v" href="https://grants.g0v.tw/power/" target="_blank"></a></div>
                </div>
                <div class="col-xs-3 col-sm-2 btn-j btn-about"><a href="{% url 'about' %}">
                    <p>關於本站 </p></a></div>
                <div class="classJ btn-fb hidden-sm hidden-md hidden-lg abs btn-fb-fix"><a href="#"><img class="img-responsive" src="{% static "img/dest/fb.jpg" %}"></a></div>
                <div class="classJ btn-fb hidden-xs"><a target="_blank" href="https://www.facebook.com/TW.Voter.Guide/"><img class="img-responsive" src="{% static "img/dest/fb.jpg" %}"></a></div>
            </div>
        </div>

        <script src="{% static "lib/jquery-2.2.4.min.js" %}"></script>
        <script src="{% static "lib/jquery.migrate.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js" %}"> </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" %}"></script>
        <script src="{% static "lib/underscore.min.js" %}"></script>
        <script src="{% static "lib/modernizr-latest.js" %}"></script>
        <script src="{% static "lib/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "lib/jquery.ba-bbq.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "lib/css/slick.css" %}">
        <link rel="stylesheet" href="{% static "lib/css/slick-theme.css" %}">
        <script src="{% static "lib/slick.min.js" %}"></script>
        <script src="{% static "js/bundle.min.js" %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/fonts.min.css" %}">
        <script type="text/javascript">
            var disqus_shortname = 'councils';
            var disqus_url = '{{current_url}}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>
