{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>投票指南: 給你好看</title>
    <meta property="og:title" content="投票指南: 給你好看"/>
    <meta itemprop="name" content="投票指南: 給你好看">
{% endblock title %}

{% block css_file %}
    <link href="{% static "css/seemore.min.css" %}" rel="stylesheet">
{% endblock css_file %}

{% block right %}

    <input class="inv" id="page" type="text" value="seemore">
    <div class="preload abs"></div>
    <div class="wrapper relat">
      <div class="container relat classJ contain-1000">
        <div class="head-j row">
          <div class="col-xs-7 col-sm-9 col-md-10 title hidden-xs">
            <h1>給你好看</h1>
          </div><a class="btn-prev col-xs-4 col-sm-2 hidden-sm hidden-md hidden-lg pull-right" href="/#seemore">回上一頁</a>
          <div class="col-xs-7 col-sm-10 area hidden-sm hidden-md hidden-lg">
            <h2>公投</h2>
          </div>
          <div class="select-opt1 hidden-xs col-xs-12" style="padding-bottom: 20px">
              <a class="act" href="." data-id="1">公投</a>
              <a href="{% url "candidates:intents" election_year=2018 %}" data-id="2">我是候選人</a>
              <a href="{% url "suggestions:county_overview" %}" data-id="3">議員建議或配合款</a>
              <a href="{% url "candidates:user_generate_list" %}" data-id="4">你的推薦名單</a>
          </div>
          <div class="select-opt2 hidden-xs"></div>
          <div class="select-county-blk row">
          {% for referendum in referenda %}
          <div class="col-xs-12 col-sm-6" id="{{referendum.uid}}" style="padding-bottom: 10%">
                <a style="min-height: 130px; padding: 0" href="./#{{referendum.uid}}">
                    <dl class="dl-horizontal">
                        <dt>案號：</dt>
                        <dd>{{referendum.number}}</dd>
                        <dt>領銜人：</dt>
                        <dd>{{referendum.proposer}}</dd>
                        <dt>主文：</dt>
                        <dd>{{referendum.title}}</dd>
                    </dl>
                </a>
                <div class="btn-group btn-group-justified" role="group" style="margin-left: -15px;">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="{{referendum.cec_file_link}}" target="_blank">中選會理由書</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="https://drsgjxdg6zyfq.cloudfront.net/referendum/2018/{{referendum.uid}}.pdf" target="_blank">備份理由書</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="{{referendum.cec_page_link}}" target="_blank">詳細歷程</a>
                    </div>
                </div>
                <iframe src="https://docs.google.com/viewer?embedded=true&url=https://drsgjxdg6zyfq.cloudfront.net/referendum/2018/{{referendum.uid}}.pdf" style="width:100%; height:50%;" frameborder="0"></iframe>
            </div>
          {% endfor %}
        </div>
        <div class="content"></div>
      </div>
    </div>

    <div id="disqus_thread"></div>
{% endblock right %}
