{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>投票指南: 給你好看</title>
    <meta property="og:title" content="投票指南: 給你好看"/>
    <meta itemprop="name" content="投票指南: 給你好看">
{% endblock title %}

{% block css_file %}
    <link href="{% static "css/seemore.min.css" %}" rel="stylesheet">
{% endblock css_file %}

{% block right %}

    <input class="inv" id="page" type="text" value="seemore">
    <div class="preload abs"></div>
    <div class="wrapper relat">
      <div class="container relat classJ contain-1000">
        <div class="head-j row">
          <div class="col-xs-7 col-sm-9 col-md-10 title hidden-xs">
            <h1>給你好看</h1>
          </div><a class="btn-prev col-xs-4 col-sm-2 hidden-sm hidden-md hidden-lg pull-right" href="/">回上一頁</a>
          <div class="col-xs-7 col-sm-10 area hidden-sm hidden-md hidden-lg">
            <h2>相關圖表</h2>
          </div>
          <div class="select-opt1 hidden-xs col-xs-12">
              <a class="act" href="{% url "candidates:intents" election_year=2018 %}" data-id="1">2018候選人</a>
              <a href="{% url "suggestions:county_overview" %}" data-id="2">議員配合款</a>
          </div>
          <div class="select-opt2 hidden-xs"></div>
          <div class="select-county-blk row">
          {% for intent in intents %}
            <div class="col-xs-6 col-sm-3">
                <a class="info" href="{% url 'candidates:intent_detail' intent_id=intent.uid %}">
                    <div class="eng abs">
                        <p>{{intent.county}}</p>
                        <p>
                        {% if intent.type == 'mayors' %}
                            縣市長
                        {% else %}
                            議員
                        {% endif %}
                        </p>
                    </div>
                    <p class="relat">{{intent.name}}</p>
                    <p class="relat">{{intent.county}}</p>
                    <div class="hover-info">
                        {% if intent.slogan %}
                        {{intent.slogan}}
                        {% elif intent.motivation %}
                        {{intent.motivation}}
                        {% endif %}
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>
        <div class="content"></div>
      </div>
    </div>

    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script>
        var year_global = 2018;//(DEFAULT 為2018 )
        var jsonUrl_global = '{% static "/json/dest/constituencies_" %}'+year_global+'.json';
        $(document).ready( function() {
            $("#auto_locate").on('click', function() {
                function error(err) {
                    console.warn('ERROR(' + err.code + '): ' + err.message);
                };
                navigator.geolocation.getCurrentPosition(function(position) {
                    $.ajax({
                        url: 'https://sheethub.com/ronnywang/%E6%9D%91%E9%87%8C%E7%95%8C%E5%9C%9620140313/geolookup',
                        type: 'GET',
                        data: {
                            zoom: 19,
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        },
                        success: function(data){
                            return window.location.href = "/candidates/councilors/" + data[0].values[1] + "/";
                        },
                        error: function() { alert('抱歉，定位失敗，請手動選擇～'); },
                    });
                    }, error, {enableHighAccuracy: true});
            });
            if (!navigator.geolocation) {
                $("#auto_locate").hide;
            }
            $('#{{category}}').addClass('active');
            $('[data-toggle="collapse"]').on('click', function() {
                $('[data-toggle="collapse"]').not(this).find('.fa-angle-down').removeClass('up-side-down');
                $(this).find('.fa-angle-down').toggleClass('up-side-down');
            });
        });
    </script>
{% endblock script %}
