{% extends "base.html" %}
{% load extras %}

{% block title %}
<title>議員投票指南: {{election_year}}{{county}} - {{candidates.0.district}}候選人</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}{{county}} - {{candidates.0.district}}候選人"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}{{county}} - {{candidates.0.district}}候選人">
{% endblock title %}

{% block right %}
    <div class="hero-unit span12" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2 class="span8">{{election_year}} {{county}} - {{candidates.0.district}} 議員候選人</h2>
        <font class="span8">☞ 點選下表中任一藍字連結，可再進一步看該議員的<b>財產申報</b>、<b>政治獻金</b>、<b>工程建議款</b>等資訊。沒有連結表示不是現任議員，還只是候選人，所以沒有議會資料。</font>
    </div>
    <div class="row-fluid">
        {% with remark=county|each_county_remark %}
        {% if remark %}
        <div class="span12">
            <div class="alert">
                {% autoescape off %}
                    <font>{{remark}}</font>
                {% endautoescape %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <a href="http://web.cec.gov.tw/files/11-1000-5373.php"><h4>2014各縣市選舉公報</h4></a>
        {% if candidates %}
        <table class="table table-bordered table-condensed sortable zebra" >
            <thead>
                <tr style="font-weight:bold;background-color: #E1D0D0;">
                    <th rowspan="2">當選註記</th>
                    <th rowspan="2">得票數</th>
                    <th rowspan="2">候選人</th>
                    <th rowspan="2">黨籍</th>
                    <th rowspan="2">最近任期</th>
                    <th rowspan="2">主提案數 / 參與提案數</th>
                    <th rowspan="2">投票缺席率（%）</th>
                    <th rowspan="2">議會缺席次數</th>
                    <th colspan="3">上次競選政治獻金</th>
                    <th rowspan="2">財產申報</th>
                </tr>
                <tr style="background-color: #CCFFCC;">
                    <th>收入</th>
                    <th>支出</th>
                    <th>餘額</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for councilor in candidates %}
                    <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                        <td style="text-align:center; vertical-align:middle;">
                            {% if councilor.elected %}
                                <span class="badge badge-warning">◎</span>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">{{councilor.votes}}</td>
                        <td style="text-align:center; vertical-align:middle;" nowrap>{{councilor.name}}</td>
                        <td style="text-align:center; vertical-align:middle;">{{councilor.party}}</td>
                        {% if councilor.councilor_id %}
                            <td style="text-align:center; vertical-align:middle;">
                                {% with term_range=councilor.term_range %}
                                {% if term_range %}
                                    {{term_range}}
                                {% else %}
                                    {{councilor.last_election_year|election_year_range}}
                                {% endif %}
                                {% endwith %}
                                <a href="{% url 'councilors:platformer' councilor_id=councilor.councilor_id election_year=councilor.last_election_year %}"><br>（{{councilor.last_election_year}} 競選政見）</a>
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                {% with nbill=councilor.nbill %}
                                {% if nbill %}
                                    {{councilor.npribill}} / {{nbill}}
                                    <a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.last_election_year %}"><br>（看完整議案）</a>
                                {% elif nbill == '' %}
                                {% else %}
                                    0 / 0
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                {% with notvote=councilor.pnotvote %}
                                {% if notvote %}
                                    {{notvote}}
                                    <a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.last_election_year %}"><br>（看完整表決）</a>
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;">{{councilor.cs_absent}}</td>
                            <td style="text-align:center; vertical-align:middle;">
                                {% if councilor.in_total != None %}
                                    <a href="{% url 'councilors:personal_political_contributions' councilor_id=councilor.councilor_id election_year=councilor.last_election_year %}#d3_in"><font class="price">{{councilor.in_total}}</font></a>
                                {% endif %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                {% if councilor.out_total != None %}
                                    <a href="{% url 'councilors:personal_political_contributions' councilor_id=councilor.councilor_id election_year=councilor.last_election_year %}#d3_out"><font class="price">{{councilor.out_total}}</font></a>
                                {% endif %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                {% if councilor.balance != None %}
                                    <font class="price">{{councilor.balance}}</font>
                                {% endif %}
                            </td>
                            <td style="text-align:center; vertical-align:middle;"><a href="http://sunshine.cy.g0v.tw/people/{{councilor.name}}/property/overview/" target="_blank">{{councilor.name}}</a></td>
                        {% else %}
                            <td colspan="8"/>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $('.price').each(function(index,ele){
            var number = $(ele).text()
            zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
            $(ele).replaceWith(zh_number)
        })
    </script>
    {{ block.super }}
{% endblock script %}
