{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>議員投票指南: {{election_year}}{{county}} - {{district}}候選人</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}{{county}} - {{district}}候選人"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}{{county}} - {{district}}候選人">
    <link href="{% static "css/stacktable.min.css" %}" rel="stylesheet">
{% endblock title %}

{% block right %}
    <div class="hero-unit span12" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2 class="span8">{{election_year}} {{county}} - {{district}} 議員候選人</h2>
        <font class="span8">☞ 點選下表中任一藍字連結，可再進一步看該議員的<b>財產申報</b>、<b>政治獻金</b>、<b>工程建議款</b>等資訊。沒有連結表示不是現任議員，還只是候選人，所以沒有議會資料。</font>
    </div>
    <div class="row-fluid">
        {% with remark=county|each_county_remark %}
        {% if remark %}
        <div class="span12">
            <div class="alert">
                {% autoescape off %}
                    <font>{{remark}}</font>
                {% endautoescape %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% if candidates %}
        <table class="table table-bordered table-condensed table-striped sortable" >
            <thead>
                <tr style="font-weight:bold;background-color: #E1D0D0;">
                    <th>當選註記</th>
                    <th>得票數</th>
                    <th>候選人</th>
                    <th>黨籍</th>
                    <th>表決立場</th>
                    <th>提案立場</th>
                    <th>最近任期</th>
                    <th>數字統計</th>
                    <th>上次競選政治獻金</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td style="text-align:center; vertical-align:middle;">
                            {% if candidate.elected %}
                                <i class="fa fa-flag text-success fa-lg"></i>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.votes}}</td>
                        <td style="text-align:center; vertical-align:middle;" nowrap>{{candidate.name}}</td>
                        <td style="text-align:center; vertical-align:middle;">{{candidate.party}}</td>
                        {% with sp=standpoints|json_lookup:candidate.id %}
                        <td style="vertical-align:middle;">
                            {% if sp.votes %}
                                {% for standpoint in sp.votes %}
                                    {% if standpoint.decision == "反對" %}
                                        <i class="fa fa-times-circle text-error fa-fw"></i>
                                    {% elif standpoint.decision == "贊成" %}
                                        <i class="fa fa-check-circle text-success fa-fw"></i>
                                    {% elif standpoint.decision == "沒投票" %}
                                        <i class="fa fa-bed muted fa-fw"></i>
                                    {% elif standpoint.decision == "棄權" %}
                                        <i class="fa fa-question-circle text-warning fa-fw"></i>
                                    {% endif %}
                                    {{standpoint.title}}：{{standpoint.times}}次{{standpoint.decision}}
                                    <br>
                                {% endfor %}
                                <a href="{% url 'councilors:voter_sp' councilor_id=candidate.councilor_terms.0.councilor_id election_year=candidate.councilor_terms.0.election_year %}">其他...</a>
                            {% endif %}
                        </td>
                        <td style="vertical-align:middle;">
                            {% if sp.bills %}
                                {% for standpoint in sp.bills %}
                                    {% if standpoint.role == "主提案" %}
                                        <i class="fa fa-pencil text-error fa-fw"> </i>
                                    {% elif standpoint.role == "共同提案" %}
                                        <i class="fa fa-group text-success fa-fw"> </i>
                                    {% else %}
                                        <i class="fa fa-plus-circle text-warning fa-fw"> </i>
                                    {% endif %}
                                    {{standpoint.title}}：{{standpoint.times}}次{{standpoint.role}}
                                    <br>
                                {% endfor %}
                                <a href="{% url 'councilors:biller_sp' councilor_id=candidate.councilor_terms.0.councilor_id election_year=candidate.councilor_terms.0.election_year %}" >其他...</a>
                            {% endif %}
                        </td>
                        {% endwith %}
                        {% for councilor_term in candidate.councilor_terms %}
                            {% if forloop.counter0 == 0 %}
                            <td style="vertical-align:middle;">
                                 {{councilor_term.term_start_year}} ~ {{councilor_term.term_end_year}}
                                <a href="{% url 'councilors:platformer' councilor_id=councilor_term.councilor_id election_year=councilor_term.election_year %}"><br>（{{councilor_term.election_year}} 競選政見）</a>
                            </td>
                            <td style="vertical-align:middle;">
                                <ul>
                                {% if councilor_term.param.bills_role_statistics %}
                                    <li>{{councilor_term.param.bills_role_statistics.priproposer}} 次主提案</li>
                                    <li>{{councilor_term.param.bills_role_statistics.sponsor}} 次共同提案</li>
                                {% else %}
                                    <li>無提案</li>
                                {% endif %}
                                {% if councilor_term.param.votes_decision_statistics %}
                                    <li>投票缺席率：{{councilor_term.param.votes_decision_statistics.not_voting|percentage:councilor_term.param.votes_decision_statistics.total}} %（{{councilor_term.param.votes_decision_statistics.not_voting}} / {{councilor_term.param.votes_decision_statistics.total}}）</li>
                                {% endif %}
                                {% if councilor_term.param.attendance_statistics %}
                                    <li>議會缺席率：{{councilor_term.param.attendance_statistics.absent|percentage:councilor_term.param.attendance_statistics.total}} % （{{councilor_term.param.attendance_statistics.absent}} / {{councilor_term.param.attendance_statistics.total}}）</li>
                                {% endif %}
                                </ul>
                            </td>
                            {% endif %}
                        {% empty %}
                            <td colspan="2"/>
                        {% endfor %}
                        {% for term in candidate.politicalcontributions %}
                            <td style="vertical-align:middle;" nowrap>
                                    <i class="fa fa-plus-square-o text-success fa-fw"> </i>
                                    <a href="{% url 'candidates:pc' candidate_id=candidate.candidate_id election_year=candidate.election_year %}">收：<font class="price">{{term.pc.in_total}}</font></a>
                                    <br>
                                    <i class="fa fa-minus-square-o text-error fa-fw"> </i>
                                    <a href="{% url 'candidates:pc' candidate_id=candidate.candidate_id election_year=candidate.election_year %}">支：<font class="price">{{term.pc.out_total}}</font></a>
                                    <br>
                                    <i class="fa fa-balance-scale text-warning fa-fw"> </i>
                                    餘：<font class="price">{{term.pc.balance}}</font>
                        {% empty %}
                            <td/>
                        {% endfor %}
                        </td>
                        <td style="text-align:center; vertical-align:middle;">
                        {% if candidate.councilor_terms %}
                            <a href="http://sunshine.cy.g0v.tw/people/{{candidate.name}}/property/overview/" target="_blank">財產申報</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}

{% block script %}
    <script src="{% static "js/stacktable.min.js" %}" type="text/javascript"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $('table').cardtable();
        $('.price').each(function(index,ele){
            var number = $(ele).text()
            zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
            $(ele).replaceWith(zh_number)
        })
    </script>
    {{ block.super }}
{% endblock script %}
