{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南: {{election_year}}{{county}}候選人</title>
    <meta property="og:title" content="議員投票指南: {{election_year}}{{county}}候選人"/>
    <meta itemprop="name" content="議員投票指南: {{election_year}}{{county}}候選人">
{% endblock title %}

{% block right %}
    <div class="hero-unit row" style="margin-left: 0px;">
        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-logo/{{county}}.png"></img>
        <h2>{{election_year}} {{county}} - 議員選區</h2>
        {% with county_url=county|county_urls %}
        <a href="{{county_url}}" class="btn btn-primary btn-large" target="_blank">{{county}}議會網站</a>
        {% endwith %}
    </div>
    <div class="four column doubling ui grid row">
            {% for district in districts %}
            <div class="column direct-container">
            <a href="{% url 'candidates:district' county=county election_year=election_year constituency=district.constituency %}" class="direct-item {% cycle 'council-bluegreen' 'council-darkbluegreen' %}">
                <h4>{{district.constituency|stringformat:"02d"}}. {{district.district}}</h4>
                <div>&nbsp;</div>
                <div class="direct-sub">
                    <p class="county-candidate">{{district.candidates}}</p>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div id="disqus_thread"></div>
    </div>
{% endblock right %}
