{% extends "base.html" %}
{% load socialaccount %}
{% load humanize %}
{% load extras %}

{% block title %}
    <title>議員投票指南:擬參選人註冊登記</title>
    <meta property="og:title" content="議員投票指南:擬參選人註冊登記"/>
    <meta itemprop="name" content="議員投票指南:擬參選人註冊登記">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        .CodeMirror, .CodeMirror-scroll {
            display: none;
        }
    </style>
{% endblock title %}

{% block right %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=1959392647623072";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="page-header text-center">
        <h2>擬參選人：{{intent.name}} <small><i class="fa fa-thumbs-up"> {{intent.likes}}</i></small></h2>
            {% if request.user.is_authenticated %}
                <form class="form" action="" method="post">{% csrf_token %}
                {% if user_liked %}
                    <button class="btn btn-success" type="submit" name="decision" value="downvote"><i class="fa fa-thumbs-up"> 收回讚</i></button>
                {% else %}
                    <button class="btn btn-success" type="submit" name="decision" value="upvote"><i class="fa fa-thumbs-up"> 讚</i></button>
                {% endif %}
                </form>
            {% else %}
                <a href="/accounts/facebook/login/?next={% url 'candidates:intent_detail' intent_id=intent.uid %}" class="btn btn-success"><i class="fa fa-sign-in"> 登入按讚</i></a>
            {% endif %}
    </div>
    <div class="row-fluid">
        <div class="span2">
            <a href="{% url 'candidates:intent_home' %}" class="btn btn-info btn-large">
            {% if request.user.is_authenticated and request.user.id == intent.user_id %}
                編輯
            {% else %}
                我也來發表
            {% endif %}
            </a>
            <hr>
            <h5>修訂紀錄</h5>
            {% for revision in intent.history %}
                <!-- Button to trigger modal -->
                <a href="#modal-idx-{{forloop.counter}}" role="button" data-toggle="modal">{{ revision.modify_at|str2datetime|timesince }} ago</a><br>
                <!-- Modal -->
                <div id="modal-idx-{{forloop.counter}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✖</button>
                    <h3 id="myModalLabel">版本 {{forloop.counter}}<small>（{{ revision.modify_at|str2datetime|timesince }} ago）</small></h3>
                </div>
                <div class="modal-body">
                <div class="property-header">名字</div>
                <div class="property-body">{{revision.name}}</div>
                <div class="property-header">黨籍</div>
                <div class="property-body">{{revision.party}}</div>
                <div class="property-header">縣市</div>
                <div class="property-body">{{revision.county}}</div>
                <div class="property-header">選區</div>
                <div class="property-body district">{{revision.constituency}}</div>

                <div class="property-header">為什麼要選：</div>
                <textarea style="display: none" id="motivation-modal">{{revision.motivation}}</textarea>
                <div class="property-body hero-unit" id="motivation-modal_display"></div>
                <div class="property-header">政見：</div>
                <textarea style="display: none" id="platform-modal">{{revision.platform}}</textarea>
                <div class="property-body hero-unit" id="platform-modal_display"></div>
                <div class="property-header">經歷：</div>
                <textarea style="display: none" id="experience-modal">{{revision.experience}}</textarea>
                <div class="property-body hero-unit" id="experience-modal_display"></div>
                <div class="property-header">學歷：</div>
                <textarea style="display: none" id="education-modal">{{revision.education}}</textarea>
                <div class="property-body hero-unit" id="education-modal_display"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">關閉</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="span4">
            <div class="property-header">黨籍</div>
            <div class="property-body">{{intent.party}}</div>
            <div class="property-header">縣市</div>
            <div class="property-body">{{intent.county}}</div>
            <div class="property-header">選區</div>
            <div class="property-body district">{{intent.constituency}}</div>
            <div class="property-header">網站</div>
            <div class="property-body">
                <a href="{{request.user.socialaccount_set.first.extra_data.link}}" target="_blank"><i class="fa fa-facebook-square"> Facebook 個人頁面</i></a>
            </div>
            <hr>
            <div class="fb-comments" data-href="{{current_url}}" data-width="300" data-numposts="5"></div>
        </div>
        <div class="span6">
            <div class="property-header">為什麼要選：</div>
            <textarea style="display: none" id="motivation">{{intent.motivation}}</textarea>
            <div class="property-body hero-unit" id="motivation_display"></div>
            <div class="property-header">政見：</div>
            <textarea style="display: none" id="platform">{{intent.platform}}</textarea>
            <div class="property-body hero-unit" id="platform_display"></div>
            <div class="property-header">經歷：</div>
            <textarea style="display: none" id="experience">{{intent.experience}}</textarea>
            <div class="property-body hero-unit" id="experience_display"></div>
            <div class="property-header">學歷：</div>
            <textarea style="display: none" id="education">{{intent.education}}</textarea>
            <div class="property-body hero-unit" id="education_display"></div>
        </div>
    </div>
{% endblock right %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        $(document).ready( function() {
            $("textarea").each( function() {
                var simplemde = new SimpleMDE({ element: $(this)[0], toolbar: false , status: false});
                var renderedHTML = simplemde.options.previewRender(simplemde.value());
                $('#' + $(this).prop('id') + '_display').html(renderedHTML);
            });
            var src = [];
            $.ajax({
                url: '/static/json/county_district.json',
                async: false
            })
            .done(function (data) {
                src = data;
            });
            jQuery.each(src, function (index, value) {
                if ('{{intent.county}}' == value['county'] && '{{intent.constituency}}' == value['constituency'])
                    $('.district').text('（第' + ("00" + value['constituency']).substr(-2,2) + '選區）' + value['district']);
            });
        });
    </script>
{% endblock script %}
