{% extends "base.html" %}
{% load socialaccount %}
{% load extras %}

{% block title %}
    <title>{{request.GET.county}} {{election_year}} 擬參選人</title>
    <meta property="og:title" content="{{request.GET.county}} {{election_year}} 擬參選人"/>
    <meta itemprop="name" content="{{request.GET.county}} {{election_year}} 擬參選人">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        .CodeMirror, .CodeMirror-scroll {
            display: none;
        }
    </style>
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="動機、政見、學經歷、個人黨籍等資訊"/>
    <meta itemprop="description" content="動機、政見、學經歷、個人黨籍等資訊"/>
    {% if request.GET.county %}
        <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{request.GET.county}}.png"/>
        <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{request.GET.county}}.png"/>
    {% else %}
        <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
        <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/facebook-og-image.png"/>
    {% endif %}
{% endblock social_meta %}

{% block right %}
    <div class="text-center">
        <h2>
            {{election_year}}
            {% if request.GET.county %}
                {{request.GET.county}}
            {% endif %}
            {% if request.GET.constituency %}
                第{{request.GET.constituency}}選區
            {% endif %}
            擬參選人
        </h2>
        <h3><small>對當議員有想法？不想繳 20 萬選舉保證金，但想說說你的想法？</small>
        <a href="{% url 'candidates:intent_home' %}" class="btn btn-info"><i class="fa fa-pencil-square-o"> 來發表</i></a>
</h3>
    </div>
    <hr>
    <div style="margin: 10px 0;">
        <div class="btn-group" role="group" aria-label="選擇縣市" style="margin-right: 10px;">
            {% for county in intent_counties %}
            <a type="button" class="btn btn-default" href="{% url 'candidates:intents' election_year %}?county={{county.county}}">{{county.county}} <span class="badge">{{county.count}}</span></a>
            {% endfor %}
        </div>
        <ul class="list-unstyled" style="display: inline-block;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-desc"> 排序</i></a>
                <ul class="dropdown-menu">
                    <li><a href="?order_by=create_at" rel="tooltip" title="改依發表時間排序"><i class="fa fa-sort-numeric-desc"> 依發表時間</i></a></li>
                    <li><a href="?order_by=likes" rel="tooltip" title="改依按讚數排序"><i class="fa fa-sort-amount-desc"> 依按讚數</i></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row">
        {% for intent in intents %}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="text-center">
                    <h2><a href="{% url 'candidates:intent_detail' intent_id=intent.uid %}">{{intent.name}}</a> <small><a href="{% url 'candidates:intent_detail' intent_id=intent.uid %}"><i class="fa fa-thumbs-up"> {{intent.likes}}</i></a></small></h2>
                </div>
                <div class="panel-body">
                    <div class="col-sm-5">
                        <div id="video_frame_{{intent.uid}}"></div>
                        <div class="property-header">縣市選區</div>
                        <div class="property-body">
                            {{intent.county}}（第{{intent.constituency}}選區）
                            <p>{{intent.district}}</p>
                        </div>
                        <div class="property-header">個人黨籍</div>
                        <div class="property-body">{{intent.party}}</div>
                        {% if intent.links.0.url %}
                            <div class="property-header">網站</div>
                            <div>
                                <ul>
                                {% for link in intent.links %}
                                    {% if link.url %}
                                    <li>
                                        <a href="{{link.url}}" target="_blank"> {{link.note}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-7">

                        <div class="panel-group" id="{{intent.uid}}_accordion" role="tablist" aria-multiselectable="true">
                            {% if intent.motivation %}
                            <div class="panel panel-info">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#{{intent.uid}}_accordion" data-target="#{{intent.uid}}_motivation" aria-expanded="false" aria-controls="{{intent.uid}}_motivation">
                                    為什麼報名？
                                    <i class="fa fa-angle-down fa-lg pull-right"></i>
                                </div>
                                <div id="{{intent.uid}}_motivation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{intent.uid}}_motivation_heading">
                                    <div class="panel-body">
                                        <textarea style="display: none">{{intent.motivation}}</textarea>
                                        <div class="intent-property-body"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if intent.platform %}
                            <div class="panel panel-success">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#{{intent.uid}}_accordion" data-target="#{{intent.uid}}_platform" aria-expanded="false" aria-controls="{{intent.uid}}_platform">
                                    政見？
                                    <i class="fa fa-angle-down fa-lg pull-right"></i>
                                </div>
                                <div id="{{intent.uid}}_platform" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{intent.uid}}_platform_heading">
                                    <div class="panel-body">
                                        <textarea style="display: none">{{intent.platform}}</textarea>
                                        <div class="intent-property-body"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if intent.experience %}
                            <div class="panel panel-warning">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#{{intent.uid}}_accordion" data-target="#{{intent.uid}}_experience" aria-expanded="false" aria-controls="{{intent.uid}}_experience">
                                    經歷？
                                    <i class="fa fa-angle-down fa-lg pull-right"></i>
                                </div>
                                <div id="{{intent.uid}}_experience" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{intent.uid}}_experience_heading">
                                    <div class="panel-body">
                                        <textarea style="display: none">{{intent.experience}}</textarea>
                                        <div class="intent-property-body"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if intent.education %}
                            <div class="panel panel-danger">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#{{intent.uid}}_accordion" data-target="#{{intent.uid}}_education" aria-expanded="false" aria-controls="{{intent.uid}}_education">
                                    學歷？
                                    <i class="fa fa-angle-down fa-lg pull-right"></i>
                                </div>
                                <div id="{{intent.uid}}_education" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{intent.uid}}_education_heading">
                                    <div class="panel-body">
                                        <textarea style="display: none">{{intent.education}}</textarea>
                                        <div class="intent-property-body"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if intent.remark %}
                            <div class="panel panel-default">
                                <div class="panel-heading collapsed" role="button" data-toggle="collapse" data-parent="#{{intent.uid}}_accordion" data-target="#{{intent.uid}}_remark" aria-expanded="false" aria-controls="{{intent.uid}}_remark">
                                    備註？
                                    <i class="fa fa-angle-down fa-lg pull-right"></i>
                                </div>
                                <div id="{{intent.uid}}_remark" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{intent.uid}}_remark_heading">
                                    <div class="panel-body">
                                        <textarea style="display: none">{{intent.remark}}</textarea>
                                        <div class="intent-property-body"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'candidates:intent_detail' intent_id=intent.uid %}"><p>...更多關於{{intent.name}}</p></a>
                </div>
                <hr>
                <div class="fb-comments" data-href="{{site_domain}}{% url 'candidates:intent_detail' intent_id=intent.uid %}" data-width="200" data-numposts="2" data-order_by="reverse_time"></div>
            </div>
        </div>
        {% endfor %}
        {% if intents %}
            {% include "common/pagination.html" with items=intents page_size=0 %}
        {% endif %}
    </div>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        $(document).ready( function() {
            $('#candidates').addClass('active');
            $("[rel='tooltip']").tooltip();
            function get_youtube_id(url) {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    return match[2];
                } else {
                    return 'error';
                }
            }
            {% for intent in intents %}
                {% if intent.video_link %}
                    var video_id = get_youtube_id('{{intent.video_link}}');
                    if (video_id != 'error') {
                        var iframe_div = '<div id="video_frame_' + '{{intent.uid}}' + '"><iframe width="100%" src="//www.youtube.com/embed/' + video_id + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>';
                        $('#video_frame_'+'{{intent.uid}}').html(iframe_div);
                    }
                {% endif %}
            {% endfor %}
            $("textarea").each( function() {
                var simplemde = new SimpleMDE({ element: $(this)[0], toolbar: false , status: false});
                var renderedHTML = simplemde.options.previewRender(simplemde.value());
                var property_body = $(this).nextAll('div.intent-property-body:first');
                property_body.html(renderedHTML);
                property_body.children('table').addClass('table table-bordered table-condensed');
            });
            $('[data-toggle="collapse"]').on('click', function() {
                $(this).closest('.panel-group').find('[data-toggle="collapse"]').not(this).find('.fa-angle-down').removeClass('up-side-down');
                $(this).find('.fa-angle-down').toggleClass('up-side-down');
            });
            $('.panel-group .panel:nth-child(1) [data-toggle="collapse"]').trigger('click');
        });
    </script>
{% endblock script %}
