{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block title %}
    <title>{{election_year}} {{county}}長候選人</title>
    <meta property="og:title" content="{{election_year}} {{county}}長候選人"/>
    <meta itemprop="name" content="{{election_year}} {{county}}長候選人">
{% endblock title %}

{% block css_file %}
    <link href="{% static "css/county-mayor.min.css" %}" rel="stylesheet">
{% endblock css_file %}

{% block social_meta %}
    <meta property="og:description" content="{{candidates|length}}位候選人的基本資訊；曾任縣市長、立委或議員的工作紀錄"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
    <meta itemprop="description" content="{{candidates|length}}位候選人的基本資訊；曾任縣市長、立委或議員的工作紀錄"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
{% endblock social_meta %}

{% block right %}
    <input class="inv" id="page" type="text" value="county-mayor">
    <div class="preload abs"></div>
    <div class="wrapper relat">
        <div class="container relat classJ contain-1000">
            <div class="head-j row">
                <div class="col-xs-7 col-sm-9 col-md-10 title hidden-xs">
                    <h1>找縣市長</h1>
                </div>
                <div class="col-xs-7 col-sm-10 county hidden-sm hidden-md hidden-lg">
                    <h2>{{county}}</h2>
                </div>
                <a class="btn-prev col-xs-4 col-sm-2 hidden-sm hidden-md hidden-lg pull-right" href="{% url "candidates:mayors_area" %}">回上一頁</a>
                <a class="btn-other col-xs-5 col-sm-3 col-md-2 hidden-xs" href="#" onclick="location.href='{% url "candidates:councilors_districts" county=county %}'+location.hash">改找縣市議員</a>
                <div class="select-area hidden-xs"><a href="#六都" data-id="六都">六都</a><a href="#北部" data-id="北部">北部</a><a href="#中部" data-id="中部">中部</a><a href="#南部" data-id="南部">南部</a><a href="#東部" data-id="東部">東部</a><a href="#離島" data-id="離島">離島</a></div>
                <div class="select-county hidden-xs"></div>
                <select class="select col-sm-2 col-xs-5" onchange="location = this.value;">
                    {% for year in years %}
                        <option value="{% url "candidates:mayors" county=county election_year=year %}"{% if election_year == year %} selected{% endif %}>{{year|election_year_range}}</option>
                    {% endfor %}
                </select>
                <a class="btn-other col-xs-5 col-sm-3 col-md-2 hidden-sm hidden-md hidden-lg pull-right" href="{% url "candidates:councilors_districts" county=county %}">改找縣市議員</a>
            </div>

            <div class="content-list row col-xs-12">
            {% for candidate in candidates %}
                <div class="content-item row relat{% if candidate.occupy %} Current{% endif %}" data-id="{{forloop.counter}}">
                    <div class="label-current abs"><img class="img-responsive" src="{% static "img/dest/currency.png" %}"></div>
                    <div class="content-item-layer1 row relat">
                        <a class="profile col-xs-12 row">
                            <div class="photo pull-left relat">
                                <div class="relat">
                                {% if candidate.image %}

                                    <img src="{{candidate.image}}" alt="{{candidate.name}}" title="{{candidate.name}}">
                                {% endif %}
                                </div>
                            </div>
                            <div class="party pull-left relat">
                                <div class="relat">
                                    <img src="{% static "img/dest/" %}{{candidate.party}}.png" alt="{{candidate.party}}" title="{{candidate.party}}">
                                </div>
                            </div>
                            <div class="name col-xs-7 col-sm-4">
                                <h1 class="classJ exlrgt">{{candidate.name}}</h1>
                            </div>
                        </a>
                        <div class="personal-info col-xs-12 col-sm-3">
                            <div class="partyname">
                                <p>黨籍 / <span class="party-val">{{candidate.party}}</span></p>
                                <p>年齡 / <span class="party-val">{{candidate.candidate.birth|age}}歲</span></p>
                                <p>財產申報 / <a href="http://sunshine.cy.g0v.tw/people/{{candidate.name}}/property/overview/" target="_blank"> <img src="{% static "img/dest/dollar.png" %}"></a></p>
                                {% if candidate.data.mayor_terms %}
                                <p> {{candidate.data.mayor_terms|length}}屆縣市長</p>
                                {% endif %}
                                {% if candidate.data.legislator_terms %}
                                <p> {{candidate.data.legislator_terms|length}}屆立委</p>
                                {% endif %}
                                {% if candidate.councilor_terms %}
                                <p> {{candidate.councilor_terms|length}}屆議員</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="statistic-info col-xs-12 col-sm-4">
                            {% include "candidates/mayor_statistic_info.html" with term=candidate.data.terms.0 %}
                        </div>

                        <div class="contributions-info col-xs-12 col-sm-5 row" onclick="location.href='{% url 'candidates:pc' candidate_id=candidate.candidate_id election_year=candidate.election_year %}';" style="cursor: pointer;">
                            {% if candidate.politicalcontributions %}
                                <div class="tit col-xs-12">
                                    <p>政治獻金</p>
                                </div>
                                {% for term in candidate.politicalcontributions %}
                                    {% if candidate.politicalcontributions|length == 1 %}
                                        <div class="year-contri col-xs-3"></div>
                                    {% endif %}
                                    <div class="year-contri col-xs-6">
                                        <div class="year" data-toggle="tooltip" data-placement="top" title="{{term.election_year}} {{term.election_name}}">{{term.election_year}} </div>
                                        <div class="income row">
                                            <div class="col-xs-3 text-left">收：</div>
                                            <div class="col-xs-9 text-right"><font class="price">{{term.pc.in_total}}</font></div>
                                        </div>
                                        <div class="outcome row">
                                            <div class="col-xs-3 text-left">支：</div>
                                            <div class="col-xs-9 text-right"><font class="price">{{term.pc.out_total}}</font></div>
                                        </div>
                                        <div class="result row">
                                            <div class="col-xs-3 text-left">餘：</div>
                                            <div class="col-xs-9 text-right"><font class="price">{{term.pc.balance}}</font></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="content-btm-ui col-xs-12 row">
                            <div class="btn-detail btn col-sm-2 hidden-xs">了解更多 <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                            {% if candidate.data.legislator_terms %}
                                <a class="btn-resume btn col-xs-3 col-sm-2" href="https://vote.ly.g0v.tw/legislator/voter_sp/{{candidate.data.legislator_terms.0.legislator_id}}/{{candidate.data.legislator_terms.0.ad}}/" target="_blank">政治履歷 </a>
                            {% elif candidate.councilor_terms %}
                                <a class="btn-resume btn col-xs-3 col-sm-2" href="{% url 'councilors:biller_sp' councilor_id=candidate.councilor_terms.0.councilor_id election_year=candidate.councilor_terms.0.election_year %}">政治履歷 </a>
                            {% endif %}
                        </div>
                        <div class="clearb"></div>
                    </div>

                    <div class="content-detail row notFirstCandidate">

                        <div class="statistic-info col-xs-12 col-sm-4 col-sm-offset-3">
                        {% for term in candidate.data.terms %}
                        {% if forloop.counter0 > 0 %}
                            {% include "candidates/mayor_statistic_info.html" with term=term %}
                            <br>
                        {% endif %}
                        {% endfor %}
                        </div>

                        {% with sp=candidate.data.legislator_terms.0.standpoints %}
                        {% if sp %}
                            <div class="vote col-sm-6 row" onclick="window.open('https://vote.ly.g0v.tw/legislator/voter_sp/{{candidate.data.legislator_terms.0.legislator_id}}/{{candidate.data.legislator_terms.0.ad}}/');" style="cursor: pointer;">
                                <div class="tit row col-sm-12">
                                {% with term=candidate.data.legislator_terms.0 %}
                                    <div class="col-sm-12">{{term.term_start_year}} ~ {{term.term_end_year}}{{term.county}}立委任期 表決立場</div>
                                {% endwith %}
                                </div>
                                {% if sp %}
                                    {% for standpoint in sp %}
                                    <div class="list col-sm-12 row">
                                        <div class="col-sm-8 col-xs-6">{{standpoint.title}}</div>
                                        {% if standpoint.decision == "反對" %}
                                            <div class="statstic-num pull-right bg-reject">
                                        {% elif standpoint.decision == "贊成" %}
                                            <div class="statstic-num pull-right bg-approve">
                                        {% elif standpoint.decision == "沒投票" %}
                                            <div class="statstic-num pull-right bg-non-vote">
                                        {% elif standpoint.decision == "棄權" %}
                                            <div class="statstic-num pull-right bg-giveup">
                                        {% endif %}
                                            {{standpoint.decision}}
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% endwith %}

                        <div class="proposal col-sm-6 row">
                            {% if candidate.data.legislator_terms %}
                            <div class="tit row col-sm-12">
                                <div class="col-sm-12">{{candidate.data.legislator_terms.0.term_start_year}} 年{{candidate.data.legislator_terms.0.county}}立委競選政見</div>
                            </div>
                            <div class="list-politics col-sm-12">
                                {{candidate.data.legislator_terms.0.platform|safe|linebreaksbr}}
                            </div>
                            {% elif candidate.councilor_terms %}
                            <div class="tit row col-sm-12">
                                <div class="col-sm-12">{{candidate.councilor_terms.0.term_start_year}} 年{{candidate.councilor_terms.0.county}}議員競選政見</div>
                            </div>
                            <div class="list-politics col-sm-12">
                                {{candidate.councilor_terms.0.platform|linebreaksbr}}
                            </div>
                            {% endif %}
                        </div>

                        {% with sp=candidate.data.mayor_terms.0.standpoints %}
                        {% if sp %}
                        <div class="proposal col-sm-6 row">
                            <div class="tit row col-sm-12">
                            {% with term=candidate.data.mayor_terms.0 %}
                                <div class="col-sm-12">{{term.term_start_year}} ~ {{term.term_end_year}}{{term.county}}長任期 提案立場</div>
                            {% endwith %}
                            </div>
                            {% for standpoint in sp %}
                                <div class="list col-sm-12 row">
                                    <div class="col-sm-8 col-xs-6">{{standpoint.title}}</div>
                                    <div class="statstic-num pull-right bg-proposal">提案</div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}

                        {% if candidate.experience %}
                        <div class="statistic-info col-xs-12 col-sm-7">
                            <div class="tit">
                                <p>經歷</p>
                            </div>
                            <div class="statistic">
                                <p>{{candidate.experience|linebreaksbr}}
                            </div>
                        </div>
                        {% endif %}
                        {% if candidate.education %}
                        <div class="statistic-info col-xs-12 col-sm-5">
                            <div class="tit">
                                <p>學歷</p>
                            </div>
                            <div class="statistic">
                                <p>{{candidate.education|linebreaksbr}}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        var county_global='{{county}}';
        var constituency_global = 0;
        var year_global = {{election_year}};//(DEFAULT 為2018 )
        var jsonUrl_global = '{% static "/json/dest/constituencies_" %}'+year_global+'.json';
        var prefixUrl_global = '{% url "candidates:mayors_area" %}';
    </script>
    <hr>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $(document).ready( function() {
            $('[data-toggle="tooltip"]').tooltip()
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            })
            var county = '{{county}}';
            var county_ck = getCookie('county');
            var constituency_ck = getCookie('constituency');
            console.log();
            if ((county == county_ck) && county_ck && constituency_ck) {
                var link = '{% url "candidates:councilors_area" %}'+county_ck+'/'+constituency_ck+'/';
                $('a.btn-other').attr('href', link);
            }
        });
    </script>
{% endblock script %}
