{% extends "base.html" %}
{% load extras %}

{% block title %}
    {% if candidate %}
        <title>議員投票指南:{{candidate.name}}選議員的政治獻金</title>
        <meta property="og:title" content="議員投票指南:{{candidate.name}}選議員的政治獻金"/>
        <meta itemprop="name" content="議員投票指南:{{candidate.name}}選議員的政治獻金">
    {% endif %}
{% endblock title %}

{% block right %}
    <div align="center">
        <div class="text-center">
            <h2>{{candidate.name}} - 政治獻金</h2>
        </div>
        {% for term in candidate.politicalcontributions %}
            <div class="page-header">
                <h4>
                    {{term.election_year}}年競選&nbsp;&nbsp;餘額：<font class="price">{{term.pc.balance}}</font>
                </h4>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">

                     收入：<span class="price text-right">{{term.pc.in_total}}</span>
                    <div id="d3_in" align="center"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                     支出：<span class="price text-right">{{term.pc.out_total}}</span>
                    <div id="d3_out" align="center"></div>
                </div>
            </div>
        {% empty %}
            無紀錄
        {% endfor %}
    </div>
{% endblock right %}

{% block script %}
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    {% for term in candidate.politicalcontributions %}
        {% include "candidates/d3/pc_in_pie.html" with data=term.pc.in %}
        {% include "candidates/d3/pc_out_pie.html" with data=term.pc.out %}
    {% endfor %}
    <script>
        $(document).ready( function() {
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            });
            relax_in();
            relax_out();
        });
    </script>
    {{ block.super }}
{% endblock script %}
