{% extends "councilors/index/index.html" %}
{% load extras %}
{% block table %}
    {% if not councilors and not no_count_list %}
        <h3 class="text-center text-error">
        {% if index == 'not_voting' or index == 'conscience_vote' %}
            {{county}}沒有表決紀錄
        {% elif index == 'cs_attend' %}
            {{county}}沒有出缺席紀錄
        {% endif %}
    {% else %}
        <h3 class="text-center text-warning">
        {{param.title}}
        {% if index == 'bills' %}
            <form action="" method="get" class="form-inline text-center" id="form_bill">
                <fieldset>
                    <label class="checkbox">
                        <input type="checkbox" name="proposertype" id="proposertype" {% if proposertype %} checked{% endif %} rel="tooltip" title="打勾:不是第一提案人也計數">
                    </label>
                </fieldset>
            </form>
        {% endif %}
    {% endif %}
    </h3>
    <table class="table table-bordered table-condensed">
        {% with col=15 %}
        {% for councilor in councilors %}
            {% if forloop.counter0|divisibleby:col %}
                {% if forloop.counter0 != 0 %}
                    </tr>
                {% endif %}
                <tr style="background-color: {% cycle 'EEEEEE' 'white' %};">
                    <td></td>
            {% endif %}
            <td class="name {{councilor.district}} {{councilor.gender}}">
                {% if councilor.compare %}
                    <a href="{% url param.url_name councilor_id=councilor.councilor_id election_year=election_year %}" rel="tooltip" title="{{param.tooltip}} {{councilor.totalNum}}{{param.unit}}({{param.compare}}{{councilor.totalNum|divide:councilor.compare}} %)">
                {% elif compare %}
                    <a href="{% url param.url_name councilor_id=councilor.councilor_id election_year=election_year %}" rel="tooltip" title="{{param.tooltip}} {{councilor.totalNum}}{{param.unit}}({{param.compare}}{{councilor.totalNum|divide:compare}} %)">
                {% else %}
                    <a href="{% url param.url_name councilor_id=councilor.councilor_id election_year=election_year %}" rel="tooltip" title="{{param.tooltip}} {{councilor.totalNum}}{{param.unit}}">
                {% endif %}
                {% include "common/name_color_by_party.html" %}
                </a>
            </td>
        {% endfor %}
        {% if no_count_list %}
        <tr><td rowspan="{% widthratio no_count_list|length|add:10 col 1 %}" style="background-color: #FF99FF; text-align:center; vertical-align:middle; font-weight:bold;">0次</td>
            {% for councilor in no_count_list %}
                {% if forloop.counter0|divisibleby:col and forloop.counter0 != 0 %}
                </tr>
                {% endif %}
                <td class="name {{councilor.district}} {{councilor.gender}}" style="background-color: #FFDDFF;">
                    <a href="{% url param.url_name councilor_id=councilor.councilor_id election_year=election_year %}" rel="tooltip" title="{{param.tooltip}} 0{{param.unit}}">
                    {% include "common/name_color_by_party.html" %}
                    </a>
                </td>
            {% endfor %}
        {% endif %}
        {% include "common/color_info_of_party.html" with column=21 %}
        {% endwith %}
    </table>
{% endblock table %}
