{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{county}}({{election_year|election_year_range}})議員</title>
    <meta property="og:title" content="議員投票指南:{{county}}({{election_year|election_year_range}})議員"/>
    <meta itemprop="name" content="議員投票指南:{{county}}({{election_year|election_year_range}})議員">
{% endblock title %}

{% block right %}
    <div class="page-header text-center">
        <h3>{{county}} {{election_year|election_year_range}}</h3>
    {% include "common/highlight.html" with county=county ad=ad %}
    </div>

    {% block table %}
    {% endblock table %}

    {% if out_office %}
        <hr>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr style="background-color: #FFFFCC;">
                    <th style="width: 15%">離職議員</td>
                    <th style="width: 55%">離職原因</td>
                </tr>
            </thead>
            {% for councilor in out_office %}
            <tr>
                {% include "common/person_dropdown.html" with color=True %}
                <td>{{councilor.term_end.reason}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(document).ready( function() {
            $('#councilors').addClass('active');
            $('.dropdown-toggle').dropdown();
            $('#district').change(function() {
                $('#gender').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
            $('#gender').change(function() {
                $('#district').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
            $("[rel='tooltip']").tooltip();
            $('#proposertype').change(function() {
                $("#form_bill").trigger('submit');
            });
        });
    </script>
{% endblock script %}
