{% load extras %}
<style>

    .arc text {
        font: 16px sans-serif;
        font-weight: bold;
    }

    .arc path {
        stroke: #fff;
    }
    
    .label-line {
        stroke-width: 1;
        stroke: #393939;
    }
    
    .label-circle {
        fill: #393939;
    }

</style>
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
<script>

    var data = {{councilor.param.diversity|as_json}}

    var width = 240,
    height = 240,
    radius = Math.min(width, height) / 3,
    labelr = radius + 10; // radius for label anchor

    var color = d3.scale.ordinal()
    .range(["#0033FF", "#009900", "#FF6600", "#FFCC00", "brown", "#FF00FF", "#777777"])
    .domain(['中國國民黨', '民主進步黨', '親民黨', '新黨', '臺灣團結聯盟', '無黨團結聯盟', '無黨籍']);

    var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

    var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.value; });

    var svg = d3.select("#d3").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var g = svg.selectAll(".arc")
    .data(pie(d3.entries(data)))
    .enter().append("g")
    .attr("class", "arc");

    g.append("path")
    .attr("d", arc)
    .style("fill", function(d) { return color(d.data.key); });

    g.append("circle").attr({
        x: 0,
        y: 0,
        r: 2,
        fill: "#100",
        transform: function (d,i) {
        centroid = arc.centroid(d);
        return "translate(" + arc.centroid(d) + ")";
        },
        'class': "label-circle"
    });

    textLines = g.append("line").attr({
        x1: function (d, i) {
            return arc.centroid(d)[0];
        },
        y1: function (d, i) {
            return arc.centroid(d)[1];
        },
        x2: function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            return x;
        },
        y2: function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            y = Math.sin(midAngle) * labelr;
            return y;
        },
        'class': "label-line"
    });
    
    textLabels = g.append("text")
    .attr({
        x: function (d,i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            sign = (x > 0) ? 1 : -1
            labelX = x + (8 * sign)
            return labelX;
        },
        y: function (d,i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            y = Math.sin(midAngle) * labelr;
            return y;
        },
        'text-anchor': function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            return (x > 0) ? "start" : "end"; 
        },
        'class': 'label-text'
    })
    .text(function(d) {
        //if (d.value > 0.03)
        return d3.format("%")(d.value);
    })
    .style("fill", function(d) { return color(d.data.key); });
     
    alpha = 0.5;
    spacing = 15;

    function relax() {
        again = false;
        textLabels.each(function (d, i) {
            a = this;
            da = d3.select(a);
            y1 = da.attr("y");
            textLabels.each(function (d, j) {
                b = this;
                // a & b are the same element and don't collide.
                if (a == b) return;
                db = d3.select(b);
                // a & b are on opposite sides of the chart and
                // don't collide
                if (da.attr("text-anchor") != db.attr("text-anchor")) return;
                // Now let's calculate the distance between
                // these elements. 
                y2 = db.attr("y");
                deltaY = y1 - y2;
                // Our spacing is greater than our specified spacing,
                // so they don't collide.
                if (Math.abs(deltaY) > spacing) return;
                // If the labels collide, we'll push each 
                // of the two labels up and down a little bit.
                again = true;
                sign = deltaY > 0 ? 1 : -1;
                adjust = sign * alpha;
                da.attr("y",+y1 + adjust);
                db.attr("y",+y2 - adjust);
           });
       });
       // Adjust our line leaders here
       // so that they follow the labels. 
       if(again) {
           labelElements = textLabels[0];
           textLines.attr("y2",function(d,i) {
               labelForLine = d3.select(labelElements[i]);
               return labelForLine.attr("y");
           });
           setTimeout(relax,20)
       }
    }

    relax();
    
    var legend = d3.select("#d3").append("svg")
        .attr("class", "legend")
        .attr("width", radius * 2)
        .attr("height", radius * 2)
    .selectAll("g")
        .data(color.domain().slice())
    .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    legend.append("text")
        .attr("x", 24)
        .attr("y", 9)
        .attr("dy", ".35em")
        .text(function(d) { return d; });

</script>
