{% load extras %}
<style>

    .arc text {
        font: 16px sans-serif;
        font-weight: bold;
    }

    .arc path {
        stroke: #fff;
    }

</style>
<script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/d3.min.js"></script>
<script>

    var data = {{data|as_json}}

    var svg = d3.select("#d3_bubble");

    root = {children: data.map(function(d) { return {value: d.totalNum};})};
    nodes = d3.layout.pack().size([400, 400]).nodes(root);
    svg.selectAll("circle").data(nodes)
       .enter().append("circle").attr("class", "c3")
       .attr("cx", function(d, i) { return d.x; })
       .attr("cy", function(d, i) { return d.y; })
       .attr("r", function(d, i) { return d.r*0.2; })
       .attr("fill", "#000")
    svg.selectAll("text").data(nodes)
       .enter().append("text")
       .attr("x", function(d, i) { return d.x; })
       .attr("y", function(d, i) { return d.y; })
       .attr("font", "16px")
       .text(function(d, i) { return d.x; });

</script>
