{% load extras %}
<style>

    .arc text {
        font: 16px sans-serif;
        font-weight: bold;
    }

    .arc path {
        stroke: #fff;
    }

    .label-line {
        stroke-width: 1;
        stroke: #393939;
    }

    .label-circle {
        fill: #393939;
    }

</style>
<script>

    var data = {{data_expenses|as_json}}

    var width = 720,
    height = 360,
    radius = Math.min(width, height) / 3,
    labelr = radius + 10; // radius for label anchor

    var color = d3.scale.ordinal()
    .range(["#996699","#FF66CC",  "#66CC66", "#FF9933", "#6699FF", "#999999", "#FF9966", "#CCCC66", "#CC99FF", "#666699"])
    .domain(["out_personnel", "out_propagate", "out_campaign_vehicle", "out_campaign_office", "out_rally", "out_travel", "out_miscellaneous", "out_return", "out_exchequer", "out_public_relation"]);

    var legend = d3.scale.ordinal()
    .range(["人事費用", "宣傳", "租用宣傳車輛", "租用競選辦事處", "集會", "交通旅運", "雜支", "返還捐贈", "繳庫", "公共關係費用"])
    .domain(["out_personnel", "out_propagate", "out_campaign_vehicle", "out_campaign_office", "out_rally", "out_travel", "out_miscellaneous", "out_return", "out_exchequer", "out_public_relation"]);

    var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

    var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.value; });

    var svg = d3.select("#d3_out").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var g = svg.selectAll(".arc")
    .data(pie(d3.entries(data)))
    .enter().append("g")
    .attr("class", "arc");

    g.append("path")
    .attr("d", arc)
    .style("fill", function(d) { return color(d.data.key); });

    g.append("circle").attr({
        x: 0,
        y: 0,
        r: 2,
        fill: "#100",
        transform: function (d,i) {
        centroid = arc.centroid(d);
        return "translate(" + arc.centroid(d) + ")";
        },
        'class': "label-circle"
    });

    textLines_out = g.append("line").attr({
        x1: function (d, i) {
            return arc.centroid(d)[0];
        },
        y1: function (d, i) {
            return arc.centroid(d)[1];
        },
        x2: function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            return x;
        },
        y2: function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            y = Math.sin(midAngle) * labelr;
            return y;
        },
        'class': "label-line"
    });

    textLabels_out = g.append("text")
    .attr({
        x: function (d,i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            sign = (x > 0) ? 1 : -1
            labelX = x + (8 * sign)
            return labelX;
        },
        y: function (d,i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            y = Math.sin(midAngle) * labelr;
            return y;
        },
        'text-anchor': function (d, i) {
            centroid = arc.centroid(d);
            midAngle = Math.atan2(centroid[1], centroid[0]);
            x = Math.cos(midAngle) * labelr;
            return (x > 0) ? "start" : "end";
        },
        'class': 'label-text'
    })
    .text(function(d) {
        if (d.value != 0)
        return legend(d.data.key) + '：' + zhutil.approximate(d.value, {base: '萬', extra_decimal: 1});
    })
    .style("fill", function(d, i) { return color(i); });

    function relax_out() {
        alpha = 0.5;
        spacing = 15;
        again = false;
        textLabels_out.each(function (d, i) {
            a = this;
            da = d3.select(a);
            y1 = da.attr("y");
            textLabels_out.each(function (d, j) {
                b = this;
                // a & b are the same element and don't collide.
                if (a == b) return;
                db = d3.select(b);
                // a & b are on opposite sides of the chart and
                // don't collide
                if (da.attr("text-anchor") != db.attr("text-anchor")) return;
                // Now let's calculate the distance between
                // these elements.
                y2 = db.attr("y");
                deltaY = y1 - y2;
                // Our spacing is greater than our specified spacing,
                // so they don't collide.
                if (Math.abs(deltaY) > spacing) return;
                // If the labels collide, we'll push each
                // of the two labels up and down a little bit.
                again = true;
                sign = deltaY > 0 ? 1 : -1;
                adjust = sign * alpha;
                da.attr("y",+y1 + adjust);
                db.attr("y",+y2 - adjust);
           });
       });
       // Adjust our line leaders here
       // so that they follow the labels.
       if(again) {
           labelElements = textLabels_out[0];
           textLines_out.attr("y2",function(d,i) {
               labelForLine = d3.select(labelElements[i]);
               return labelForLine.attr("y");
           });
           setTimeout(relax_out,20)
       }
    }

</script>
