{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>議員投票指南:{{county}}-提案檢索</title>
    <meta property="og:title" content="議員投票指南:{{county}}-提案檢索"/>
    <meta itemprop="name" content="議員投票指南:{{county}}-提案檢索">
{% endblock title %}

{% block right %}
    <div class="span1">
    </div>
    <div class="span10">
        {% include "bills/billsearch.html" with placeholder_text="例：都市更新 房屋稅" %}
        {% if hot_standpoints %}
            <h4>熱門標籤：
            {% for standpoint in hot_standpoints %}
            <a href="{% url 'bills:bills' county=county %}?tag={{standpoint.title}}" rel="tooltip" title="包含此標籤的提案"><font style="color: {% cycle '#9F0050' '#FF0080' %};"><b>{{standpoint.title}}</b>&nbsp;&nbsp;</font></a>
            {% endfor %}
            </h4>
        {% endif %}
        {% if keyword_hot %}
            <h4>熱門：
                {% for keyword in keyword_hot %}
                    {% if forloop.counter0 < 5 %}
                        <a href="{% url 'bills:bills' county=county %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的提案"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
                    {% endif %}
                {% endfor %}
            </h4>

        {% endif %}
        <div class="well well-small">
            {{county}} {{ bills.paginator.count }} 個
            {% if request.GET.keyword %}
                與<font style="color: red;"><b>{{request.GET.keyword}}</b></font>相關的提案
            {% elif request.GET.tag %}
                與<font style="color: red;"><b>{{request.GET.tag}}</b></font>相關的提案
            {% else %}
                提案
            {% endif %}
        </div>
        {% if bills %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
            {% include "common/bills.html" %}
            {% include "common/pagination.html" with items=bills page_size=0 %}
        {% endif %}
    </div>
    <div class="span1">
    </div>
{% endblock right %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#bills').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
