{% extends "base.html" %}
{% load socialaccount %}

{% block title %}
    {% with councilor=bill.primary_proposer.0 %}
        <title>議員投票指南:{{county}}-{{ councilor.name }}的提案</title>
        <meta property="og:title" content="議員投票指南:{{county}}-{{ councilor.name }}提的提案"/>
        <meta itemprop="name" content="議員投票指南:{{county}}-{{ councilor.name }}提的提案">
    {% endwith %}
{% endblock title %}

{% block right %}
<div class="row-fluid">
    <div id="sidebar-left" class="span4" style="margin: 10px 5px">
        <form action="" method="post" class="form-inline">
            {% csrf_token %}
            <br>
            <fieldset>
                <label>請輸入最能代表這個提案的標籤：</label>
                {% if user.is_authenticated %}
                    <input type="search" name="keyword" id="keyword" class="span9" maxlength="20" placeholder="建議動詞+名詞的命題">
                    <button type="submit" class="btn">確定</button>
                {% else %}
                    <a href="{% provider_login_url "facebook" %}?next={% url 'bills:bill_detail' county=bill.county bill_id=bill.uid %}"><i class="fa fa-sign-in"> 登入加標籤</i></a>
                {% endif %}
            </fieldset>
            {% with size=3 %}
            {% for standpoint in standpoints_of_bill %}
                {% if forloop.counter0 == size %}
                    <button type="button" class="btn" data-toggle="collapse" data-target="#ref_more"><font>..... 其他標籤 <i class="fa fa-angle-down"></i></font></button>
                    <div id="ref_more" class="collapse">
                {% endif %}
                <h4>{{standpoint.pro}}人認為是
                    <font style="color: {% cycle '#9999FF' '#99CCCC' '#99CC99' '#999966' '#99CC33' %};"> {{standpoint}}</font>
                    {% if user.is_authenticated %}
                        {% if standpoint.have_voted %}
                            <button name="against" class="btn" value="{{standpoint.uid}}">取消 +1</button>
                        {% else %}
                            <button name="pro" class="btn" value="{{standpoint.uid}}">+1</button>
                        {% endif %}
                    {% else %}
                    <a href="{% provider_login_url "facebook" %}?next={% url 'bills:bill_detail' county=bill.county bill_id=bill.uid %}" class="btn"> 登入投票</a>
                    {% endif %}
                </h4>
            {% endfor %}
            {% if standpoints_of_bill|length > size %}
                </div>
            {% endif %}
            {% endwith %}
        </form>
        <hr>
        <h3>
            <i class="fa fa-pencil"> 主提案</i>
        </h3>
        {% if bill.param.sponsors_groupby_party.priproposer %}
            {% include "common/sponsor.html" with list=bill.param.sponsors_groupby_party.priproposer.party_list role="priproposer" %}
        {% else %}
            {{bill.proposed_by}}
        {% endif %}
        {% if bill.param.sponsors_groupby_party.sponsor %}
        <h3>
            <i class="fa fa-group"> 其他提案人</i>
        </h3>
            {% include "common/sponsor.html" with list=bill.param.sponsors_groupby_party.sponsor.party_list role="sponsor" %}
        {% endif %}
        {% if bill.petitioned_by %}
            <h3>
                <i class="fa fa-plus-circle"> 連署提案</i>
            </h3>
            {% if bill.param.sponsors_groupby_party.cosponsor %}
                {% include "common/sponsor.html" with list=bill.param.sponsors_groupby_party.cosponsor.party_list role="cosponsor" %}
            {% else %}
                {{bill.petitioned_by}}
            {% endif %}
        {% endif %}
        <div id="d3" align="left">
        </div>
    </div>
    <div id="content" class="span8" style="min-height: 700px; padding-bottom: 150px;">
        {% if bill %}
        {% if bill.links.0.url %}
            <a href="{{bill.links.0.url}}" target="_blank" class="lead pull-right"><i class="fa fa-info-circle"> 官方連結</i></a>
        {% else %}
            <a href="{{bill.link}}" target="_blank" class="lead pull-right"><i class="fa fa-info-circle"> 官方連結</i></a>
        {% endif %}
        <div align="center">
            <ul class="inline lead">
                <li>{{bill.type}}</li>
                <li>{{bill.category}}</li>
            </ul>
        </div>
        <dl class="dl-horizontal">
            <dt>案由</dt>
            <dd><p>{{bill.abstract}}</p></dd>
            {% if bill.description %}
                <dt>說明</dt>
                <dd><p>{{bill.description}}</p></dd>
            {% endif %}
            {% if bill.methods %}
                <dt>辦法</dt>
                <dd><p>{{bill.methods}}</p></dd>
            {% endif %}
            {% if bill.execution %}
                <dt>執行情形</dt>
                <dd><p>{{bill.execution}}</p></dd>
            {% elif bill.last_action %}
                <dt>執行情形</dt>
                <dd><p>{{bill.last_action}}</p></dd>
            {% endif %}
            {% if bill.remark %}
                <dt>備註</dt>
                <dd><p>{{bill.remark}}</p></dd>
            {% endif %}
            {% if bill.motions %}
                <dt>審議進度</dt>
                <dd>
                    <ul>
                    {% for motion in bill.motions %}
                        <li>
                            {{motion.motion}}{% if motion.date %}（{{motion.date}}）{% endif %}
                            {% if motion.resolution %}<p>{{motion.resolution}}</p>{% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        </dl>
        {% for link in bill.links %}
            {% if link.note == 'attach' %}
                <iframe src="https://docs.google.com/gview?embedded=true&url={{link.url}}" style="width:100%; height:50%;" frameborder="0"></iframe>
            {% endif %}
        {% endfor %}
        {% endif %}
        <hr>
        <div id="disqus_thread"></div>
    </div>
    <div class="span1">
    </div>
</div><!--end: row-fluid -->
<hr>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#bills').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
    {% if bill.sorted_proposer_set %}
    {% include "bills/d3/bill_pie.html" %}
    {% endif %}
{% endblock script %}
