{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>投票指南: 找提案</title>
    <meta property="og:title" content="投票指南: 找提案"/>
    <meta itemprop="name" content="投票指南: 找提案">
{% endblock title %}

{% block css_file %}
    <link href="{% static "css/bill.min.css" %}" rel="stylesheet">
{% endblock css_file %}

{% block right %}
    <input class="inv" id="page" type="text" value="bill-area">
    <div class="preload abs"></div>
    <div class="wrapper relat">
        <div class="container relat classJ contain-1000">
            <div class="head-j row">
                <div class="col-xs-7 col-sm-9 col-md-10 title">
                    <h1>找提案</h1>
                </div>
                <div class="col-xs-7 col-sm-10 area-selector hidden-sm hidden-md hidden-lg">
                    <select class="select">
                    <option value="六都">六都</option>
                    <option value="北部">北部</option>
                    <option value="中部">中部</option>
                    <option value="南部">南部</option>
                    <option value="東部">東部</option>
                    <option value="離島">離島</option>
                    </select>
                </div>
            </div>
            <div class="select-bill hidden-xs col-xs-12"><a{% if category == 'councilors' %} class="act"{% endif %} href="{% url "bills:bills_area" category='councilors' %}" data-id="councilors">縣市議員提案</a><a{% if category == 'city_gov' %} class="act"{% endif %} href="{% url "bills:bills_area" category='city_gov' %}" data-id="city_gov">縣市政府提案</a></div>
            <div class="select-area hidden-xs col-xs-12"><a href="#六都" data-id="六都">六都</a><a href="#北部" data-id="北部">北部</a><a href="#中部" data-id="中部">中部</a><a href="#南部" data-id="南部">南部</a><a href="#東部" data-id="東部">東部</a><a href="#離島" data-id="離島">離島</a></div>
            <div class="select-county-blk row"></div>
            </div>
            <div class="content"></div>
        </div>
    </div>
    <script>
        var year_global = 2018;//(DEFAULT 為2018 )
        var jsonUrl_global = '{% static "/json/dest/constituencies_" %}'+year_global+'.json';
        var prefixUrl_global = '{% url "bills:bills_area" category=category %}';
    </script>
    <div id="disqus_thread"></div>
{% endblock right %}
