{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    {% if councilor %}
        <title>議員投票指南:{{councilor.name}}的議案</title>
        <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的議案"/>
        <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的議案">
    {% else %}
        <title>議員投票指南:議員的法條修正草案</title>
        <meta property="og:title" content="議員投票指南:議員的議案"/>
        <meta itemprop="name" content="議員投票指南:議員的議案">
    {% endif %}
{% endblock title %}

{% block person_detail %}
<div class="row-fluid">
    <div class="span6">
        <br>
        <form action="" method="get" class="form-search" id="form">
            <fieldset>
                <input type="search" name="keyword" id="keyword" class="span8" maxlength="20" placeholder="例:都市更新 土地徵收...空格有交集效果" autofocus>
                <button type="submit" class="btn">Go!</button>
            </fieldset>
        </form>
        {% if keyword_hot %}
            <h4>熱門：
                {% for keyword in keyword_hot %}
                    {% if forloop.counter0 < 5 %}
                <a href="{% url 'councilors:biller' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的議案"><font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{keyword}}&nbsp;</font></a>
                    {% endif %}
                {% endfor %}
            </h4>
        {% endif %}
        <div class="well well-small">
            <font class="lead">
            {{councilor.name}}({{councilor.election_year|election_year_range}})：{{ bills|length }}個
            {% if keyword %}
            包含<font style="color: red;">"{{keyword}}"</font>的
            {% endif %}有參與的議案
            </font>
        </div>
    </div>
    <div class="span6">
        <div id="d3" align="center"></div>
        <p class="lead text-info text-center">共同提案/連署人的政黨分布</p>
    </div>
    <div class="span12">
    {% if bills %}
        {% load pagination_tags %}
        {% autopaginate bills 10 %}
        {% paginate %}
        {% include "common/bills.html" %}
        {% paginate %}
    {% else %}
        <p class="text-error">完全沒有議案</p>
    {% endif %}
    </div>
{% endblock person_detail %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#councilors_biller').removeAttr('href').addClass("btn-info");
        });
    </script>
    {{ block.super }}
    {% include "councilors/d3/councilor_bill_pie.html" %}
{% endblock script %}
