{% extends "base.html" %}

{% block title %}
    <title>議員投票指南</title>
    <meta property="og:title" content="議員投票指南"/>
    <meta itemprop="name" content="議員投票指南">
{% endblock title %}

{% block right %}
    <div class="span1">
    </div>
    <div class="span10">
        <div class="page-header text-center">
            <h3>請選擇縣市</h3>
        {% for county in counties %}
            <a class="btn btn-large btn-block {% cycle 'btn-primary' 'btn-info' 'btn-success' 'btn-warning' 'btn-danger' %}" type="button" href="{% url 'councilors:index' index=index county=county %}">{{county}}</a>
        {% endfor %}
        <a class="btn btn-large btn-block disabled" type="button">其他縣市努力趕工中，歡迎加入開發</a>
        </div>
        <hr>
        <div id="disqus_thread"></div>
    </div>
    <div class="span1">
    </div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#councilors').addClass('active');
        });
    </script>
{% endblock script %}
