{% extends "common/person_info.html" %}
{% load extras %}

{% block title %}
    {% if councilor %}
        <title>議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的工程建議款</title>
        <meta property="og:title" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的工程建議款"/>
        <meta itemprop="name" content="議員投票指南:{{councilor.name}}{{councilor.election_year|election_year_range}}的工程建議款">
    {% else %}
        <title>議員投票指南:議員的工程建議款</title>
        <meta property="og:title" content="議員投票指南:議員的工程建議款"/>
        <meta itemprop="name" content="議員投票指南:議員的工程建議款">
    {% endif %}
{% endblock title %}

{% block person_detail %}
    <div class="page-header">
        <a href="{% url 'suggestions:report' %}" ><h3 class="text-center">什麼是工程建議款？</h3></a>
        <p class="lead">{{councilor.name}}的工程款提案共通過：<font class="price">{{total_expense.sum}}</font></p>
    </div>
    <div class="row-fluid">
    {% if index != 'rawdata' %}
        <div class="span6">
            <div id="d3" align="center"></div>
            <p class="lead text-center">{{councilor.name}}的提案中<font class="text-success ">各個廠商得標的預算</font></p>
        </div>
        <div class="span6">
            <a class="lead" href="{% url 'councilors:suggestor' councilor_id=councilor.councilor_id election_year=councilor.election_year %}?index=rawdata">細目展開</a>
            <div class="pull-right">
                資料來源
                <a href="{{councilor.county|suggestions_offical_link}}" target="_blank">{{councilor.county}}主計處</a></li><br>
                    <br>
                </ul>
            </div>
            <table class="table table-bordered table-condensed sortable zebra" >
                <thead>
                    <tr style="font-weight:bold;background-color: #CCFF99;">
                        <th style="width: 40%">得標廠商</th>
                        <th style="width: 10%">得標次數</th>
                        <th style="width: 30%">通過預算</th>
                        <th style="width: 20%">每筆平均預算</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in suggestions %}
                        <tr style="background-color: {% cycle 'gainsboro' 'white' %};">
                            <td style="text-align:center; vertical-align:middle;">
                                {% if obj.bid_by %}
                                    <a href="{% url 'suggestions:bid_by' bid_by=obj.bid_by|urlencode %}">{{obj.bid_by}}</a>
                                {% else %}
                                    【來源檔案無資料】
                                {% endif %}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {{obj.count}}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if obj.sum == None %}
                                    【來源檔案無資料】
                                {% else %}
                                    <p class="price">{{obj.sum}}</p>
                                {% endif %}
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                {% if obj.sum != None %}
                                    <p class="price">{{obj.sum|divide:obj.count}}</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="span12">
            <div class="pull-right">
                資料來源
                <a href="{{councilor.county|suggestions_offical_link}}" target="_blank">{{councilor.county}}主計處</a></li><br>
                    <br>
                </ul>
            </div>
        {% if suggestions %}
            {% include "common/suggestions.html" %}
        {% else %}
            <p class="text-error">完全沒有工程建議款</p>
        {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock person_detail %}

{% block script %}
    {% include "common/sorttable.html" %}
    {% if index != 'rawdata' %}
        {{ block.super }}
        {% include "councilors/d3/suggestor_bid_by_pie.html" %}
    {% endif %}
    <link href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/jquery.datatables/1.9.4/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/twly.tw/zhutil.min.js"></script>
    <script>
        $(document).ready( function() {
            $('#datatable').dataTable({
                "sDom": "<'row'<'span6'f><'span6'i>r>t",
                "sPaginationType": "bootstrap",
                "sScrollY": "400px",
                "bPaginate": false,
                "aaSorting": [[0, "desc"]]
            });
            $('#councilors_suggestor').addClass("btn-info");
            $('.price').each(function(index,ele){
                var number = $(ele).text()
                zh_number = zhutil.approximate(number, {base: '萬', extra_decimal: 0});
                $(ele).replaceWith(zh_number)
            })
        });
    </script>
{% endblock script %}
