{% extends "base.html" %}
{% load socialaccount %}
{% load extras %}

{% block title %}
    {% if vote %}
        <title>議員投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決</title>
        <meta property="og:title" content="議員投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決"/>
        <meta itemprop="name" content="議員投票指南:{{ vote.0.vote.sitting.name }}({{ vote.0.vote.date|date:"Y-m-d" }})第{{vote.0.vote.vote_seq}}個表決">
    {% else %}
        <title>議員投票指南:單一表決名單</title>
        <meta property="og:title" content="議員投票指南:單一表決名單"/>
        <meta itemprop="name" content="議員投票指南:單一表決名單">
    {% endif %}
{% endblock title %}

{% block right %}
    <div class="row-fluid">
        <div class="span6">
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                <br>
                <fieldset>
                    <label>請輸入您覺得最能代表這個表決的標籤：</label>
                    {% if user.is_authenticated %}
                        <input type="search" name="keyword" id="keyword" class="span4" maxlength="20" placeholder="建議動詞+名詞的命題">
                        <button type="submit" class="btn">確定</button>
                    {% else %}
                        <a href="{% provider_login_url "facebook" %}?next={% url 'votes:vote' vote.0.vote_id %}"><i class="fa fa-sign-in"> 登入加標籤</i></a>
                    {% endif %}
                </fieldset>
                {% for standpoint in standpoints_of_vote %}
                    {% if forloop.counter0 == 5 %}
                        <button type="button" class="btn" data-toggle="collapse" data-target="#ref_more"><font>..... <i class="fa fa-angle-down"></i></font></button>
                        <div id="ref_more" class="collapse">
                    {% endif %}
                    <h4>{{standpoint.pro}}人認為是
                        <font style="color: {% cycle '#9999FF' '#99CCCC' '#99CC99' '#999966' '#99CC33' %};"> {{standpoint}}</font>
                        {% if user.is_authenticated %}
                            {% if standpoint.have_voted %}
                                <button name="against" class="btn" value="{{standpoint.uid}}">取消 +1</button>
                            {% else %}
                                <button name="pro" class="btn" value="{{standpoint.uid}}">+1</button>
                            {% endif %}
                        {% else %}
                            <a href="{% provider_login_url "facebook" %}?next={% url 'votes:vote' vote.0.vote_id %}" class="btn"> 登入投票</a>
                        {% endif %}
                    </h4>
                {% endfor %}
                {% if standpoints_of_vote|length > 5 %}
                    </div>
                {% endif %}
            </form>
            {% if vote %}
            {% with vote=vote.0.vote %}
            <div align="center">
                <br>
                <div id="d3" align="center"></div>
                <span class="badge badge-important"><font class="lead">{{vote.result|vote_result:'cht'}}</font></span>
            </div>
            <div class="hero-unit">
                <p class="text-success">表決日期：{{ vote.sitting.date|date:"Y-m-d" }}<span class="badge pull-right"><a href="{{vote.sitting.links.url}}" target="_blank"><font class="lead">下載原始會議紀錄</font></a></span></p>
                <span class="badge badge-info"><font class="lead">表決內容</font></span><br>
                <p>{{ vote.content|linebreaksbr }}</p>
            </div>
        </div><!--end: span6 -->
        <div class="span6">
            {% include "common/highlight.html" with county=vote.sitting.county election_year=vote.sitting.election_year %}
            {% endwith %}
            {% regroup vote by decision as ly_list %}
            <table class="table table-bordered table-condensed">
                {% with col=20 %}
                <caption style="text-align: left;font-size: 40px;margin-bottom: 20px;"><strong>記名表決名單</strong></caption>
                {% for decision in ly_list %}
                {% with decision=decision.grouper %}
                {% ifequal decision null %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #FFCC33;"><strong>沒投票
                {% endifequal %}
                {% ifequal decision -1 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #FF99CC;"><strong>反對票
                {% endifequal %}
                {% ifequal decision 1 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #CCFF99;"><strong>贊成票
                {% endifequal %}
                {% ifequal decision 0 %}
                <tr>
                    <td colspan="{{col}}" style="background-color: #CCCCCC;"><strong>棄權票
                {% endifequal %}
                </strong></td>
                {% endwith %}
                    {% for fragment in decision.list %}
                    {% if forloop.counter0|divisibleby:col %}
                    </tr><tr>
                    {% endif %}
                    {% with councilor=fragment.councilor %}
                        <td class="name {{councilor.district}} {{councilor.gender}}"><a href="{% url 'councilors:voter' councilor_id=councilor.councilor_id election_year=councilor.election_year %}" rel="tooltip" title="這位議員的表決投票紀錄">{% include "common/name_color_by_party.html" %}</a></td>
                    {% endwith %}
                    {% endfor %}
                {% endfor %}
                {% include "common/color_info_of_party.html" with column=col %}
                {% endwith %}
            </table>
            {% endif %}
            <hr>
            <div id="disqus_thread"></div>
        </div><!--end: span6 -->
    </div><!--end: row-fluid -->
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    {% include "votes/d3/vote_pie.html" %}
    <script>
        $(document).ready( function() {
            $('#votes').addClass('active');
            $("[rel='tooltip']").tooltip();
            $('#district').change(function() {
                $('#gender').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
            $('#gender').change(function() {
                $('#district').val("");
                $('.name').css('backgroundColor', '#FFF');
                $('.' + $(this).val()).css('backgroundColor', '#FF6');
            });
            relax();
        });
    </script>
{% endblock script %}
