{% extends "base.html" %}
{% load extras %}

{% block title %}
    <title>{{county}}議會-表決檢索</title>
    <meta property="og:title" content="{{county}}議會-表決檢索"/>
    <meta itemprop="name" content="{{county}}議會-表決檢索">
{% endblock %}

{% block social_meta %}
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{county}}.png"/>
{% endblock social_meta %}

{% block right %}
    <div class="container-fluid">
        <br>
        {% include "common/votes_search.html" %}
        <p>
        {% if hot_standpoints %}
            <h4>熱門標籤：
            {% for standpoint in hot_standpoints %}
                <a href="{% url 'votes:votes' county=county %}?tag={{standpoint.title}}" rel="tooltip" title="包含此標籤的表決"><font style="color: #9F0050;"><b>{{standpoint.title}}</b>&nbsp;&nbsp;</font></a>
            {% endfor %}
            </h4>
        {% endif %}
        {% if hot_keyword %}
            <h4>熱門：
            {% for keyword in hot_keyword %}
                <a href="{% url 'votes:votes' county=county %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: #9F0050;">{{keyword}}&nbsp;&nbsp;</font></a>
            {% endfor %}
            </h4>
        {% endif %}
        </p>
        <div class="well well-sm">
            {{county}} {{ votes.paginator.count }} 個
            {% if request.GET.keyword %}
                與<font style="color: red;"><b>{{request.GET.keyword}}</b></font>相關的
            {% elif request.GET.tag %}
                與<font style="color: red;"><b>{{request.GET.tag}}</b></font>相關的
            {% endif %}
            表決
        </div>
        {% if votes %}
        {% include "common/pagination.html" with items=votes page_size=0 %}
        <ul class="media-list row">
            {% for fragment in votes %}
                {% include "votes/vote_summary.html" %}
            {% endfor %}
        </ul>
        {% include "common/pagination.html" with items=votes page_size=0 %}
        {% endif %}
    </div>
{% endblock right %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#votes').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
