{% extends "base.html" %}
{% load socialaccount %}
{% load extras %}

{% block title %}
    <title>{{ vote.sitting.name }}({{ vote.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決</title>
    <meta property="og:title" content="{{ vote.sitting.name }}({{ vote.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決"/>
    <meta itemprop="name" content="{{ vote.sitting.name }}({{ vote.date|date:"Y-m-d" }})第{{vote.vote_seq}}個表決">
{% endblock title %}

{% block social_meta %}
    <meta property="og:description" content="{{vote.content|truncatechars:100}}"/>
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{vote.sitting.county}}.png"/>
    <meta itemprop="description" content="{{bill.content|truncatechars:100}}"/>
    <meta itemprop="image" content="https://s3-ap-southeast-1.amazonaws.com/councilor.tw/county-og-image/facebook-og-image-councilor-{{vote.sitting.county}}.png"/>
{% endblock social_meta %}

{% block right %}
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
            {% for fragment in vote.results %}
                <div class="col-sm-12">
                    <h3>
                        {% if fragment.decision == "反對" %}
                            <i class="fa fa-times-circle text-danger">
                        {% elif fragment.decision == "贊成" %}
                            <i class="fa fa-check-circle text-success">
                        {% elif fragment.decision == "沒投票" %}
                            <i class="fa fa-bed text-muted">
                        {% else %}
                            <i class="fa fa-question-circle text-warning">
                        {% endif %}
                        {{ fragment.decision }} </i>
                    </h3>
                    <ul>
                    {% for element in fragment.party_list %}
                        <li data-toggle="collapse" data-target="#ref_vote_{{fragment.decision}}_{{element.party}}"><span>{{element.party}}：{{element.councilors|length}}人 <i class="fa fa-caret-square-o-down"></i></span></li>
                        <div id="ref_vote_{{fragment.decision}}_{{element.party}}" class="collapse">
                            <ul class="list-inline">
                            {% for councilor in element.councilors %}
                                <li><a href="{% url 'councilors:voter_sp' councilor_id=councilor.councilor_id election_year=vote.sitting.election_year %}" rel="tooltip" title="這位立委的表決紀錄">{{councilor.name}}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </ul>
                </div><!--end: span -->
            {% endfor %}
            </div><!--end: row -->
        </div><!--end: col-sm-3 -->
        <div class="col-sm-5">
            <div class="jumbotron">
                <span class="label label-default pull-right"><font class="lead">{{vote.result|vote_result:'cht'}}</font></span>
                <h4>{{vote.sitting.county}}議會</h4>
                <a href="{{vote.sitting.links.url}}" target="_blank" class="pull-right"><i class="fa fa-file-pdf-o"> 官方會議記錄</i></a>
                <h4 class="text-success">表決日期：{{ vote.sitting.date|date:"Y-m-d" }}</h4>
                <hr>
                <h4>{{ vote.content|linebreaksbr }}</h4>
            </div>
        </div><!--end: col-sm-5 -->
        <div class="col-sm-4">
            <div style="background-color: #ffff001a; padding: 0 10px 10px 10px">
                <form action="" method="post" class="form-inline">
                    {% csrf_token %}
                    <br>
                    <fieldset>
                        <label>請輸入最能代表這個提案的標籤：</label>
                        {% if user.is_authenticated %}
                            <div class="input-group">
                                <input type="search" name="keyword" id="keyword" class="form-control input-lg" maxlength="20" placeholder="建議:動+名詞，如降屯房稅">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default input-lg">確定</button>
                                </span>
                            </div>
                        {% else %}
                            <a href="{% provider_login_url "facebook" %}?next={% url 'votes:vote' vote.uid %}" class="btn btn-default"><i class="fa fa-sign-in"> 登入加標籤</i></a>
                        {% endif %}
                    </fieldset>
                    {% with size=3 %}
                    {% for standpoint in standpoints_of_vote %}
                        {% if forloop.counter0 == size %}
                            <button type="button" class="btn " data-toggle="collapse" data-target="#ref_more"><font>..... 其他標籤 <i class="fa fa-angle-down"></i></font></button>
                            <div id="ref_more" class="collapse">
                        {% endif %}
                        <h4>{{standpoint.pro}}人認為是
                            <span class="label label-success">{{standpoint}}</span>
                            {% if user.is_authenticated %}
                                {% if standpoint.have_voted %}
                                    <button name="against" class="btn" value="{{standpoint.uid}}">取消 +1</button>
                                {% else %}
                                    <button name="pro" class="btn" value="{{standpoint.uid}}">+1</button>
                                {% endif %}
                            {% else %}
                            <a href="{% provider_login_url "facebook" %}?next={% url 'votes:vote' vote.uid %}" class="btn btn-default"><i class="fa fa-sign-in"> 登入投票</i></a>
                            {% endif %}
                        </h4>
                    {% endfor %}
                    {% if standpoints_of_bill|length > size %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
            <hr>
            <div class="fb-share-button" data-size="large" data-href="{{current_url}}" data-layout="button_count"></div>
            <a href="{% url 'dispatch_vote' county=vote.sitting.county %}" class="btn btn-danger pull-right"><i class="fa fa-angle-right"> 下一案</i></a>
        </div>
        <div class="modal fade " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        {% if standpoints_of_vote.0.pro > 0 %}
                            <p>
                                目前最高票的標籤：
                                {% for sp in standpoints_of_vote %}
                                    {% if sp.pro == standpoints_of_vote.0.pro %}
                                        <span class="label label-success">{{sp.title}}</span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                議員會被標註
                                {% for sp in standpoints_of_vote %}
                                    {% if sp.pro == standpoints_of_vote.0.pro %}
                                        <span class="label label-success">{{sp.title}}</span>
                                    {% endif %}
                                {% endfor %}
                                ，例如：
                            </p>
                            <ul>
                            {% for fragment in vote.results %}
                                <li>{{fragment.decision}} <span class="label label-success">{{standpoints_of_vote.0}}</span>：</li>
                                <ul class="list-inline">
                                    {% for element in fragment.party_list %}
                                        {% with councilor=element.councilors.0 %}
                                        <li><a href="{% url 'councilors:voter_sp' councilor_id=councilor.councilor_id election_year=vote.sitting.election_year %}" target="_blank">{{councilor.name}}</a></li>
                                        {% endwith %}
                                    {% endfor %}
                                    ...
                                </ul>
                            {% endfor %}
                            </ul>
                        {% elif standpoints_of_vote %}
                            <p class="text-danger">
                                此案的標籤還沒有人投票
                            </p>
                        {% else %}
                            <p class="text-danger">
                                此案還沒有人下標籤
                            </p>
                        {% endif %}
                        <p>在<span style="background-color: #ffff001a;">黃色標籤區</span>寫下、投下您的看法，謝謝您的參與！</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">這個案，我可以！</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!--end: row -->
    <hr>
    <div id="disqus_thread"></div>
{% endblock right %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#votes').addClass('active');
            $("[rel='tooltip']").tooltip();
            if ($(window).width() > 568)
                $('.modal').modal('show');
        });
    </script>
{% endblock script %}
