{% load extras %}
{% load highlight %}

<li class="media">
    <div class="media-body well">
        <div class="text-muted media-heading">
            （{{ fragment.date|date:"Y-m-d" }}）第{{ fragment.vote_seq }}個表決
        </div>
        <h5 class="text-success">表決內容</h5>
            <p>{{ fragment.content|linebreaksbr }}</p>
        <blockquote>
            <a href="{% url 'votes:vote' fragment.uid %}" rel="tooltip" title="看誰贊成誰反對"><i class="fa fa-pie-chart"> 看誰贊成誰反對</i></a>
            <a class="pull-right" href="{% url 'votes:vote' fragment.uid %}" ><i class="fa fa-tag"> 我要加標籤、投票</i></a>
        </blockquote>
        {% if fragment.standpoints.all %}
            <h5 class="text-success">標籤</h5>
            {% for standpoint in fragment.standpoints.all %}
                <a href="{% url 'votes:votes' county=county %}?tag={{standpoint.title}}" rel="tooltip" title="有同樣標籤的表決">
                    <font style="color: {% cycle '#FF0099' '#FF33CC' '#FF6699' '#FF9966' '#FFCC00' %};">{{standpoint.title}}</font>
                </a>
                &nbsp;&nbsp;
            {% endfor %}
        {% endif %}
        <h5 class="text-success">表決結果</h5>
        <h3>
            <span class="label label-default">{{fragment.result|vote_result:'cht'}}</span>
            {% if fragment.conflict %}
                <small class="text-danger">有議員脫黨投票</small>
            {% endif %}
        </h3>
    </div>
</li>
