{% extends "base.html" %}
{% load extras %}

{% block title %}
    {% if index == 'conscience' %}
        <title>議員投票指南:脫黨表決檢索</title>
        <meta property="og:title" content="議員投票指南:脫黨表決檢索"/>
        <meta itemprop="name" content="議員投票指南:脫黨表決檢索">
    {% else %}
        <title>議員投票指南:全表決檢索</title>
        <meta property="og:title" content="議員投票指南:全表決檢索"/>
        <meta itemprop="name" content="議員投票指南:全表決檢索">
    {% endif %}
{% endblock %}

{% block right %}
    <div class="span1">
    </div>
    <div class="span10">
        {% include "common/search_keyword_form.html" %}
        <p>
        {% if hot_standpoints %}
            熱門標籤：
            {% for standpoint in hot_standpoints %}
                <a href="{% url 'votes:votes' county=county %}?tag={{standpoint.title}}" rel="tooltip" title="包含此標籤的表決"><font style="color: #9F0050;"><b>{{standpoint.title}}</b>&nbsp;</font></a>
            {% endfor %}
        {% endif %}
        {% if hot_keyword %}
            <br>熱門搜尋：
            {% for keyword in hot_keyword %}
                <a href="{% url 'votes:votes' county='臺北市' index=index %}?keyword={{keyword}}" rel="tooltip" title="包含此關鍵字的表決"><font style="color: #9F0050;">{{keyword}}&nbsp;</font></a>
            {% endfor %}
        {% endif %}
        </p>
        <div class="well well-small">
            <font class="lead">{{county}} {{ votes.paginator.count }} 個
            {% if keyword %}包含<font style="color: red;">"{{keyword}}"</font>的
            {% endif %}
            {% if index == 'conscience' %}<b>脫黨</b>
            {% endif %}
            {% if result %}<b>{{result|vote_result:'cht'}}</b>的
            {% endif %}
            表決
            </font>
        </div>
        {% if votes %}
        {% include "common/pagination.html" with items=votes page_size=0 %}
        <ul class="media-list">
            {% for fragment in votes %}
                {% include "votes/vote_summary.html" %}
            {% endfor %}
        </ul>
        {% include "common/pagination.html" with items=votes page_size=0 %}
        {% endif %}
        <hr>
    </div>
    <div class="span1">
    </div>
{% endblock right %}

{% block backtotop %}
    {{ block.super }}
{% endblock backtotop %}

{% block script %}
    {% include "common/keyword_auto_complete.html" %}
    <script>
        $(document).ready( function() {
            $('#votes').addClass('active');
            $("[rel='tooltip']").tooltip();
        });
    </script>
{% endblock script %}
