{% load extras %}

<div class="content-item row relat Current" data-id="1">
    <div class="markups col-xs-12 col-sm-6 text-right col-sm-push-6">
    {% for tag in fragment.tags %}
        <div class="markup-item d-inline-block">
            <a href="{% url 'votes:votes' county=county %}?tag={{tag.title}}" type="button" rel="tooltip" title="其他同類提案">{{tag.title}}</a>
            <div class="num d-inline-block">{{tag.pro}}</div>
        </div>
    {% endfor %}
    </div>
    <div class="date col-xs-12 col-sm-6 col-sm-pull-6">
        <h3>{{ fragment.date|date:"Y-m-d" }}</h3>
    </div>
    <div class="desc col-xs-12 col-sm-12">
        <p>表決內容</p>
        <p>{{ fragment.content }}</p>
        <p>表決結果</p>
        <p>
            <span class="label label-default">{{fragment.result|vote_result:'cht'}}</span>
            {% if fragment.conflict %}
                <small class="text-danger">有議員脫黨投票</small>
            {% endif %}
        </p>
    </div>
    <a class="btn-j pull-right" href="{% url 'votes:vote' fragment.uid %}">一起來點評</a>
</div>
